<div id='contestant-<%= contestant.id %>' class="contestant">
  <div class="vote_system">
    <%= vote_btn(contestant) %>
    <p class="counter">
    <%= vote_count(contestant) %>
    </p>
  </div>

<% cache contestant.profile do %>
  <% if mypage_present?(contestant) %>
    <div class="mypage_btn">
      <a href="/contestants/<%= contestant.profile.user_id %>/mypage"><%= image_tag 'btn/btn_mypage.png', :width => '80' %></a>
    </div>
  <% end %>

  <div class="picture">
    <% if contestant.profile.movie_url.present? %>
      <!-- youtube movie -->
      <iframe max-width="600" src="<%= contestant.profile.movie_url %>" frameborder="0" allowfullscreen></iframe>
    <% else %>
      <%= image_tag contestant.profile.profile_image.thumb(300, 300) %>
    <% end %>
  </div>
  <div class="profile">
    <p class="url"><%= link_btn(contestant.profile) %></p>
    <h3 class="furigana"><%= contestant.profile.hurigana %></h3>
    <h2 class="name"><%= contestant.profile.name %></h2>
    <p class="age">年齢：<%= contestant.profile.age %></p>
    <p class="hometown">出身：<%= contestant.profile.come_from %></p>
    <p class="height">身長：<%= contestant.profile.height %></p>
    <p class="appeal">一言アピール！</p>

    <textarea readonly name="comment"><%= contestant.profile.comment %></textarea>
  </div>
<% end %>
</div>
