<div id ="completed">
  <div class="message">
    <h1>エントリーが完了しました！</h1>
    <p>内容を確認し、メールを送信いたします。<br>24時間以内に返信がなかった場合、ご記入いただいたメールアドレスが間違っている可能性がございます。<br>
    大変お手数ですが、再度エントリーをお願い致します。</p>
  </div>
  <div id="entry_btn"><%= link_to "トップページに戻る",'/'  %></div>
</div>

<div id="banner_big">

  <script type="text/javascript">
  var lists=[
  '<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel.jpg' %></a>',
  '<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel2.jpg' %></a>',
  '<a href="http://www.surf-bev.com/" target="blank_"><%= image_tag 'banner/surf.jpg' %></a>',
  '<a href="http://www.cosme-ken.org/" target="blank_"><%= image_tag 'banner/cosmeken.jpg' %></a>',
  ];

  var rNo = Math.floor(Math.random() * lists.length);
  $(document).ready(function() {
  document.getElementById('banner_big').innerHTML = lists[rNo];
  });
  </script>
</div>
