<div id="entry">
  <div id="mainimage">
    <%= image_tag 'mainimages/entry_mainimage.jpg' %>
  </div>

<!--   <div class="to_entries"><p><a href='/entries'>美女はこちら！</a></p></div> -->
    <div class="text text1">
      <p>エントリーされた方はこちらのフォーマットで掲載されます</p>
    </div>
<!-- CONTESTANT -->
    <div class="contestant">
      <div class="vote_system">
        <a href="thankyou"><%= image_tag 'kawaii.png', :width => '80' %></a>
        <p class="counter">513</p>
      </div>
      <div class="mypage_btn">
        <a href="mypage"><%= image_tag 'btn/btn_mypage.png', :width => '80' %></a>
      </div>
      <div class="picture">
        <%= image_tag 'suzuki_reiko_example.jpg' %>
      </div>
      <div class="profile">
        <p class="url"><a href="https://twitter.com/2015MissSuzuki" target="_blank"><%= image_tag 'btn/btn_tw.png', :width => '80' %></a></p>
        <h3 class="furigana">すずきれいこ</h3>
        <h2 class="name">鈴木例子</h2>
        <p class="age">年齢：22</p>
        <p class="hometown">出身：東京都</p>
        <p class="height">身長：161cm</p>
        <p class="appeal">一言アピール！</p>
        <textarea name="comment">鈴木に生まれてきてよかった！</textarea>
      </div>
    </div>
<!-- /CONTESTANT -->

  <div class="text text2">
    <p>こちらの<a href="/entrypolicy">エントリーポリシー</a>をご確認のうえエントリーをお願いします。</p>
  </div>
  <div id="entry_btn"><a href="new">ENTRY</a></div>

  <div id="banner_big"></div>
    <script type="text/javascript">
    var lists=[
    '<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel.jpg' %></a>',
    '<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel2.jpg' %></a>',
    '<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel3.jpg' %></a>',
    '<a href="http://www.surf-bev.com/" target="blank_"><%= image_tag 'banner/surf.jpg' %></a>',
    '<a href="http://www.cosme-ken.org/" target="blank_"><%= image_tag 'banner/cosmeken.jpg' %></a>',
    ];

    var rNo = Math.floor(Math.random() * lists.length);
    $(document).ready(function() {
    document.getElementById('banner_big').innerHTML = lists[rNo];
    });
    </script>
  </div>



</div>