<div id="contestant">
  <div id="mainimage">
    <%= image_tag 'mainimages/group1_mainimage.jpg' %>
  </div>

  <div class="content_top">
    <% if flash[:alert] %>
      <p><%= flash[:alert] %></p>
    <% end %>
  </div>
  <div class="content_middle">
    <div class="column column1">
      <%= render :partial => 'contestant', :collection => @contestant[0] %>
    </div>
    <div class="column column2">
      <%= render :partial => 'contestant', :collection => @contestant[1] %>
    </div>
    <div class="column column3">
      <%= render :partial => 'contestant', :collection => @contestant[2] %>
    </div>
    <p id="to_top"><a href=<% '/' %>><%= image_tag 'to_top.png', :width=> '50px'   %></a></p>
  </div>
</div>


<div id="banner_big"></div>

<script type="text/javascript">
var lists=[
'<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel.jpg' %></a>',
'<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel2.jpg' %></a>',
'<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel3.jpg' %></a>',
'<a href="http://www.surf-bev.com/" target="blank_"><%= image_tag 'banner/surf.jpg' %></a>',
'<a href="http://www.cosme-ken.org/" target="blank_"><%= image_tag 'banner/cosmeken.jpg' %></a>',
];

var rNo = Math.floor(Math.random() * lists.length);
$(document).ready(function() {
document.getElementById('banner_big').innerHTML = lists[rNo];
});
</script>
