
<div id="mainimage">
  <%= image_tag "mainimages/group#{params[:id]}_mainimage.jpg" %>
</div>

<div class="group_btn_wrap">
  <% link_group_ids(url_for(params[:id]).to_i).each do |i| %>
    <div class='<%= i.ordinalize %>_group_btn group_link_btn group_btn'>
      <%= link_to"予選第#{i}グループ", contestants_path(i) %>
    </div>
  <% end %>
</div>

<%
=begin
<div>
  <aaa%= remaining_vote_count_text(url_for(params[:id]).to_i) %aaa>
</div>
=end
%>

<div class="content_top">
  <% if flash[:alert] %>
    <p><%= flash[:alert] %></p>
  <% end %>
  <div class="content_middle">
    <div class="column column1">
      <%= render :partial => 'contestant', :collection => @contestant[0] %>
    </div>
    <div class="column column2">
      <%= render :partial => 'contestant', :collection => @contestant[1] %>
    </div>
    <div class="column column3">
      <%= render :partial => 'contestant', :collection => @contestant[2] %>
    </div>
    <p id="to_top"><a href=<% '/' %>><%= image_tag 'to_top.png', :width=> '50px'   %></a></p>
  </div>
</div>
