<div id="mypage">
  <div id="content">
      <div class="mypage_contestant">
        <div class="picture">
          <div class="vote_system">
            <%= link_to (image_tag 'kawaii.png', width: 80), contestant_vote_path(contestant_id: @contestant_profile.user_id), method: :post, params: { group_id: @contestant_profile.group_id } %>
            <p class="counter"><%= @contestant_profile.votes %></p>
          </div>
          <ul class="bxslider">
            <li><%= image_tag @contestant_profile.profile_image.thumb %></li>
          <% @contestant_images.each do |contestant_image| %>
            <li><%= image_tag contestant_image.profile_image.thumb_at_mypage %></li>
          <% end %>
          </ul>
        </div>

        <div class="profile">
          <div class="share">
            <!-- twitterシェアボタンに変換される -->
            <a class="twitter-share-button" href="https://twitter.com/share" data-text="<%= @contestant_profile.name %>さん、頑張れ！" data-related="2015MissSuzuki:最新情報をお届けします！フォローよろしくお願いします！" data-count="horizontal" data-hashtags="ミス鈴木" data-dnt="true" data-lang="ja">Tweet</a>

            <!-- FBシェアボタンに変換される -->
            <div class="fb-share-button" data-href="https://miss-suzuki.com/contestants/<%= @contestant_profile.user_id %>/mypage" data-layout="button_count"></div>
          </div>

          <div class="profile_cotent">
          <h3 class="furigana"><%= @contestant_profile.hurigana %></h3>
            <h2 class="name"><%= @contestant_profile.name %></h2>
            <p class="age">年齢：<%= @contestant_profile.age %></p>
            <p class="hometown">出身：<%= @contestant_profile.come_from %></p>
            <p class="height">身長：<%= @contestant_profile.height %></p>
            <p class="appeal">一言アピール！</p>
            <textarea name="comment"><%= @contestant_profile.comment %></textarea>
            <div class="sns_links">
              <% if @contestant_profile.link_url.present? %>
                <div class="link_row row1">
                  <p class="url"><a href="<%= @contestant_profile.link_url %>" target="_blank"><%= image_tag btn_name(@contestant_profile.link_type) %></a></p>
                </div>
              <% end %>
            </div>
            <div id="banner_in_profile">
              <script type="text/javascript">
              var lists=[
              '<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel2.jpg' %></a>',
              '<a href="http://www.surf-bev.com/" target="blank_"><%= image_tag 'banner/surf.jpg' %></a>',
              '<a href="http://www.cosme-ken.org/" target="blank_"><%= image_tag 'banner/cosmeken.jpg' %></a>',
              '<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel.jpg' %></a>',
              ];

              var rNo = Math.floor(Math.random() * lists.length);
              $(document).ready(function() {
              document.getElementById('banner_in_profile').innerHTML = lists[rNo];
              });
              </script>
            </div>
          </div>
        </div>

      <% if @interview_answers.present? %>
        <div class="interview_area">
          <h2><%= @contestant_profile.name %>さんへインタビュー！</h2>
          <table id="interview">
            <% @interview_answers.each do |topic, answer| %>
              <tr>
                <th><%= topic %> </th>
              </tr>
              <tr>
                <td><%= answer %></td>
              </tr>
            <% end %>
          </table>
          <p>ありがとうございました！</p>
        </div>
      <% end %>

      <div id="banner_big">

        <script type="text/javascript">
        var lists=[
        '<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel.jpg' %></a>',
        '<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel2.jpg' %></a>',
        '<a href="http://www.surf-bev.com/" target="blank_"><%= image_tag 'banner/surf.jpg' %></a>',
        '<a href="http://www.cosme-ken.org/" target="blank_"><%= image_tag 'banner/cosmeken.jpg' %></a>',
        ];

        var rNo = Math.floor(Math.random() * lists.length);
        $(document).ready(function() {
        document.getElementById('banner_big').innerHTML = lists[rNo];
        });
        </script>
      </div>

      <!-- twitterスクリプト [head]内や、[body]の終了直前などに配置 -->
      <script>
        window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
      </script>
      <!-- facebookスクリプト [head]内や、[body]の終了直前などに配置 -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '529248367239781',
            xfbml      : true,
            version    : 'v2.5'
          });
        };

        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=529229320575019";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>
    </div>
  </div>
</div>
