<% @stage = 3 %>
<div id="mainimage">
  <%= image_tag "mainimages/final_mainimage.jpg" %>
</div>

<div>
  投票は終了いたしました。たくさんの投票ありがとうございました！
</div>

<div class="content_top">
  <% if flash[:alert] %>
    <p><%= flash[:alert] %></p>
  <% end %>
  <div class="content_middle">
    <% 3.times do |i| %>
      <div class="column column<%= i %>">
        <% @contestant[i - 1].each.with_index do |contestant, i| %>
          <%= render :partial => 'contestant', locals: {contestant: contestant} %>
          <% if i % 3 == 1 %>
            <div class="vote_page_ads">
              <%= adsense('contestants_index_ads') %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <p id="to_top"><a href=<% '/' %>><%= image_tag 'to_top.png', :width=> '50px'   %></a></p>
  </div>
</div>
