<div id="about">
  <div id="mainimage">
    <%= image_tag 'mainimages/about_mainimage.jpg' %>
  </div>
  <div id="content">
    <div class="slogan">
      <%= image_tag 'slogan.jpg' %>
    </div>

    <div class="purpose">
      <p>私たちはすべての人にスポットライトを当てることを目指して、<br>
        一人でも多くの人を輝かせるために今までにないセグメントでの<br>
        イベントを企画・主催する団体です。<br></p>
    </div>
    <div class="line"><p>l</p></div>
    <div id="pixel">
      <a href="http://pixel-aoyama.com" target="_blank"><%= image_tag 'pixel.logo.big.png' %></a>
    </div>
    <div class="message">
      <p>当イベントのページにアクセスしていただきありがとうございます。<br>
        青山学院大学Webデザイン&プログラミングサークル PIXELです。</p>
      <p>前回の企画 MISS-SATOはおかげさまで全国から300名以上の<br>
        エントリーをいただきました。こうして第２回が開催できることを大変嬉しく思います。</p>
      <p>今回応募してくださったすべての「鈴木さん」、鈴木さんの参加を<br>
        後押ししてくださった皆様、 本当にありがとうございます。</p>
        <p class="name">PIXEL 代表  小野祥吾</p>
    </div>
    <div class="line"><p>l</p></div>
    <h2>SPONSORS</h2>
    <h3>協 賛</h3>
    <div class="sponsors">
      <div class="logo_row row1">
        <div class="logo1"><a href="http://www1.suzuki.co.jp/motor/" target="_blank"><%= image_tag 'logo/suzuki.png' %></a></div>
        <div class="logo2"><a href="http://www.sakura.ne.jp/" target="_blank"><%= image_tag 'logo/sakura.png' %></a></div>
      </div>
       <div class="logo_row row2">
        <div class="logo1"><a href="http://www.cosme-ken.org/" target="_blank"><%= image_tag 'logo/cosmeken.png' %></a></div>
        <div class="logo2"><a href="http://karaage.ne.jp/" target="_blank"><%= image_tag 'logo/jka.png' %></a></div>
      </div>
      <div class="logo_row row3">
        <div class="logo1"><a href="http://www.springwater.gr.jp/trigger/" target="_blank"><%= image_tag 'logo/trigger.png' %></a></div>
      </div>
    </div>
  </div>
</div>