<div id="final">
  <div id="mainimage">
    <%= image_tag 'final/mainimage_final.jpg' %>
  </div>
  <div id="content">
    <h2><span>概 要</span></h2>
    <table class="table">
      <tr><td>日時：2016年2月10日(水)</td>
      </tr>
      <tr>
        <td>会場：麻布十番ivy (東京都港区 麻布十番1丁目7−5 フェスタ麻布B2)</td>
      </tr>
      <tr><td class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.83718067464!2d139.73273291440472!3d35.65638293894333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b9f0c93a8b9%3A0x4bc34f9db8efd2b5!2sIVY!5e0!3m2!1sja!2sjp!4v1454257499661" width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe></td></tr>
      <tr>
        <td>開場：18:30　開演:19:00　終了:21:00</td>
      </tr>
      <tr>
        <td>入場料：2000円+１ドリンク500円<br><span class="pink">miss-suzuki.comの会員様は500円オフ！</span></td>
      </tr>
      <tr>
        <td><span class="red"><span class="bigger">鈴木割</span>：鈴木さんを連れてくると500円オフ！<br>もちろん鈴木さんご本人も500円オフ！</span></td>
      </tr>
    </table>
    <div class="guest_box">
      <div class="each_guest">
        <h2><span>MCも鈴木さん！</span></h2>
        <p><%= image_tag 'final/yuri_suzuki.jpg' %><br>MC:鈴木優梨さん</p>
      </div>
      <div class="each_guest">
        <h2><span>ゲストはワッキーさん！</span></h2>
        <p><%= image_tag 'final/wakkii_image.jpg' %><br>ゲスト:ペナルティ ワッキー様</p>
      </div>
    </div>

    <h2><span>審査方法</span></h2>
    <table class="table">
      <tr><td>①事前のWeb審査</td></tr>
      <tr><td>②当日の一般観客投票</td></tr>
      <tr><td>③審査員による投票(もちろん審査員は全員鈴木さんです)</td></tr>
    </table>
    <h2><span>大会プログラム</span></h2>
    <div class="program_box">
      <div class="each_program">
        <%= image_tag 'final/program1.jpg' %>
        <p>３分以内で特技を披露してもらうコーナー！<br>歌やダンスなどそれぞれの個性が見られる審査です！</p>
      </div>
      <div class="each_program">
        <%= image_tag 'final/program2.jpg' %>
        <p>鈴木さんの手料理の動画を鑑賞！今回のテーマはバレンタイン！<br>当日は会場のお客様に抽選で鈴木さん手作りのお菓子をプレゼントします！</p>
      </div>
      <div class="each_program">
        <%= image_tag 'final/program3.jpg' %>
        <p>最後はファイナリストの皆さんの一番大切な鈴木さんにお手紙を読んでもらいます！<br>涙なしには見られない！？</p>
      </div>
      <div class="each_program">
        <%= image_tag 'final/wakkii.jpg' %>
        <p>表彰式で、MISS-SUZUKIのグランプリとワッキーさんが夢の共演！<br>ワッキーさんプロデュースの顔はめパネルに入顔していただきます！</p>
        <p><span class="bold">顔はめパネルプロデュースの公式サイトは<a href="http://wacky-kaohame.com/">こちら！</a></a></p>
      </div>

    </div>

    <h2><span>Web審査</span></h2>
    <div class="program_box">
      <div class="each_program">
        <%= image_tag 'final/web_vote1.jpg' %>
        <p>３分以内で特技を披露してもらうコーナー！<br>歌やダンスなどそれぞれの個性が見られる審査です！</p>
      </div>
      <div class="each_program">
        <%= image_tag 'final/web_vote2.jpg' %>
        <p>鈴木さんの手料理の動画を鑑賞！今回のテーマはバレンタイン！<br>当日は会場のお客様に抽選で鈴木さん手作りのお菓子をプレゼントします！</p>
      </div>

    </div>
    <h2><span>協賛してくれる鈴木さん、募集中です！</span></h2>
    <p>MISS-SUZUKIでは、協賛してくださる鈴木さんを募集中です。<br>小額からのご協賛もありがたく頂戴いたします。ご興味がございましたら、<br>資料をお送りいたしますのでぜひこちらのアドレスまでご連絡ください。</p>
    <p><a href="mailto:ms.someone2015@gmail.com">ms.someone2015@gmail.com</a></p>
    <p>もちろん鈴木さん以外の方のご協賛も募集中です。</p>
  </div>

  <div id="banner_big" style="margin-top:10px;">
    <%= ad_img %>
  </div>
</div>

