<div id="rules">
  <div id="mainimage">
    <%= image_tag 'rules_mainimage.jpg' %>
  </div>
  <div id="content">
    <div class="menu">
      <ul>
        <li><a href="/rules">応募資格</a></li>
        <li><a href="/how_to_vote">投票方法</a></li>
        <li>大会の流れ</li>
        <li><a href="/next">次回予告</a></li>
      </ul>
    </div>
    <div id="flow_chart">
      <div class="section">
        <div class="icon"><%= image_tag 'icon/icon_laptop.jpg', :width => '50' %></div>
        <h3>1st ROUND</h3>
        <p class="text">2015年10月17日〜11月14日</p>
      </div>
      <table class="table1">
        <tr class="odd"><td>予選はグループリーグ制です。各グループの上位の参加者が予選最終投票へ進出します。</td>
        </tr>
        <tr class="even">
          <td>予選最終投票の中から上位12名が第2ラウンドへ進出します。</td>
        </tr>
      </table>

      <div class="section section2">
        <div class="icon"><%= image_tag 'icon/icon_video.jpg', :width => '50' %></div>
        <h3>2nd ROUND</h3>
        <p class="text">2015年11月15日〜11月22日</p>
      </div>
      <table>
        <tr class="odd"><td>第2ラウンドは動画審査です。テーマに沿って動画を撮影していただきます。</td>
        </tr>
        <tr class="even">
          <td>12名の中から6名がファイナルに進出します。</td>
        </tr>
      </table>

      <div class="section section3">
        <div class="icon"><%= image_tag 'icon/icon_stage.png', :width => '50' %></div>
        <h3>FINAL</h3>
        <p class="text">2016年1月23日</p>
      </div>
      <table>
        <tr class="odd"><td>ファイナルは横浜ランドマークタワーにて開催予定です。</td>
        </tr>
        <tr class="even">
          <td>決勝の来場者の直接投票、審査員からの投票でグランプリが決定します。</td>
        </tr>
        <tr class="odd"><td>入場料は無料ですのでお気軽にお立ち寄りください。</td>
        </tr>
      </table>
    </div>
  </div>

  <div id="banner_big">
    <%= image_tag 'banner/karaage.jpg' %>
  </div>
</div>