<div id="rules">
  <div id="mainimage">
    <%= image_tag 'mainimages/rules_mainimage.jpg' %>
  </div>
  <div id="content">
    <div class="menu">
      <ul>
        <li><a href="/rules#content">応募資格</a></li>
        <li>投票方法</li>
        <li><a href="/flow_chart#content">大会の流れ</a></li>
        <li><a href="/next#content">次回予告</a></li>
      </ul>
    </div>
    <div id="qualification">
      <h3>予選の投票について</h3>
      <table class="table1">
        <tr class="odd"><td>・お気に入りの鈴木さんの<%= image_tag 'kawaii.png', :width => '50' %> をクリックすると投票ができます。</td>
        </tr>
        <tr class="even">
          <td>・投票回数は各ページ１日3回までです。</td>
        </tr>
        <tr class="odd">
          <td>・会員登録をしてログインすると1日に10回まで投票ができるようになります。会員登録は10月上旬に開始予定です。</td>
        </tr>
      </table>
      <h3>ファイナルの投票について</h3>
      <table  class="table2">
        <tr class="odd">
          <td>①決勝の来場者からの投票</td>
        </tr>
        <tr class="even">
          <td>②審査員からの投票</td>
        </tr>
        <tr class="odd">
          <td>以上の2つをもとに優勝者を決定いたします。</td>
        </tr>
      </table>
    </div>

  <div id="banner_big"></div>
    <script type="text/javascript">
    var lists=[
    '<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel.jpg' %></a>',
    '<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel2.jpg' %></a>',
    '<a href="http://www.surf-bev.com/" target="blank_"><%= image_tag 'banner/surf.jpg' %></a>',
    '<a href="http://www.cosme-ken.org/" target="blank_"><%= image_tag 'banner/cosmeken.jpg' %></a>',
    ];

    var rNo = Math.floor(Math.random() * lists.length);
    $(document).ready(function() {
    document.getElementById('banner_big').innerHTML = lists[rNo];
    });
    </script>
  </div>
</div>

