<div id="home">
  <div id="mainimage">
    <div class="slideshow">
      <div><%= image_tag "mainimages/mainimage_mr.jpg" %></div>
      <div><%= link_to(image_tag("mainimages/mainimage_qtaro.jpg"), "/contents/erai_suzukisan_sp1") %></div>
      <div><%= link_to(image_tag("mainimages/group3_mainimage_home.jpg"), "/contestants/group/3") %></div>
      <div><%= image_tag "mainimages/mainimage1.jpg" %></div>
    </div>
    <script>
    $('.slideshow').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      nextArrow:false,
      prevArrow:false,
      autoplay: true,
      autoplaySpeed: 3000,
    });
    </script>
  </div>


  <p id="entry_btn"><a href="contestants/group/3">投票ページはこちら！</a></p>
<!--   <div class="top_vote_and_entry_btn">
    <div class="left_vote_btn">
      <a href="contestants/group/3">投票ページはこちら！</a>
    </div> -->
<!--     <div class="right_entry_btn">
      <a href="contestants/entry">エントリーはこちら！</a>
    </div>
  </div>
 -->
  <div id="to_top">
    <a href="#home"><%= image_tag 'to_top.png', :width=> '50px' %></a>
  </div>

  <div id="home_icons">
    <h2>鈴木さん、続々エントリー中！</h2>
        <% @contestants.each do |contestant| %>
          <div class="contestant_icon">
            <%= link_to (image_tag contestant.profile.profile_image.thumb(125, 125), alt: contestant.profile.name), contestants_mypage_path(contestant.id) %>
          </div>
        <% end %>
  </div>

<!--  <p id="entry_btn"><a href="contestants/entry">エントリーはこちら！</a></p> -->
  <div class="news">
    <h2>NEWS</h2>
    <% @news.each do |entry| %>
      <h3><%= entry.date.strftime("%-m/%-d") %> <%= entry.content.html_safe%></h3>
    <% end %>
    <p class="detail"><a href="/news">もっと見る</a></p>
  </div>
  <div class="buttons">
    <a href="https://twitter.com/2015MissSuzuki" target="_blank"><%= image_tag 'btn/official_tw.png', :width=>'200px' %></a>
    <a href="https://www.facebook.com/MsSuzukiOfficial" target="_blank"><%= image_tag 'btn/official_fb.png', :width=>'200px' %></a>
  </div>
  <p class="copy"><%= image_tag 'catchcopy.png', :width=>'580px' %></p>
  <p class="fullsize"><%= image_tag 'mainimages/home_image1.jpg' %></p>
  <div class="detail1"><p>MISS-SUZUKIは史上初、「鈴木さん」限定のミスコンです。<br>
    年齢、職業は一切問いません。現在の名前が「鈴木」の方はどなたでもご参加いただけます。</p></div>

  <p class="fullsize"><%= image_tag 'mainimages/home_image2.jpg' %></p>
  <div class="detail2">
    <div class="section">
      <h3>ENTRY</h3>
      <div class="explain">
        <p class="icon"><%= image_tag 'icon/icon_laptop.jpg', :width=>'100px' %></p>
        <p class="text text1">エントリー期間は2015年11月20日(金) 23:59までです。<br>
        グループ予選の中から「かわいい！」ポイントの上位2割の方が、<br>
        予選最終投票に進出します。最終投票の上位12名がセミファイナルに進出します。<br>
        投票回数は1日3回、<a href="https://miss-suzuki.com/users/signup">会員登録してログイン</a>をすると１日10回投票ができます。</p>
      </div>
    </div>
    <div class="section">
      <h3>SEMI FINAL</h3>
      <div class="explain">
        <p class="icon"><%= image_tag 'icon/icon_video.jpg', :width=>'100px' %></p>
        <p class="text text2">セミファイナルは動画審査です。<br>
        課題となる動画を撮影していただき、審査いたします。<br>
        6名がファイナルに進出いたします。</p>
      </div>
    </div>
    <div class="section">
      <h3>FINAL</h3>
      <div class="explain">
        <p class="icon"><%= image_tag 'icon/icon_stage.png', :width=>'100px' %></p>
        <p class="text text3">決勝は2016年2月に開催予定です。<br>会場及び詳細な日程につきましては、後日サイト内で正式にアナウンスいたします。</p>
      </div>
    </div>
  </div>
<!--   <p id="entry_btn"><a href="contestants/entry">エントリーはこちら！</a></p> -->

  <p class="fullsize"><%= image_tag 'mainimages/home_image3.jpg' %></p>
  <div class="detail3">
    <p class="icon"><%= image_tag 'icon/icon_trophy.jpg', :width=>'100px' %></p>
    <p class="text">ミス鈴木に選ばれた鈴木さんには「金の表札」、「SUZUKI レッツG」、<br>
    準グランプリの鈴木さんには「銀の表札」を贈呈いたします。<br>
    ファイナリストに選ばれた皆様には、<br>
    協賛企業様からのプレゼントの贈呈や、<br>
    当団体が製作する映像コンテンツや各種メディアへの出演も依頼させていただきます。</p>
  </div>
  <p class="fullsize"><%= image_tag 'mainimages/home_image4.jpg' %></p>
  <div class="detail4">
    <p><%= image_tag 'pixel.logo.big.png' %></p>
    <p>青山学院大学 Webデザイン&プログラミングサークル PIXEL</p>
  </div>
  <div class="sponsors">
    <h3>SPONSORS</h3>
    <p>協賛</p>
  </div>
  <div class="logo_row row1">
    <div class="smart_row smart_row1">
      <p class="logo1"><a href="http://www1.suzuki.co.jp/motor/" target="_blank"><%= image_tag 'logo/suzuki.png' %></a></p>
      <p class="logo2"><a href="http://www.aoyama.ac.jp/" target="_blank"><%= image_tag 'logo/aoyama.png' %></a></p>
    </div>
    <div class="smart_row smart_row2">
      <p class="logo3"><a href="http://www.sakura.ne.jp/" target="_blank"><%= image_tag 'logo/sakura.png' %></a></p>
      <p class="logo4"><a href="http://www.cosme-ken.org/" target="_blank"><%= image_tag 'logo/cosmeken.png' %></a></p>
    </div>
  </div>
  <div class="logo_row row2">
    <div class="smart_row smart_row3">
      <p class="logo1"><a href="http://karaage.ne.jp/" target="_blank"><%= image_tag 'logo/jka.png' %></a></p>
      <p class="logo2"><a href="http://www.runatown.com/shopbrand/ct840/" target="_blank"><%= image_tag 'logo/runa.jpg' %></a></p>
      <p class="logo3"><a href="http://www.springwater.gr.jp/trigger/" target="_blank"><%= image_tag 'logo/trigger.png' %></a></p>
    </div>
  </div>
  <div class="media">
    <h3>MEDIA</h3>
    <p>メディアスポンサー</p>
  </div>
  <div class="media_logo">
    <div class="smart_row smart_row1">
      <p class="logo1"><a href="http://ascii.jp/" target="_blank"><%= image_tag 'logo/ascii.png', :width => '250' %></a></p>
      <p class="logo2"><a href="http://weekly.ascii.jp/sp/startup/" target="_blank"><%= image_tag 'logo/oedo2.png',:width => '220'  %></a></p>
    </div>
    <div class="smart_row smart_row2">
      <p class="logo1"><a href="http://otokake.com/" target="_blank"><%= image_tag 'logo/otokake_logo.png',:width => '220'  %></a></p>
    </div>
  </div>
  <div class="cooperation">
    <h3>COOPERATION</h3>
    <p>取材協力</p>
  </div>
  <div class="coop_logo">
    <div class="smart_row smart_row1">
      <p class="logo1"><%= image_tag 'logo/zenkoku.png' %></p>
      <p class="logo2"><%= image_tag 'logo/kanto.png' %></p>
    </div>
  </div>

  <p class="fullsize"><%= image_tag 'mainimages/home_image5.jpg' %></p>
  <div class="detail5">
    <p class="icon"><%= image_tag 'icon/icon_mail.jpg', :width=>'100px' %></p>
    <p class="text">ミス鈴木に関するお問い合わせ、出場者へのお仕事のご依頼は、<br>
    <a href="mailto:ms.someone2015@gmail.com?subject=お問い合わせ">こちら</a>からからご送信ください。</p>
    <p class="text text2">資料請求や協賛をご検討中の企業様は<a href="mailto:ms.someone2015@gmail.com?subject=協賛・資料請求について">こちら</a>からメールをご送信ください。</p>
  </div>


</div>
