<div id="home">
  <div id="mainimage">
    <%= image_tag 'home_mainimage.jpg' %>
  </div>

  <div id="to_top">
    <a href="#home"><%= image_tag 'to_top.png', :width=> '50px' %></a>
  </div>

  <div class="news">
    <h2>NEWS</h2>
    <h3>9/15  MISS-SUZUKI エントリー受付開始！</h3>
    <h3>9/8   <a href="#">鈴木友菜さん</a>がオフィシャルサポーターに就任！</h3>
    <p class="detail"><a href="#">もっと見る</a></p>
  </div>
  <div class="buttons">
    <a href="#"><%= image_tag 'btn/official_tw.png', :width=>'200px' %></a>
    <a href="#"><%= image_tag 'btn/official_fb.png', :width=>'200px' %></a>
  </div>
  <p class="copy"><%= image_tag 'catchcopy.png', :width=>'580px' %></p>
  <p class="fullsize"><%= image_tag 'home_image1.jpg' %></p>
  <div class="detail1"><p>MISS-SUZUKIは史上初、「鈴木さん」限定のミスコンです。<br>
   年齢、職業は一切問いません。現在の名前が「鈴木」の方はどなたでもご参加いただけます。</p></div>

  <p class="fullsize"><%= image_tag 'home_image2.jpg' %></p>
  <div class="detail2">
    <div class="section">
      <h3>ENTRY</h3>
      <div class="explain">
        <p class="icon"><%= image_tag 'icon/icon_laptop.jpg', :width=>'100px' %></p>
        <p class="text text1">エントリー期間は2015年10月30日までです。<br>
           グループ予選の中から「かわいい！」ポイントの上位１割の方が、<br>
           予選最終投票に進出します。最終投票の上位12名が第2ラウンドに進出します。<br>
           投票回数は1日3回、<a href="#">ログイン</a>をすると１日10回投票ができます。</p>
      </div>
    </div>
    <div class="section">
      <h3>VIDEO</h3>
      <div class="explain">
        <p class="icon"><%= image_tag 'icon/icon_video.jpg', :width=>'100px' %></p>
        <p class="text text2">第2ラウンドは動画審査です。<br>
            課題となる動画を撮影していただき、審査いたします。<br>
            6名がファイナルに進出いたします。</p>
      </div>
    </div>
    <div class="section">
      <h3>FINAL</h3>
      <div class="explain">
        <p class="icon"><%= image_tag 'icon/icon_stage.png', :width=>'100px' %></p>
        <p class="text text3">決勝は2016年1月23日(土)、
            横浜ランドマークタワーにて開催予定です。<br>
            入場は無料ですのでぜひお気軽に足をお運びくださいませ。</p>
      </div>
    </div>
  </div>
  <p id="entry_btn"><a href="#">ENTRY</a></p>

  <p class="fullsize"><%= image_tag 'home_image3.jpg' %></p>
  <div class="detail3">
    <p class="icon"><%= image_tag 'icon/icon_trophy.jpg', :width=>'100px' %></p>
    <p class="text">グランプリの鈴木さんには「金の表札」、「SUZUKI レッツG」、<br>
            準グランプリの鈴木さんには「銀の表札」を贈呈いたします。<br>
            ファイナリストに選ばれた皆様には、<br>
            当団体が製作する映像コンテンツや各種メディアへの出演も依頼させていただきます。</p>
  </div>
  <p class="fullsize"><%= image_tag 'home_image4.jpg' %></p>
  <div class="detail4">
    <p><%= image_tag 'pixel.logo.big.png' %></p>
    <p>青山学院大学 Webデザイン&プログラミングサークル PIXEL</p>
  </div>
  <div class="sponsors">
    <h3>SPONSORS</h3>
    <p>協賛</p>
  </div>
  <div class="logo_row row1">
    <p class="logo1"><%= image_tag 'logo/aogaku.png' %></p>
    <p class="logo2"><%= image_tag 'logo/sakura.png' %></p>
    <p class="logo3"><%= image_tag 'logo/logo_7&i.jpg' %></p>
    <p class="logo4"><%= image_tag 'logo/logo_suzuki.jpg' %></p>
  </div>

  <p class="fullsize"><%= image_tag 'home_image5.jpg' %></p>
  <div class="detail5">
    <p class="icon"><%= image_tag 'icon/icon_mail.jpg', :width=>'100px' %></p>
    <p class="text">コンテストに関するお問い合わせ、出場者へのお仕事のご依頼は、<br>
            <a href="#">こちら</a>からからご送信ください。</p>
    <p class="text text2">協賛をご検討中の企業様や資料請求のご希望の方は<a href="#">こちら</a>からメールをご送信ください。</p>
  </div>


</div>
