<div id="news">
  <div id="mainimage">
    <%= image_tag 'mainimages/news_mainimage.jpg' %>
  </div>
  <div id="content">
    <table>
      <tr class="odd">
        <th>9/15</th>
        <td>MISS-SUZUKIオフィシャルサイトがオープン！</td>
      </tr>
      <tr class="even">
        <th>9/14</th>
        <td><a href="http://karaage.ne.jp" target="_blank">日本唐揚協会</a>様から協賛をいただきました！</td>
      </tr>
      <tr class="odd">
        <th>9/10</th>
        <td><a href="http://www1.suzuki.co.jp/motor/" target="_blank">スズキ株式会社</a>様から協賛をいただきました！</td>
      </tr>
      <tr class="even">
        <th>9/10</th>
        <td>株式会社<a href="http://www.sakura.ne.jp/" target="_blank">さくらインターネット</a>様から協賛をいただきました！</td>
      </tr>
      <tr class="odd">
        <th>9/8</th>
        <td>学生ビジネスコンテスト<a href="http://www.springwater.gr.jp/trigger/" target="_blank">TRIGGER</a>様から協賛をいただきました！</td>
      </tr>
    </table>
  </div>

  <div id="banner_big">

    <script type="text/javascript">
    var lists=[
    '<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel.jpg' %></a>',
    '<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel2.jpg' %></a>',
    '<a href="http://www.surf-bev.com/" target="blank_"><%= image_tag 'banner/surf.jpg' %></a>',
    '<a href="http://www.cosme-ken.org/" target="blank_"><%= image_tag 'banner/cosmeken.jpg' %></a>',
    ];

    var rNo = Math.floor(Math.random() * lists.length);
    $(document).ready(function() {
    document.getElementById('banner_big').innerHTML = lists[rNo];
    });
    </script>
  </div>

</div>