<div id="rules">
  <div id="mainimage">
    <%= image_tag 'mainimages/rules_mainimage.jpg' %>
  </div>
  <div id="content">
    <div class="menu">
      <ul>
        <li><a href="/rules#content">応募資格</a></li>
        <li><a href="/how_to_vote#content">投票方法</a></li>
        <li><a href="/flow_chart#content">大会の流れ</a></li>
        <li>次回予告</li>
      </ul>
    </div>
    <div id="next">
      <%= image_tag 'takahashi.jpg' %>
      <p>お楽しみに！</p>
    </div>
    <div id="banner_big"></div>
      <script type="text/javascript">
      var lists=[
      '<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel.jpg' %></a>',
      '<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel2.jpg' %></a>',
      '<a href="http://www.surf-bev.com/" target="blank_"><%= image_tag 'banner/surf.jpg' %></a>',
      '<a href="http://www.cosme-ken.org/" target="blank_"><%= image_tag 'banner/cosmeken.jpg' %></a>',
      ];

      var rNo = Math.floor(Math.random() * lists.length);
      $(document).ready(function() {
      document.getElementById('banner_big').innerHTML = lists[rNo];
      });
      </script>
  </div>
  </div>


</div>