<div id="interview1">

  <div id="mainimage">
    <%= image_tag 'mainimages/mainimage_akaji.jpg' %>
  </div>
  <div id="to_top">
    <a href="#mainimage"><%= image_tag 'to_top.png', :width=> '50px' %></a>
  </div>

    <div id="content">
      <div class="share">
        <!-- twitterシェアボタンに変換される -->
        <a class="twitter-share-button" href="https://twitter.com/share" data-text="三重県知事 鈴木英敬さんにインタビュー！！" data-related="2015MissSuzuki:最新情報をお届けします！フォローよろしくお願いします！" data-count="horizontal" data-hashtags="ミス鈴木" data-dnt="true" data-lang="ja">Tweet</a>

        <!-- FBシェアボタンに変換される -->
        <div class="fb-like" expr:data-href="https://miss-suzuki.com/contents/akaji" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"/>facebook</div>
      </div>

      <p class="top50 bold">どうも！！（小野祥吾が選ぶ）<span class="bold super_bigger">「抱かれたいプログラマー2015」</span><span class="blue bold super_bigger">第１位</span>の小野祥吾です！</p>
      <p>おかげさまで<span class="bold">ビジュアル系プログラマー</span>も徐々に浸透してきましたね。</p>
      <div class="big_image"><%= image_tag 'akaji/intro1.jpg' %></div>

      <p class="both50 bold">突然ですがMISS-SUZUKI、</p>


      <div class="big_image both50"><%= image_tag 'akaji/intro2.jpg' %></div>
      <div class="big_image top50"><%= image_tag 'akaji/zoom.jpg' %></div>
      <p class="biggest bold top50 red">活動資金が足りません！</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'akaji/icon_ono1.png' %></div>
        <div class="comment bold"><p>ミス鈴木、現在<span class="red">赤字です！</span><br>
        おかげさまで<a target="_blank" href="http://zasshi.news.yahoo.co.jp/article?a=20151001-00010004-kaiyou-ent">Yahoo!ニュースに取り上げられたり</a>、<a href="/contents" target="_blank">えらい鈴木さんに会っていただいたり</a>してきたミス鈴木ですが、<span class="red">運営の資金がピンチです！</span></p>
        <p>黙っていてもお金は集まらないので、今回は思い切って赤字だということを皆様に伝えようと思います。</p></div>
      </div>
      <p class="both50 bold super_bigger">どうやって？？</p>
      <div class="big_image top50"><%= image_tag 'akaji/zoom.jpg' %></div>
      <p class="bold super_bigger">そう！この髪の毛を使って！</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'akaji/icon_ono1.png' %></div>
        <div class="comment bold"><p class="bold">この<span class="super_bigger">犬の毛みたいな</span>美しい髪！<br>
        本日はこの髪を使って、ミス鈴木が<span class="bigger red">どれくらい赤字かを表現</span>したいと思います！</p></div>
      </div>

      <p class="top50 bold">使用するのはこちら！</p>
      <div class="big_image top50"><%= image_tag 'akaji/manicpanic.jpg' %></div>
      <p class="red">「MANIC PANIC ピラーボックスレッド」！</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'akaji/icon_ono1.png' %></div>
        <div class="comment bold"><p>それでは、さっそく染めに行きましょう！</p></div>
      </div>
      <p class="both50 bold bigger">【移動中・・・】</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'akaji/icon_ono1.png' %></div>
        <div class="comment"><p>いや、MISS-SUZUKI ってなかなか面白いコンテンツなわけですよ。<br>
        浜松の<span class="blue bigger bold">鈴木康友市長</span>や、スズキの<span class="blue bigger bold">鈴木俊宏社長</span>、三重県の<span class="blue bigger bold">鈴木英敬知事</span>、<span class="blue bigger bold">鈴木Q太郎</span>さん。そうそうたる鈴木さんにインタビューしてきましたし。<br>
          参加者の鈴木さんたちも<span class="blue bold">大学のミスコン優勝者</span>とか、<span class="blue bold">アイドル</span>とか<span class="blue bold">女優さん</span>まで集まってくれているんですが・・・</p>
          <p>ほんとに、<span class="red super_bigger bold">あとは資金だけなんです！</span></p></div>
      </div>

      <p class="both50 bold bigger">【到着！】</p>

      <div class="big_image"><%= image_tag 'akaji/shibuya1.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'akaji/icon_ono1.png' %></div>
        <div class="comment"><p>今回は<span class="red bold">お金がなくて美容室に行くことなどできない</span>ので、</p></div>
      </div>
      <div class="big_image both50"><%= image_tag 'akaji/shibuya2.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'akaji/icon_ono1.png' %></div>
        <div class="comment"><p><span class="blue bold">渋谷で通行中の方</span>に染めてもらいたいと思います！<br>
        せっかくなので、<span class="red bigger bold">『赤字の象徴』サンタクロース</span>（←違う）の格好でいきましょう！</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'akaji/shibuya3.jpg' %></div>
      <p class="bold bottom50">「ノリでやってくれそうだから」という理由でとりあえず外国人をターゲットに。</p>
      <div class="big_image top50"><%= image_tag 'akaji/shibuya4.jpg' %></div>
      <div class="big_image both50"><%= image_tag 'akaji/shibuya5.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'akaji/icon_ono1.png' %></div>
        <div class="comment"><p>なかなかうまくいきません。<br>確かにいきなり知らないヤツに「髪を染めてくれ」と言われたらさすがに困るよな・・・</p>
        <p class="bold bigger">自分だったら絶対近づかないもん。(ﾄﾞﾔｯ</p></div>
      </div>
      <div class="big_image both50"><%= image_tag 'akaji/shibuya6.jpg' %></div>
      <div class="big_image both50"><%= image_tag 'akaji/shibuya7.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'akaji/icon_ono1.png' %></div>
        <div class="comment"><p>やっぱりだめか・・・</p></div>
      </div>
      <p class="both50 bold bigger">数十分後・・・</p>
      <p class="bold bigger bottom50">諦めかけていると・・・</p>
      <div class="big_image both50"><%= image_tag 'akaji/dying1.jpg' %></div>
      <p class="super_bigger bold">！！？</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'akaji/icon_ono1.png' %></div>
        <div class="comment bold bigger"><p>やってくれる人が現れました！</p></div>
      </div>
      <div class="big_image both50"><%= image_tag 'akaji/dying2.jpg' %></div>
      <p class="bold">手伝ってくれたのはこちら！</p>
      <div class="big_image top50"><%= image_tag 'akaji/greg.jpg' %></div>
      <p class="bold">オーストラリア人旅行者の<span class="blue bigger">グレッグ!</span><br>周囲がドン引きする中、最後までやってくれました！</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'akaji/icon_greg.png' %></div>
        <div class="comment bold"><p>まったく、クレイジーな日本人がいたもんだぜ！<br>カリフォルニアにいた頃を思い出すな！</p></div>
      </div>
      <div class="big_image top30"><%= image_tag 'akaji/dying3.jpg' %></div>
      <p class="bold">グレッグの子供達も笑顔！</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'akaji/icon_greg.png' %></div>
        <div class="comment bold"><p>オレがカリフォルニアにいた頃は・・・<span class="super_bigger">(省略)</span></p></div>
      </div>
      <div class="big_image top30"><%= image_tag 'akaji/finished.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'akaji/icon_greg.png' %></div>
        <div class="comment bold"><p>Hey,終わったぜ！いい色だな！</span></p></div>
      </div>
      <div class="dialog_box bottom50">
        <div class="icon"><%= image_tag 'akaji/icon_ono1.png' %></div>
        <div class="comment"><p>(全然塗れてなかったので最後は自分で仕上げました。)</p></div>
      </div>
      <p class="both50 bold super_bigger">30分後・・・</p>
      <div class="big_image top30"><%= image_tag 'akaji/done.jpg' %></div>
      <p class="both30 bold super_bigger">完 成！</p>
      <div class="big_image top30"><%= image_tag 'akaji/before_after.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'akaji/icon_ono2.png' %></div>
        <div class="comment bold"><p>いやー見事な<span class="red">赤</span>ですね！MISS-SUZUKI の<span class="red">赤字っぷりを完璧に表現</span>しています！<br>渋谷で僕を見かけたら、「<span class="red">あ、赤字の人だ。</span>」って思ってください。</span></p></div>
      </div>
      <p class="top50 bold">一応ビジュアル系プログラマーなので、こんな写真も撮りました。<br><span class="blue">X-JAPAN</span> かと思った方、すみません。僕です。</p>
      <div class="big_image"><%= image_tag 'akaji/shogo_ono.jpg' %></div>
      <p><a class="bold bigger" href="https://miss-suzuki.com/assets/akaji/shogo_ono-4566cd76f8d1ec200cd2b7197c6a0f81.jpg" download="shogo_ono.jpg">＜ダウンロード＞</a><br>ご自由に印刷してください。</p>
      <div class="dialog_box top50">
        <div class="icon"><%= image_tag 'akaji/icon_ono3.png' %></div>
        <div class="comment"><p>というわけで、改めてお伝えします。<br><span class="bold super_bigger red">ミス鈴木、赤字です！</span><br><span class="bold bigger">法人、個人問わず協賛を募集しています！</span></p></div>
      </div>
      <div class="big_image"><%= image_tag 'akaji/sponsors.jpg' %></div>
      <div class="dialog_box top50">
        <div class="icon"><%= image_tag 'akaji/icon_ono3.png' %></div>
        <div class="comment"><p>協賛していただけたら、私<span class="blue">ビジュアル系プログラマー小野祥吾</span>が、<br>
          <span class="bold">あなたの会社までインタビューしに伺い、記事を作成させていただきます！<br>もしくは、僕があなたの会社でインターンをします！</span></p>
          <p>この記事を見てご興味をもっていただけたら、ぜひこちらのメールアドレスまでご連絡ください！<br><span class="blue">ms.someone2015@gmail.com</span></p></div>
      </div>
      <div class="dialog_box top50">
        <div class="icon"><%= image_tag 'akaji/icon_ono3.png' %></div>
        <div class="comment"><p class="bold bigger">お待ちしております！</p></div>
      </div>
      <p class="top30 bold super_bigger">完</p>
<!--       <div class="cityinfo">
        <h3>協賛募集中！</h3>
        <div class="big_image"><%= image_tag 'akaji/title.jpg' %></div>
        <table>
          <tr class="odd">
            <td>お問い合わせを頂きましたら、詳細な資料をお送りします。</td>
          </tr>
          <tr class="even">
            <td>ms.someone2015@gmail.com</td></tr>
          <tr class="odd">
            <td>お気軽にご連絡ください！</td>
          </tr>
        </table>
      </div> -->
    </div>
<!-- twitterスクリプト [head]内や、[body]の終了直前などに配置 -->
<script>
  window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
<!-- facebookスクリプト [head]内や、[body]の終了直前などに配置 -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '529248367239781',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=529229320575019";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
