<div id="interview1">

  <div id="mainimage">
    <%= image_tag 'fujishiro/mainimage_shrine.jpg' %>
  </div>
  <div id="to_top">
    <a href="#mainimage"><%= image_tag 'to_top.png', :width=> '50px' %></a>
  </div>

    <div id="content">
      <div class="share">
        <!-- twitterシェアボタンに変換される -->
        <a class="twitter-share-button" href="https://twitter.com/share" data-text="パワースポット多すぎ！？「鈴木さんのふるさと」藤白神社でお参り！" data-related="2015MissSuzuki:最新情報をお届けします！フォローよろしくお願いします！" data-count="horizontal" data-hashtags="ミス鈴木" data-dnt="true" data-lang="ja">Tweet</a>

        <!-- FBシェアボタンに変換される -->
        <div class="fb-like" expr:data-href="https://miss-suzuki.com/contents/fujishiro" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"/>facebook</div>
      </div>

      <p class="top50 bold">どうも！！「彼氏にしたいプログラマー」でおなじみ小野祥吾です。</p>
      <div class="big_image"><%= image_tag 'fujishiro/intro1.jpg' %></div>

      <p class="both30 bold">本日は<span class="blue bold bigger">和歌山県海南市</span>に来ました！</p>
      <p class="bigger">なぜかって？</p>
      <p class="bigger">それは・・・</p>
      <p class="biggest bold top50">ここが鈴木さんのふるさとだからです！</p>

      <div class="big_image top50"><%= image_tag 'mainimages/history_mainimage.jpg' %><br>どうしてここが鈴木さんの故郷なのでしょうか？<br>詳しくはこちらの<a href="/contents/history">「鈴木さんの歴史」</a>で！</div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'fujishiro/icon_ono1.png' %></div>
        <div class="comment bold"><p class="bold">本日の目的地は「<span class="blue bigger">藤白神社</span>」！<br><span class="blue bigger">鈴木さんの発祥の地</span>と言われる神社にお参りしてきたいと思います！</p></div>
      </div>

      <p class="top50 bold">いざ、移動開始！</p>
      <div class="big_image top50"><%= image_tag 'fujishiro/intro3.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'fujishiro/icon_ono1.png' %></div>
        <div class="comment bold"><p class="bold"><span class="super_bigger">どうですかこの地元感！</span><br>初めて来た街なのにもう愛着が湧いてきます！</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'fujishiro/intro4.jpg' %></div>
      <p class="super_bigger">藤白神社の看板が見えてきました！</p>
      <div class="big_image top50"><%= image_tag 'fujishiro/intro5.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'fujishiro/icon_ono1.png' %></div>
        <div class="comment bold"><p class="bold"><span class="super_bigger">こ、この旗は！？</span></p></div>
      </div>
      <p class="bigger">「全国の鈴木さんいらっしゃい」という旗を発見！<br>(至るところにあります)</p>
      <div class="big_image top50"><%= image_tag 'fujishiro/intro6.jpg' %></div>
      <p class="bigger">ついに鳥居が！</p>
      <div class="big_image top50"><%= image_tag 'fujishiro/arrived1.jpg' %></div>
      <p class="bold bigger">海南駅から徒歩15分、藤白神社に到着しました！</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'fujishiro/icon_shrine1.png' %></div>
        <div class="comment bold"><p>お待ちしておりました。全国の鈴木さんのふるさと、「藤白神社」です。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'fujishiro/icon_ono1.png' %></div>
        <div class="comment bold"><p>本日は神社の方にオススメの廻り方を教えていただきたいと思います！<br>「神社って何をしたらいいかよくわからない・・・」という現代っ子の皆さんは必見です！</p></div>
      </div>
      <h2 class="top30">①まずは本殿をお参り！</h2>
      <div class="big_image top50"><%= image_tag 'fujishiro/honden2.jpg' %></div>
      <p>こちらが<span class="bigger blue bold">本殿</span>(ほんでん)、この建物は正式には<span class="bigger blue bold">拝殿</span>(はいでん)といい、本殿にあたる建物はこの奥！<br>(本殿は神様の坐（いま）す所なので入ることはできません)</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'fujishiro/icon_shrine1.png' %></div>
        <div class="comment bold"><p>どうぞ中へお入りください。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'fujishiro/icon_ono1.png' %></div>
        <div class="comment bold"><p>いいんですか！？</p></div>
      </div>
      <div class="half_image_box">
        <div class="half_image"><%= image_tag 'fujishiro/praying1.jpg' %></div>
        <div class="half_image"><%= image_tag 'fujishiro/praying2.jpg' %></div>
      </div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'fujishiro/icon_ono1.png' %></div>
        <div class="comment bold"><p>なんと、特別にMISS-SUZUKI の成功祈願をしていただきました！<br>藤白神社では<span class="bigger">子授け、安産、初宮詣、交通安全</span>などいろいろな祈祷を行ってくれるそうです！</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'fujishiro/prayer.jpg' %><br>若手イケメン神職の吉田さんにご祈祷いただきました！</div>
      <div class="big_image top50"><%= image_tag 'fujishiro/hondo1.jpg' %></div>
      <p>ミス鈴木の成功祈願を終え、次は・・・</p>
      <div class="big_image top50"><%= image_tag 'fujishiro/hondo2.jpg' %></div>
      <h2>②藤白王子権現本堂へ！</h2>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'fujishiro/icon_shrine1.png' %></div>
        <div class="comment bold"><p><span class="bold blue bigger">藤白王子権現本堂</span>(ふじしろおうじごんげんほんどう)では、仏像を祀っています。</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'fujishiro/hondo3.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'fujishiro/icon_ono1.png' %></div>
        <div class="comment bold"><p class="super_bigger">神社なのに仏像！？</p></div>
      </div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'fujishiro/icon_shrine1.png' %></div>
        <div class="comment bold"><p>実は藤白神社は<span class="bold blue bigger">神仏習合</span>(しんぶつしゅうごう)が形として残っている珍しい神社なんです。</p></div>
      </div>
      <p>※神仏習合とは「仏様がこの世の救済のために神様という仮の姿として現れた」という解釈により、仏教と神道を融合させようとすることです。</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'fujishiro/icon_shrine1.png' %></div>
        <div class="comment bold"><p>こちらの3体は<span class="bold blue bigger">平安末期(約900年前)</span>に作られたものです。それぞれが熊野三山の神様の本地仏(真の姿)を祀っています。</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'fujishiro/hondo4.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'fujishiro/icon_ono1.png' %></div>
        <div class="comment bold"><p>・・・・・？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'fujishiro/icon_shrine1.png' %></div>
        <div class="comment bold"><p>ちょっとわかりにくいですか？<br>イザナギ（伊邪那岐命）とイザナミ（伊邪那美命）は夫婦、スサノオ（須佐之男命）は息子なので、つまりこういうことです。</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'fujishiro/hondo5.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'fujishiro/icon_ono1.png' %></div>
        <div class="comment bold"><p>おお、わかりやすい！<br>神様の家族写真だと思うと親近感がわきますね！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'fujishiro/icon_shrine1.png' %></div>
        <div class="comment bold"><p>次はこちらへどうぞ。</p></div>
      </div>
      <div class="half_image_box">
        <div class="half_image"><%= image_tag 'fujishiro/arimanomiko1.jpg' %></div>
        <div class="half_image"><%= image_tag 'fujishiro/arimanomiko2.jpg' %></div>
      </div>
      <h2>③「悲劇のプリンス」有間皇子神社！</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'fujishiro/icon_shrine1.png' %></div>
        <div class="comment bold"><p><span class="bold blue bigger">有間皇子</span>(ありまのみこ)とは万葉集にも歌が残っているほどの歌人で、古典好きの間ではとてもファンが多い人物です。</p><p><span class="bold blue">蘇我赤兄</span>（そがのあかえ)に騙されて謀反の罪で処刑されたという悲劇的な歴史があります。<br>有間皇子はこの神社の近くの藤白坂で、処刑されたと言われています。<p>そんな「悲劇のプリンス」有間皇子も藤白神社が祀っています。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'fujishiro/icon_ono1.png' %></div>
        <div class="comment bold"><p>万葉集好きの方にオススメですね！</p></div>
      </div>
      <h2>④後鳥羽上皇の歌塚へ！</h2>
      <div class="big_image top50"><%= image_tag 'fujishiro/utazuka1.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'fujishiro/icon_shrine1.png' %></div>
        <div class="comment bold"><p>こちらは<span class="bold blue bigger">後鳥羽上皇</span>(ごとばじょうこう)の歌塚です。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'fujishiro/icon_ono1.png' %></div>
        <div class="comment bold"><p>後鳥羽上皇！日本史で習いました！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'fujishiro/icon_shrine1.png' %></div>
        <div class="comment bold"><p>あの後鳥羽上皇がこの神社で読んだ歌を石碑にしたものがこちらです。熊野三山にお参りするときは必ずここに立ち寄ったと伝えられています。</p><p>ちなみに、上皇、法皇の熊野御幸（ごこう）は、後白河法皇は<span class="bigger">３４回</span>、後鳥羽上皇は<span class="bigger">２８回</span>の多きにわたっています。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'fujishiro/icon_ono1.png' %></div>
        <div class="comment bold"><p>熊野神社って大人気だったんですね！</p></div>
      </div>
      <h2 class="top50">⑤子守楠神社で安産祈願！</h2>
      <div class="big_image top50"><%= image_tag 'fujishiro/komorigusu1.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'fujishiro/icon_ono1.png' %></div>
        <div class="comment bold"><p>あれ？絵馬がたくさんかかっていますね！ここもご利益があるんですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'fujishiro/icon_shrine1.png' %></div>
        <div class="comment bold"><p>はい。でもご利益があるのは実はこの奥なんです。</p></div>
      </div>
      <div class="big_image top30"><%= image_tag 'fujishiro/komorigusu2.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'fujishiro/icon_shrine1.png' %></div>
        <div class="comment bold"><p>楠(クスノキ)がご神体の<span class="bigger blue">子守楠神社</span>(こもりぐすじんじゃ)です。<br>この楠は子授け、安産祈願、子育ての木です。</p></div>
      </div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'fujishiro/icon_ono1.png' %></div>
        <div class="comment bold"><p class="bigger">子供に関する相談は全部ここにお任せって感じですね！</p></div>
      </div>
      <div class="big_image top30"><%= image_tag 'fujishiro/komorigusu3.jpg' %><br>なんと触ってもOK!</div>
      <div class="big_image top30"><%= image_tag 'fujishiro/komorigusu4.jpg' %><br>もたれかかって、カッコつけちゃってもOK!</div>
      <h2 class="top50">⑥縁結びもあります！</h2>
      <div class="big_image top30"><%= image_tag 'fujishiro/nagi1.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'fujishiro/icon_shrine1.png' %></div>
        <div class="comment bold"><p>こちらもただの木ではありません。<span class="bigger blue">梛(ナギ)</span>の木という縁結びの木なんです。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'fujishiro/icon_ono1.png' %></div>
        <div class="comment bold"><p>どこらへんが縁結びなんですか？？</p></div>
      </div>
      <div class="big_image top30"><%= image_tag 'fujishiro/nagi2.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'fujishiro/icon_shrine1.png' %></div>
        <div class="comment bold"><p>ポイントはこの葉っぱです。<span class="bigger">葉っぱの構造上、引っ張ってもちぎれることがない</span>んです。<br>そこから、<span class="bigger blue">「縁が切れない」</span>ということで縁結びの木といわれているんです。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'fujishiro/icon_ono1.png' %></div>
        <div class="comment bold"><p class="super_bigger">彼女欲しい。彼女欲しい。彼女欲しい。</p></div>
      </div>
      <p class="super_bigger bold both50">・・・</p>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'fujishiro/icon_shrine1.png' %></div>
        <div class="comment bold"><p>以上が藤白神社オススメの神社の歩き方です。(もちろんこの通りにお参りする必要はありません。お好きなものだけお参りしていただいても大丈夫です。)</p></div>
      </div>
      <h2 class="both50">ここで一つ素朴な疑問が・・・</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'fujishiro/icon_ono1.png' %></div>
        <div class="comment bold super_bigger"><p>なんでこんなに色々あるんだろう？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'fujishiro/icon_shrine1.png' %></div>
        <div class="comment bold"><p>それは、藤白神社が<span class="blue">熊野への入り口</span>だからです。約1500年ほど前から、熊野は<span class="blue bigger">「蘇り（よみがえり）の聖地」</span>と呼ばれ（神仏により新たな力を頂いて生まれ変わる）、熊野神社は黄泉（よみ）帰りの神社として人気でした。</p><p>当時の都は奈良や京都。都から熊野三山までの中継地点として、藤白神社が栄えました。</p></div>
      </div>
      <div class="big_image"><%= image_tag 'fujishiro/map.jpg' %></div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'fujishiro/icon_ono1.png' %></div>
        <div class="comment bold super_bigger"><p>そしてこの神社を代々守っていたのが鈴木さんなんですね！</p></div>
      </div>
      <h2 class="top50">まとめ</h2>
      <p>藤白神社は・・・</p>
      <div class="board bold">
        <ul>
          <li><span>縁結びから子授け、安産、子育て祈願</span>まで全部揃ってる！</li>
          <li><span>熊野三山</span>の入り口！</li>
          <li><span>千年楠</span>のパワーをいただける！</li>
          <li><span>国宝級のお宝</span>が間近で見られる！</li>
          <li>鈴木さん以外の人も楽しめる！</li>
          <li>大阪から電車で<span>片道2時間！1500円</span>で来れる！</li>
        </ul>
      </div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'fujishiro/icon_shrine1.png' %></div>
        <div class="comment bold"><p>パワースポットが多い理由がおわかりいただけたでしょうか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'fujishiro/icon_ono1.png' %></div>
        <div class="comment bold"><p>はい！<br>やっぱり大阪からすぐ来れるっていうのはいいなー。<br>若い人にもUSJ 感覚でふらっと来てほしい！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'fujishiro/icon_shrine1.png' %></div>
        <div class="comment bold"><p>お待ちしております！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'fujishiro/icon_ono1.png' %></div>
        <div class="comment bold"><p><span class="red bigger">2016年の初詣</span>は藤白神社でお参りするのもステキじゃないでしょうか？<br>藤白神社のみなさん、ご協力ありがとうございました！</p></div>
      </div>
      <div class="cityinfo">
        <h3>藤白神社</h3>
        <div class="big_image"><%= image_tag 'fujishiro/shrine1.jpg' %></div>
        <table>
          <tr class="odd">
            <td>住所：〒642-0034 和歌山県海南市藤白448</td>
          </tr>
          <tr class="even">
            <td>参拝時間：9：00～17:00 年中無休</td></tr>
          <tr class="odd">
            <td>アクセス：和歌山県「海南」駅から徒歩15 分、<span class="blue">大阪駅から片道約1時間30分</span>！</td>
          </tr>
          <tr class="even">
            <td>2015 年11 月には<span class="blue">文化庁の史跡指定</span>を受けました！</td>
          </tr>
          <tr class="odd">
            <td>子授け、安産、初宮詣、交通安全、無病息災、厄払いなどさまざまな祈祷を受け付けています！</td>
          </tr>
          <tr class="even">
            <td><span class="blue">結婚式もＯＫです！</span></td></tr>
        </table>
      </div>
        <p class="bold city_link">藤白神社のさらに詳しい情報はこちら！<br><a href="http://fujishiro-jinja.net/" target="_blank">藤白神社ホームページ</a></p>

      </div>


    </div>
<!-- twitterスクリプト [head]内や、[body]の終了直前などに配置 -->
<script>
  window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
<!-- facebookスクリプト [head]内や、[body]の終了直前などに配置 -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '529248367239781',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=529229320575019";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
