<div id="history">
  <div id="mainimage">
    <%= image_tag 'mainimages/history_mainimage.jpg' %>
  </div>
  <div id="content">
    <div class="share">
        <!-- twitterシェアボタンに変換される -->
        <a class="twitter-share-button" href="https://twitter.com/share" data-text="鈴木さんの歴史、すごすぎる！" data-related="2015MissSuzuki:最新情報をお届けします！フォローよろしくお願いします！" data-count="horizontal" data-hashtags="ミス鈴木" data-dnt="true" data-lang="ja">Tweet</a>

        <!-- FBシェアボタンに変換される -->
        <div class="fb-like" expr:data-href="https://miss-suzuki.com/contents/history" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"/>facebook</div>
      <a class='hatena-bookmark-button' data-hatena-bookmark-layout='standard-balloon' data-hatena-bookmark-lang='ja' expr:data-hatena-bookmark-title='data:post.title' expr:href='"https://b.hatena.ne.jp/entry/" + data:post.canonicalUrl' title='このエントリーをはてなブックマークに追加'><img src='https://b.st-hatena.com/images/entry-button/button-only@2x.png' alt='このエントリーをはてなブックマークに追加' width='20' height='20' style='border: none;' /></a><script type='text/javascript' src='https://b.st-hatena.com/js/bookmark_button.js' charset='utf-8' async='async'></script>

      </div>



    <div class="section">
      <h2 class="title"><span>自分の名前の歴史、知ってますか？</span></h2>
      <p>日本で2番目に多い名字「鈴木さん」。きっとこのページを見ている鈴木さんも多いはず！<br>
        でも、自分のご先祖様がどこから来たのか説明できますか？</p>
      <p>今回は、鈴木さんのルーツと歴史について、MISS-SUZUKIの運営団体 PIXELが調査しました！<br>
      ただのミスコンでは終わらないのがMISS-SUZUKIです！<br>
      (取材協力：藤白鈴木会)</p>
    </div>

    <div class="section">
      <h2 class="title"><span>そのルーツはなんと神話の時代!?</span></h2>
      <p>鈴木さんのご先祖様を探すと、あの<span class="inside">『古事記』</span>の世界まで行ってしまうんです！</p>
      <p>鈴木さんのルーツは<span class="inside">『饒速日命(ニギハヤヒノミコト)』</span>という人。なんと、イザナギとイザナミのひ孫です！<br>
      この時はまだまだ「鈴木さん」ではありません。</p>
      <div class="image">
        <%= image_tag 'history/nigihayahi.jpg', :width => '200',:alt => '饒速日命(ニギハヤヒノミコト)' %>
        <p>饒速日命(ニギハヤヒノミコト)</p>
      </div>
    </div>

    <div class="section">
      <h2 class="title"><span>「物部さん」と「穂積さん」</span></h2>
      <p>饒速日命の子孫たちはやがて<span class="inside">熊野(現在の和歌山県新宮市)</span>に移り住みます。<br>
        そして、「<span class="inside">物部(もののべ)</span>さん」というヤマト政権でも最大級の豪族になりました。<br>
        熊野地方では<span class="inside">熊野神社</span>の神官を務める人たちが「<span class="inside">穂積(ほづみ)</span>さん」を名乗るようになりました。</p>

      <p>熊野神社では、刈り取った稲穂を高く積みあげ、真ん中に一本の木を立てる儀式がありました。<br>
      これがもともとの「ホヅミ」です。<br>
      やがて、この儀式のリーダーが「穂積さん」と呼ばれるようになりました。</p>
      <div class="image">
        <%= image_tag 'history/kumano.jpg', :width => '400',:alt => '熊野地方' %>
        <p>熊野は現在の和歌山県にあります！</p>
      </div>
    </div>

    <div class="section">
      <h2 class="title"><span>「鈴木さん」登場！そして藤白へ！</span></h2>
      <p>ホヅミの儀式で立てる一本の木。この木は「<span class="inside">ススキ</span>」と呼ばれていました。ススとは当時の言葉で「聖なる」と言う意味です。<br>
        やがて、このススキに人々は祈るようになり、ホヅミという儀式そのものがススキと呼ばれるようになっていきました。</p>

        <p>そして先ほど同様に、この儀式のリーダーが「<span class="inside">ススキ</span>さん」と呼ばれるようになりました。<br>
          ススキさんが転じて<span class="inside">スズキ</span>さんになったんですね！<br>
        「鈴木」と書いて「すすき」さんと読む人がたまにいるのはそういう理由です。<br>
        すすきさん、安心してください！</p>

        <p>11世紀ごろ、鈴木さんたちは<span class="inside">藤白(ふじしろ)</span>へと移住しました。現在の<span class="inside">和歌山県海南市</span>です。<br>
          そして藤白神社境内にある<span class="inside">鈴木屋敷</span>を建てました。<br>
        これが、藤白神社が「鈴木さんのふるさと」と呼ばれる理由です。</p>
      <div class="image">
        <%= image_tag 'history/fujishirojinja.jpg', :width => '500',:alt => '鈴木さんのふるさと 藤白神社' %>
        <p>藤白神社では「鈴木さん専用のお守り」が人気です！</p>
      </div>
    </div>

    <div class="section">
      <h2 class="title"><span>鈴木界のスーパースター「鈴木三郎重家」現る！</span></h2>
      <p><span class="inside">鈴木三郎重家(すずきさぶろうしげいえ)</span>は、平安時代末期に鈴木屋敷で生まれました。<br>
        鈴木三郎重家は弁慶と並んで<span class="inside">源義経</span>の一番の家来になり、1185年の<span class="inside">壇ノ浦の戦い</span>で大活躍し、<br>
        平家を滅亡させて<span class="inside">鎌倉幕府</span>が始まりました。これが鈴木三郎重家が鈴木界のスーパースターたる所以です！</p>

        <p>しかし、義経はのちに兄の<span class="inside">源頼朝</span>に反逆の罪を着せられ命を狙われてしまいます。<br>
        東北へ逃げ延びる義経に部下の鈴木重家やその兄弟、親戚たちもついていきますが、<br>
        途中で倒れたり捕らえられたりして、東北までたどり着けない鈴木さんたちもいました。</p>
        <p>その人たちがそれぞれの場所に定住し、鈴木さんの人口はさらに増えていったと言われています。</p>
      <div class="image">
        <%= image_tag 'history/saburo.jpg', :width => '200',:alt => '鈴木三郎重家' %>
        <p>鈴木三郎重家(画:雑賀紀光)。男前ですね！</p>
      </div>
    </div>

    <div class="section">
      <h2 class="title"><span>徳川家康も「鈴木さん」！？</span></h2>
      <p><span class="inside">鎌倉時代</span>、武家として有力者が多く生まれた鈴木一族は全国各地に移住しました。<br>
        その中でも特に鈴木さんの影響力が大きかったのが今の<span class="inside">愛知県</span>と<span class="inside">静岡県</span>です。<br>
        静岡県の浜松市は鈴木さんが多い町として知られていますが、そういうルーツがあるんですね！</p>

      <p>ちなみに、愛知県出身の<span class="inside">徳川家康</span>ですが、家康が生まれた<span class="inside">松平家</span>ではその昔、<br>
      鈴木さんが嫁いで一族を発展させたと言われています！<br>
      そのため、家康の親戚には鈴木さんが当然多く、家康の力が及んだ各地で鈴木さんを<br>
      名乗る人も多くなったと言われています。</p>
      <div class="image">
        <%= image_tag 'history/ieyasu.jpg', :width => '200',:alt => '徳川家康' %>
        <p>家康も鈴木さんの親戚なんですね！</p>
      </div>
    </div>
    <div class="section">
      <h2 class="title"><span>戦争を終わらせた総理大臣 「鈴木貫太郎」！</span></h2>
      <p><span class="inside">「坂の上の雲」</span>という作品をご存知でしょうか？重要な登場人物の一人になんと「鈴木さん」がいるんです！<br>
        彼の名は<span class="inside">「鈴木貫太郎」</span>。日露戦争でも活躍した鈴木貫太郎は、最終的に<span class="inside">海軍大将</span>まで上り詰めます。</p>

        <p><span class="inside">1945年4月</span>、第２次世界大戦の末期のこと。内閣は戦争の責任から総辞職しました。<br>
        当時79歳の鈴木貫太郎は天皇陛下から直接のお願いを受け、内閣総理大臣に就任しました。<br>
        7月、ついに連合国が<span class="inside">ポツダム宣言</span>を発表。戦争を終わらせたいと願う天皇陛下と、<br>
        徹底抗戦を主張する軍部との間で鈴木貫太郎は悩みつづけました。</p>

        <p>天皇の意思をくみとり、命がけで鈴木貫太郎はポツダム宣言受諾の採決を進め、<span class="inside">8月15日</span>に日本は終戦をむかえました。</p>

      <p>そして同日、戦争を終わらせた鈴木貫太郎は潔く総理大臣を辞職しました。<br>
        鈴木貫太郎がいなければ、きっと今の日本はなかったのではないでしょうか？</p>
      <div class="image">
        <%= image_tag 'history/suzuki_kantaro.jpg', :width => '200',:alt => '鈴木貫太郎' %>
        <p>総理大臣になった鈴木さん、「鈴木貫太郎」！</p>
      </div>
    </div>

    <div class="section">
      <p>以上で鈴木さんのルーツを巡る旅はおしまいです。<br>
      「鈴木さん」がこんなにすごい歴史を持っているということ、<br>
       そしてそれが今までしっかり伝わっているというのが日本のスゴいところですね！</p>
      <p>鈴木さん以外の方も、自分の名字について調べてみると、驚くような発見があると思います！</p>
    </div>

    <div class="section">
      <h2 class="title"><span>鈴木屋敷を守ろう！</span></h2>
      <p>藤白に拠点を移して、およそ<span class="inside">850年</span>。現在の建物でも<span class="inside">築150年以上</span>という由緒ある鈴木屋敷は現在、老朽化で倒壊の危機にあります。<br>
        この鈴木屋敷の復元に向けて、「藤白鈴木会」、「紀州藤白鈴木屋敷復元の会」等の皆さんは日々頑張っています。</p>

        <p><span class="inside">2015年10月</span>、藤白神社と鈴木屋敷を含む<span class="inside">熊野古道が文化庁に歴史街道の史跡指定</span>を受けました。<br>
        藤白神社の周辺はこれからますます盛り上がっていきます！<br>
        MISS-SUZUKIのサイトを訪れた一人でも多くの方に、藤白神社と鈴木屋敷について知っていただければ幸いです。</p>
      <div class="image">
        <%= image_tag 'history/suzukiyashiki.jpg', :width => '500',:alt => '平安時代の鈴木屋敷' %>
        <p>平安時代の鈴木屋敷への復元を目指しています！</p>
      </div>
    </div>
    <div class="credit">
      <p>ライター：小野祥吾&nbsp;&nbsp;取材協力：藤白鈴木会</p>
    </div>

    <div class="share">
        <!-- twitterシェアボタンに変換される -->
        <a class="twitter-share-button" href="https://twitter.com/share" data-text="鈴木さんの歴史、すごすぎる！" data-related="2015MissSuzuki:最新情報をお届けします！フォローよろしくお願いします！" data-count="horizontal" data-hashtags="ミス鈴木" data-dnt="true" data-lang="ja">Tweet</a>

        <!-- FBシェアボタンに変換される -->
        <div class="fb-like" expr:data-href="https://miss-suzuki.com/contents/history" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"/>facebook</div>
      <a class='hatena-bookmark-button' data-hatena-bookmark-layout='standard-balloon' data-hatena-bookmark-lang='ja' expr:data-hatena-bookmark-title='data:post.title' expr:href='"https://b.hatena.ne.jp/entry/" + data:post.canonicalUrl' title='このエントリーをはてなブックマークに追加'><img src='https://b.st-hatena.com/images/entry-button/button-only@2x.png' alt='このエントリーをはてなブックマークに追加' width='20' height='20' style='border: none;' /></a><script type='text/javascript' src='https://b.st-hatena.com/js/bookmark_button.js' charset='utf-8' async='async'></script>

      </div>


</div>
