<div id="contents">
  <div id="mainimage">
    <%= image_tag 'mainimages/contents_mainimage.jpg' %>
  </div>
  <div id="content">
    <div class="contents_box">
      <h2>2015/11/03</h2>
      <p><a href="contents/erai_suzukisan1"><%= image_tag 'mainimages/interview_mainimage.jpg' %></a></p>
      <h2>2015/10/09</h2>
      <p><a href="contents/history"><%= image_tag 'mainimages/history_mainimage.jpg' %></p>
    </div>
    <div id="banner_big"></div>
      <script type="text/javascript">
      var lists=[
      '<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel.jpg' %></a>',
      '<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel2.jpg' %></a>',
      '<a href="http://www.surf-bev.com/" target="blank_"><%= image_tag 'banner/surf.jpg' %></a>',
      '<a href="http://www.cosme-ken.org/" target="blank_"><%= image_tag 'banner/cosmeken.jpg' %></a>',
      ];

      var rNo = Math.floor(Math.random() * lists.length);
      $(document).ready(function() {
      document.getElementById('banner_big').innerHTML = lists[rNo];
      });
      </script>
  </div>
  </div>


</div>