<div id="contents">
  <div id="mainimage">
    <%= image_tag 'mainimages/contents_mainimage.jpg' %>
  </div>
  <div id="content">
    <div class="contents_box">

      <h2>2015年12月18日</h2>
      <p><a href="contents/erai_suzukisan2_1"><%= image_tag 'mainimages/interview2_mainimage1.jpg' %></a></p>
      <div class="detail_box">
        <p>MISS-SUZUKIが再び鈴木さんの首都・浜松へ！<br>スズキ株式会社の鈴木俊宏社長と夢の対談！</p>
        <p>スズキファン必見の言葉が続々と飛び出します！<br>インタビューが盛り上がりすぎたので今回は2本立てでお届け！！</p>
        <p class="to_article"><a href="contents/erai_suzukisan2_1">インタビューはこちら！</a></p>
      </div>

      <h2>2015年12月18日</h2>
      <p><a href="contents/erai_suzukisan2_2"><%= image_tag 'mainimages/interview2_mainimage2.jpg' %></a></p>
      <div class="detail_box">
        <p>なんと、鈴木俊宏社長が自らスズキ歴史館をご案内していただけることに！？<br>社長の思い出のクルマたちを巡りながらスズキの歴史に迫る！</p>
        <p>夢の社会科見学、ついにスタート！</p>
        <p class="to_article"><a href="contents/erai_suzukisan2_2">インタビューはこちら！</a></p>
      </div>

      <h2>PR</h2>
      <div id="banner_big" style="margin-top:10px;">
        <%= ad_img %>
      </div>

      <h2>2015年11月30日</h2>
      <p><a href="contents/erai_suzukisan_sp1"><%= image_tag 'mainimages/mainimage_qtaro.jpg' %></a></p>
      <div class="detail_box">
        <p>芸能界の鈴木さんがついに登場！お笑いコンビ「ハイキングウォーキング」の鈴木Q太郎さんに突撃インタビュー！</p>
        <p>突如「ミス鈴木にエントリーしたい」と言い出すQ太郎さんに一同困惑？</p>
        <p>最後は衝撃の事実が！！</p>
        <p class="to_article"><a href="contents/erai_suzukisan_sp1">インタビューはこちら！</a></p>
      </div>

      <h2>2015年11月5日</h2>
      <p><a href="contents/erai_suzukisan1"><%= image_tag 'mainimages/interview_mainimage.jpg' %></a></p>
      <div class="detail_box">
        <p>「日本で一番鈴木さんが多い街」の「鈴木市長」に会いたい！<br>ということで、本当に鈴木康友市長に会ってきました！</p>
        <p>鈴木市長の語る鈴木さんならではの数々のエピソードは必見です！</p>
        <p>そして鈴木市長の野望とは・・・？</p>
        <p class="to_article"><a href="contents/erai_suzukisan1">インタビューはこちら！</a></p>
      </div>

      <h2>PR</h2>
      <div id="banner_big" style="margin-top:10px;">
        <%= ad_img %>
      </div>

      <h2>2015年10月9日</h2>
      <p><a href="contents/history"><%= image_tag 'mainimages/history_mainimage.jpg' %></a></p>
      <div class="detail_box">
        <p>鈴木さんの歴史、知ってますか？<br>ご先祖様を探すと、なんと神話の時代まで行ってしまう「鈴木さん」の長い歴史！<br>そんな鈴木さんの歴史をなんと5分で解説！</p><p>これを読めば、もっと鈴木が好きになる！</p>
        <p class="to_article"><a href="contents/history">ページはこちら！</a></p>
      </div>
    </div>
    <div class="ads_box">
     <%= adsense('contents_index_ads') %>
    </div>
  </div>
  <div id="banner_big" style="margin-top:10px;">
    <%= ad_img %>
  </div>



</div>
