<div id="rules">
  <div id="mainimage">
    <%= image_tag 'mainimages/contents_mainimage.jpg' %>
  </div>
  <div id="content">
    <p><a href="contents/erai_suzukisan1">えらい鈴木さんにインタビュー！</a></p>
    <p><a href="contents/history">鈴木さんの歴史</a></p>
    <div id="banner_big"></div>
      <script type="text/javascript">
      var lists=[
      '<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel.jpg' %></a>',
      '<a href="http://pixel-aoyama.com" target="blank_"><%= image_tag 'banner/pixel2.jpg' %></a>',
      '<a href="http://www.surf-bev.com/" target="blank_"><%= image_tag 'banner/surf.jpg' %></a>',
      '<a href="http://www.cosme-ken.org/" target="blank_"><%= image_tag 'banner/cosmeken.jpg' %></a>',
      ];

      var rNo = Math.floor(Math.random() * lists.length);
      $(document).ready(function() {
      document.getElementById('banner_big').innerHTML = lists[rNo];
      });
      </script>
  </div>
  </div>


</div>