<div id="interview1">

  <div id="mainimage">
    <%= image_tag 'mainimages/interview5_mainimage.jpg' %>
  </div>
  <div id="to_top">
    <a href="#mainimage"><%= image_tag 'to_top.png', :width=> '50px' %></a>
  </div>

    <div id="content">

      <p class="top50">先日開催された「鈴木さん限定のミスコン MISS-SUZUKI」。
      イベントをより一層盛り上げるため、青山学院大学 PIXELは日本一かっこいい鈴木さんとして、モデル・俳優としてご活躍中の『鈴木勤(すずきごん)』さんをスペシャルゲストとしてご招待しました！</p>
      <div class="big_image"><%= image_tag 'interview5/gon2.jpg' %><br>ステージ中央、日本一かっこいい鈴木さんとして表彰される鈴木勤さん。</div>

      <p class="top50">今回は、そんな日本一かっこいい鈴木さんである鈴木勤さんに、現在のご活躍や、鈴木さんとしての意気込みをインタビューしてまいりました！</p>

      <p class="top50">というわけで、まずは恒例の</p>
      <h2>鈴木さん一問一答！</h2>
      <p>ー 鈴木勤さんに俳優、モデルとしてではなく一人の鈴木さんとしてお答えいただきます！<br>勤さん、よろしくお願いします！ー</p>
      <p class="bold">鈴木勤さん:お願いします！</p>
      <h2 class="top30">Q1</h2>
      <p>− 初めてこの企画を聞いたときの感想をお願いします！—</p>
      <p class="bold">鈴木勤さん：やっぱり名前に着目した部分はすごく面白いなーと思いました。今までありそうでなかった企画ですよね。</p>

      <h2 class="top30">Q2</h2>
      <p>− 今後やってほしい鈴木さん企画を教えてください！—</p>
      <p class="bold">鈴木勤さん：ぜひ鈴木さんだらけのアイドルグループの男性版をやりたいです！あとは鈴木さんだけで作る芸術作品みたいなのも面白いと思います。</p>
      <p>−芸術作品！その発想はありませんでした！−</p>


      <h2 class="top30">Q3</h2>
      <p>− 尊敬する鈴木さんは誰ですか？—</p>
      <p class="bold">鈴木勤さん：メジャーリーガーの鈴木一郎選手ですね。<br>やっぱり日本を代表する鈴木さんだと思うので鈴木として誇りに思います。</p>


      <h2 class="top30">Q4</h2>
      <p>− 地元では鈴木さんは多かったですか？—</p>
      <p class="bold">鈴木勤さん：僕の地元は埼玉なんですが、1学年100人いたとしたら4人くらいの割合だったと思います。あんまり多くはないかもしれませんね。</p>


      <h2 class="top30">Q5</h2>
      <p>− 日本全体では鈴木さんが佐藤さんよりも若干少ないですが、それについてどう思われますか？—</p>
      <p class="bold">鈴木勤さん：え、鈴木の方が少ないんですか！？(ショックを受ける勤さん)<br>
      ・・・ちなみに何人くらいの差なんですか？</p>
      <p>−20万人です。−</p>
      <p class="bold top30">鈴木勤さん：なるほど・・・<br>
      それくらいならすぐにひっくり返せそうですよね？<br>
      <span class="bigger">鈴木のみなさん、頑張りましょう！(笑)</span></p>

      <h2 class="top30">Q6</h2>
      <p>− 鈴木に生まれてきてよかったですか？その理由も教えてください！—</p>
      <p class="bold">鈴木勤さん：よかったと思います。<br>
       <span class="bigger">「ごん」っていう名前が似合うのって、鈴木しかないと思うんですよね。</span></p>
      <p>—語呂がいいと。—</p>
      <p class="bold">鈴木勤さん：はい、他の苗字を当てはめてもしっくりこないんですよ。<br>やっぱり「鈴木」って何にでも合いますよね。「吉田勤」とかだったら、やっぱり違和感があるなー(笑)<br>
       <span class="bigger">「ごん」っていう名前が似合うのって、鈴木しかないと思うんですよね。</span></p>
      <p>— 確かに、鈴木って、何文字の名前が来てもしっくりきますね！—</p>


      <h2 class="top30">Q7</h2>
      <p>− 鈴木に生まれていなかったらどんな名字がよかったですか？—</p>
      <p class="bold">戦国武将みたいな苗字に憧れます。<br>でも「勤(ごん)」っていう名前が似合う名前があんまりないので、やっぱり鈴木がいいですね(笑)。</p>


      <h2 class="top30">Q8</h2>
      <p>− これから期待の鈴木さんはいますか？—</p>
      <p class="bold">そうですね・・・<br>
        <span class="super_bigger">ぜひ、ここは「鈴木勤」と言わせてください！</span>
      これから主演舞台なども控えていますので、ぜひこれからの僕の活躍に期待していただきたいと思います。</p>


      <h2 class="top30">現在の活動について</h2>
      <p>− 先ほど主演舞台が控えているとお聞きしましたが、どのような舞台なんでしょうか？ —</p>
      <p class="bold">鈴木勤さん：<span class="blue">「キャプテンハーロック〜次元航海〜」</span>という作品です。</p><p class="top30 bold">「宇宙戦艦ヤマト」でおなじみの松本零士さんの代表作の一つキャプテンハーロックが初めて舞台になりました！<br>
      <span class="blue">僕はハーロックに憧れる少年 「台羽正」役で出演します！</span></p>


      <div class="half_image_box">
        <div class="half_image"><%= image_tag 'interview5/actors1.jpg' %><br>稽古中のキャストの皆さん</div>
        <div class="half_image"><%= image_tag 'interview5/actors2.jpg' %>主要キャストの皆さん。勤さんは写真左</div>
      </div>

     <p class="top50">− 舞台のみどころを教えてください！—</p>
      <p class="bold">鈴木勤さん：今回は舞台の映像にも力を入れているのですが、 ほんとに凄いです！！僕自身も正直驚きました！！
<br>そして、アクション、ダンスすべてが素晴らしい作品となってます。</p>



      <p class="top30">− 舞台に向けての意気込みをお願いします！—</p>
      <p class="bold">鈴木勤さん：今回の役がどんな場所状況でも、 死ぬ気で飛び込む<span class="blue">「台場正」</span>という役なのですが、 自分にリンクしてて、 感情移入して台本を読んでいて 感極まってしまったりするくらい、
        思い入れの強い作品です。</p>
      <p class="bold top30">顔合わせの時から、スタッフ・共演者の方々が ラフに話しかけて下さり、みんなで良い作品に 仕上げる為に、同じ方向を向いてます。 <br>久しぶりの舞台ではあるのですが、 共演者の方達が本当に実力があるので、 <span class="bigger">自分も負けないように、誰よりも輝けるように、 死ぬ気でやってやります！！</p>

      <p class="top30">− 勤さん、本日はありがとうございました！—</p>
      <p class="bold">鈴木勤さん：ありがとうございました！</p>

      <p class="top30">—勤さんが出演する舞台「キャプテンハーロック～次元航海～」は2016年6月8日から12日まで公開です！−全国の鈴木さん、新宿村LIVEに集合！</p>

      <div class="cityinfo">
        <h3>【キャプテンハーロック～次元航海～】</h3>
        <div class="big_image"><%= image_tag 'interview5/actors4.jpg' %></div>
        <table>
          <tr class="odd">
            <td>公演日程：2016年6月8日（水）～12日（日） 全9公演</td>
          </tr>
          <tr class="even">
            <td>開演時間：8日(水)19:00 </td></tr>
          <tr class="odd">
            <td>9日(木)14:00／19:00 </td>
          </tr>
          <tr class="even">
            <td>10日(金) 14:00／19:00 </td>
          </tr>
          <tr class="odd">
            <td>11日(土) 13:00／18:00</td>
          </tr>
          <tr class="even">
            <td>12日(日) 13:00／17:00</td>
          </tr>
          <tr class="odd">
            <td>劇場：新宿村LIVE(東京都新宿区北新宿2-1-2)</td>
          </tr>
        </table>
      </div>
      <p class="bold city_link">チケットの購入はこちら！<br>
        <a href="http://www.bfp54.com/harlock/" target="_blank">キャプテンハーロック～次元航海～</a></p>

    </div>

<!-- twitterスクリプト [head]内や、[body]の終了直前などに配置 -->
<script>
  window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
<!-- facebookスクリプト [head]内や、[body]の終了直前などに配置 -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '529248367239781',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=529229320575019";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
