<div id="interview1">

  <div id="mainimage">
    <%= image_tag 'mainimages/mainimage_qtaro.jpg' %>
  </div>
  <div id="to_top">
    <a href="#mainimage"><%= image_tag 'to_top.png', :width=> '50px' %></a>
  </div>

    <div id="content">
      <div class="share">
        <!-- twitterシェアボタンに変換される -->
        <a class="twitter-share-button" href="https://twitter.com/share" data-text="ここに文字入れて" data-related="ついに鈴木Q太郎さんにインタビュー成功！そしてなんとミス鈴木にエントリー！？" data-count="horizontal" data-hashtags="ミス鈴木" data-dnt="true" data-lang="ja">Tweet</a>

        <!-- FBシェアボタンに変換される -->
        <div class="fb-like" expr:data-href="https://miss-suzuki.com/contents/erai_suzukisan1" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"/>facebook</div>
        <a class='hatena-bookmark-button' data-hatena-bookmark-layout='standard-balloon' data-hatena-bookmark-lang='ja' expr:data-hatena-bookmark-title='data:post.title' expr:href='"https://b.hatena.ne.jp/entry/" + data:post.canonicalUrl' title='このエントリーをはてなブックマークに追加'><img src='https://b.st-hatena.com/images/entry-button/button-only@2x.png' alt='このエントリーをはてなブックマークに追加' width='20' height='20' style='border: none;' /></a><script type='text/javascript' src='https://b.st-hatena.com/js/bookmark_button.js' charset='utf-8' async='async'></script>

      </div>

      <h2 class="both30"><span>本日の鈴木さんは？</span></h2>
      <p>こんにちは！MISS-SATOでMCを務めました、<span class="blue bold bigger">「佐藤あこ」</span>です！</p>
      <div class="big_image"><%= image_tag 'interview_sp1/intro1.jpg' %></div>

      <p class="both50">私は今、とある鈴木さんの隣にいます！<br>その方はなんと！</p>
      <div class="big_image"><%= image_tag 'interview_sp1/intro2.jpg' %></div>
      <p><span class="blue bold super_bigger">ハイキングウォーキング 鈴木Q太郎</span>さんです！</p>

      <div class="dialog_box top50">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p>どうも！鈴木Q太郎です！よろしくお願いします！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p> Q太郎さん、本日はよろしくお願いします！</p></div>
      </div>

      <p>まずは恒例の、おみやげタイム！<br>株式会社ラナ様からいただいた鈴木さんグッズをプレゼント！</p>
      <div class="big_image"><%= image_tag 'interview_sp1/gift.jpg' %></div>
      <div class="dialog_box top50">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p>え？本当にこれ貰っていいんですか！？すげー嬉しいです！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>さらにもう一つプレゼントがあります！</p></div>
      </div>
      <div class="big_image"><%= image_tag 'interview_sp1/shirts.jpg' %><br><span class="bold">「鈴木代表」Tシャツをプレゼントしたところ、早速着てくれました！</span></div>
      <div class="dialog_box top50">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p>いいっすねーこれ！ 僕が鈴木の代表ですか！</p></div>
      </div>
      <div class="big_image both50"><a href="http://www.runatown.com/shopbrand/ct840/" target="_blank"><%= image_tag 'interview_sp1/goods.jpg' %></a><br><span class="bold">佐藤代表、鈴木代表Tシャツは大好評発売中です！<br>佐藤さん、鈴木さんへのプレゼントで迷うことはもうありません！</div>


      <div class="dialog_box both50">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>Q太郎さんに喜んでいただけてよかったです！<br>それではインタビューを始めたいと思います！</p></div>
      </div>

      <h2 class="top30"><span>鈴木さん一問一答！</span></h2>
      <p>Q太郎さんに、鈴木さんとしてお答えいただきたい質問をぶつけるコーナー！</p>

      <h2 class="top30"><span>Q1</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>最初にこの企画のことを聞いたときの感想を教えてください！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p>待ってました！という感じですね！<br>人口が多いのでスルーされがちだった鈴木さんですが、今回フィーチャーしてくれたのはすごく嬉しいです！</p></div>
      </div>
      <h2 class="top30"><span>Q2</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>尊敬する鈴木さんは誰ですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p>やっぱり僕は芸人なんで、<span class="blue bold bigger">ウド鈴木</span>さんです！</p></div>
      </div>
      <h2 class="top30"><span>Q3</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>鈴木さんならではのエピソードを教えてください！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p>はい！小学校の時にあったお菓子で、<span class="bold bigger">「鈴木くん」と「佐藤くん」</span>ていう商品がありまして。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>そんなお菓子があったんですか！？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p>そうなんです。<span class="bold bigger">「佐藤くん味」と「鈴木くん味」</span>みたいなのがあって(笑)</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p><span class="bold super_bigger">鈴木くん味！！</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p>それで、遠足のときに友達が僕の目の前にわざわざ持ってきて、<br><span class="bold bigger">
          「佐藤くんのほうがウマいな！」</span>みたいなイジリを毎回されましたね(笑)</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'interview_sp1/snack.jpg' %><br>ちなみにこちらがそのお菓子！現在はもう生産していないようです・・<br>(画像提供：<a href="http://ameblo.jp/yukabushi/">レトロ雑貨 だるまや</a>)</div>

      <h2 class="top30"><span>Q4</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>芸能界で仲のいい鈴木さんは誰ですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p>うーん・・・誰かなー？ちょっと待ってくださいね。</p></div>
      </div>

      <div class="big_image top50 bottom30"><%= image_tag 'interview_sp1/phone.jpg' %><br>スマホの電話帳を確認するQ太郎さん。</div>
      <div class="dialog_box both50">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki2.png' %></div>
        <div class="comment"><p class="bold bigger">すずき・・・・・・</p></div>
      </div>
      <div class="dialog_box both50">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki2.png' %></div>
        <div class="comment"><p class="bold bigger">すずき・・・・・・</p></div>
      </div>
      <div class="dialog_box both50">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki2.png' %></div>
        <div class="comment"><p class="bold biggest">いないですね。</p></div>
      </div>
      <p class="bottom30 bold super_bigger">一同：(爆笑)</p>

      <h2 class="top30"><span>Q5</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>気をとりなおしていきましょう！車はもちろんSUZUKIですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p>僕、今は免許持ってないんですよ(笑)<br>もし免許があったらSUZUKIの軽自動車に乗りたいですね！
</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>いいですねー！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p>でも昔はSUZUKIの<span class="blue bold bigger">「ガンマ」</span>とか乗ってましたよ！</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'interview_sp1/ganma.jpg' %><br>(スズキ歴史館展示品)</div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>これですか！かっこいい！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p>高校生の頃は結構スタイリッシュなSUZUKIのバイクがはやってて、僕も乗ってましたね。</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'interview_sp1/talking.jpg' %><br>ものスゴくSUZUKIのバイクに詳しい鈴木Q太郎さん。<br>そのSUZUKI愛溢れるトークにスタッフも驚きました！</div>

      <h2 class="top30"><span>Q6</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>今回のインタビューのように、「鈴木さんだから」ということで決まったお仕事はありますか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p>以前、<span class="bold blue">今田耕司</span>さん司会で、<span class="bold">鈴木・田中・佐藤・高橋の芸能人を集めて4チームで対決する番組</span>に出演しました！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>すごい企画！！面白そうですね！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p>そこで<span class="bold blue">鈴木杏樹</span>さんと同じチームになったんですが、めちゃくちゃ嬉しかったですねー。「鈴木でよかったー！」って思いました。 </p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p class="bold">おお！鈴木杏樹さんですか！キレイな鈴木さんですよねー！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p class="bold biggest">誰が汚い鈴木さんだ！！</p></div>
      </div>

      <h2 class="top30"><span>Q7</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>鈴木に生まれてきてよかったですか？その理由も教えてください！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p>鈴木でよかったです！<span class="bold">なにより「鈴木」っていう字が描きやすい！</span><br>
        佐藤は<span class="bold super_bigger">「藤」</span>の部分が書きにくいですからね。これは鈴木の勝ちですよ。<br>
(やたら佐藤さんをライバル視するQ太郎さん)
</p></div>

      <h2 class="top30"><span>Q8</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>では、日本全体では鈴木さんが佐藤さんよりも若干少ないですが、それについてはどうお考えでしょうか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p class="bold super_bigger">え、マジすか！？いつ越されたんですか!?</p></div>
      </div>
      <div class="big_image both30"><%= image_tag 'interview_sp1/disappointed.jpg' %><br>どうやらこの事実を初めて知ったQ太郎さん。</div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>実は、鈴木が１位だと思っている方って結構多いんです。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki3.png' %></div>
        <div class="comment"><p>うわー。１位だと思ってたからプライドを持っていたのに、2位だとただ多いだけの苗字になってしまう・・・</p></div>
      </div>
      <h2 class="top30"><span>Q9</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>元気を出してください！<br>じゃあ、もし鈴木さんじゃなかったらどんな苗字がよかったですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p>もし鈴木以外に生まれるなら、ものすごく少ない苗字がいいですね。<br>
        以前会った人で<span class="bold bigger">「板矢越(いたやごし)」</span>さんっていう方がいて。
</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p class="super_bigger bold">板矢越さん！！？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p>それくらい凄い名前がいいですね！あとは<span class="bold">東国原(ひがしこくばる)</span>さんとか。</p></div>
      </div>
      <h2 class="top30"><span>Q10</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>インタビューもいよいよ佳境に差し掛かってきました！<br>日本中の鈴木さんに一言お願いします！
</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p class="bold bigger">人数が多いからって卑屈にならずに、日本を代表する苗字として誇りを持って頑張りましょう！
</p></div>
      </div>
      <h2 class="top30"><span>Q11</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>一番大切な鈴木さんに一言お願いします！
</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p>(故郷 新潟の母と弟へ)<br><span class="bold super_bigger">
        俺も東京で鈴木として頑張ります！<br>新潟の鈴木を守ってください！</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>感動的な一言、ありがとうございます！<br>
鈴木さん一問一答は終了です！Q太郎さん、ありがとうございました！</p></div>
      </div>
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p class="bold">ありがとうございました！</p></div>
      </div>
      <h2 class="top50"><span>全国の鈴木さん、集合！</span></h2>
      <p class="bold">今回インタビューにご協力してくださった鈴木Q太郎さんのお笑いコンビ、<br><span class="blue bold bigger">ハイキングウォーキング</span>さんの単独ライブが開催されます！</p>
      <p class="bold"><span class="blue">2016年3月19日(土)</span> 時間未定<br>
ハイキングウォーキング単独ライブ「タイトル未定」<br>
  場所:ルミネtheよしもと</p>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p>全国の鈴木さんでルミネtheよしもとを埋め尽くそう！</p></div>
      </div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>鈴木Q太郎さん、インタビューにご協力いただきありがとうございました！</p></div>
      </div>
      <p class="super_bigger bold top50">インタビュー終了！・・・のはずが・・・</p>
      <h2 class="top50"><span>MISS-SUZUKIにエントリー！？</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p class="bold">あの、僕もミス鈴木にエントリーしたいんですけど。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>え？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p class="bold">一応、「かわいい鈴木さん」ならOKなんですよね？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_sato1.png' %></div>
        <div class="comment"><p>まあ、ルール上はそうですが・・・</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p class="bold">インタビュー中にたくさんかわいい写真撮ったじゃないですか！</p></div>
      </div>
      <p class="bold both30">これとか</p>
      <div class="big_image both30"><%= image_tag 'interview_sp1/qtaro_kawaii1.jpg' %></div>
      <p class="bold bigger both30">これとか</p>
      <div class="big_image both30"><%= image_tag 'interview_sp1/qtaro_kawaii2.jpg' %></div>
      <p class="bold super_bigger">これとか！</p>
      <div class="big_image both30"><%= image_tag 'interview_sp1/qtaro_kawaii3.jpg' %></div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p class="bold">これはかわいいんじゃないですか？</p></div>
      </div>
      <div class="dialog_box both50">
        <div class="icon"><%= image_tag 'interview_sp1/icon_suzuki1.png' %></div>
        <div class="comment"><p class="bold biggest">これでお願いします！</p></div>
      </div>

      <h2 class="both50"><span>数日後・・・</span></h2>
      <p class="bold">ミス鈴木にエントリーしようとしていた鈴木Q太郎さんですが、<br>
      なんと結婚して<span class="super_bigger">「猪熊(いのくま)」</span>さんになっていたことが判明！</p>
      <div class="big_image both30"><%= image_tag 'interview_sp1/qtaro_monotone.jpg' %></div>
      <p class="bold biggest bottom50">猪熊正志さん(本名)、失格！</p>
      <div class="share">
        <!-- twitterシェアボタンに変換される -->
        <a class="twitter-share-button" href="https://twitter.com/share" data-text="ここに文字入れて" data-related="ついに鈴木Q太郎さんにインタビュー成功！そしてなんとミス鈴木にエントリー！？" data-count="horizontal" data-hashtags="ミス鈴木" data-dnt="true" data-lang="ja">Tweet</a>

        <!-- FBシェアボタンに変換される -->
        <div class="fb-like" expr:data-href="https://miss-suzuki.com/contents/erai_suzukisan1" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"/>facebook</div>
        <a class='hatena-bookmark-button' data-hatena-bookmark-layout='standard-balloon' data-hatena-bookmark-lang='ja' expr:data-hatena-bookmark-title='data:post.title' expr:href='"https://b.hatena.ne.jp/entry/" + data:post.canonicalUrl' title='このエントリーをはてなブックマークに追加'><img src='https://b.st-hatena.com/images/entry-button/button-only@2x.png' alt='このエントリーをはてなブックマークに追加' width='20' height='20' style='border: none;' /></a><script type='text/javascript' src='https://b.st-hatena.com/js/bookmark_button.js' charset='utf-8' async='async'></script>

      </div>
  </div>

  </div>

<!-- twitterスクリプト [head]内や、[body]の終了直前などに配置 -->
  <script>
    window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
  </script>
  <!-- facebookスクリプト [head]内や、[body]の終了直前などに配置 -->
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '529248367239781',
        xfbml      : true,
        version    : 'v2.5'
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=529229320575019";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
