<div id="interview1">

  <div id="mainimage">
    <%= image_tag 'mainimages/interview5_mainimage.jpg' %>
  </div>
  <div id="to_top">
    <a href="#mainimage"><%= image_tag 'to_top.png', :width=> '50px' %></a>
  </div>

    <div id="content">

      <p class="top50">新年明けましておめでとうございます！<br><span class="bold">「インターンに来てほしい学生No1」ビジュアル系プログラマーの小野祥吾です！</span></p>
      <div class="big_image"><%= image_tag 'interview4/intro1.jpg' %></div>
      <p>本日は、初の東京でのインタビューです！<br><span class="bold blue">千歳烏山駅</span>に来ています！</p>


      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>今回のえらい鈴木さんは一味違います！<br>今までは<span class="bold">「えらい人たちの中の鈴木さん」</span>でしたが、今回のお相手は<span class="bold">「鈴木さんの中でえらい人たち」です！</span></p><p>どういうことでしょうか？それでは早速移動しましょう！</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'interview4/intro2.jpg' %></div>
      <p>今回お邪魔するのはこちら！</p>
      <div class="big_image top50"><%= image_tag 'interview4/intro3.jpg' %></div>
      <p><span class="bold blue">ヒサモト産業株式会社</span>さん！</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>あれ、鈴木じゃない！？<br>とりあえず中に入りましょう！</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'interview4/hairstyle.jpg' %></div>
      <p>そして・・・</p>
      <div class="big_image top50"><%= image_tag 'interview4/intro4.jpg' %></div>
      <p><span class="bold blue">関東藤白鈴木会</span>の<span class="bold blue">鈴木久元(ひさもと)会長、鈴木貞雄(さだお)副会長</span>が登場！</p>
      <div class="dialog_box both30">
        <div class="icon"><%= image_tag 'interview4/icon_president.png' %></div>
        <div class="comment"><p>お久しぶりです、鈴木です。</p></div>
      </div>
      <div class="dialog_box both30">
        <div class="icon"><%= image_tag 'interview4/icon_visepresident.png' %></div>
        <div class="comment"><p>どうも、鈴木です。</p></div>
      </div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>実はこちらのお二人、去年の鈴木会で一度お会いしているんです！<br>ミス鈴木もリリース直後からずっと応援していただいています！</p></div>
      </div>
      <p><span class="bold blue">鈴木会</span>とは・・・</p>
      <div class="big_image"><%= image_tag 'interview4/suzukikai.jpg' %></div>
      <p>全国の鈴木さんたちが集まり、自分たちのルーツを勉強する会！<br>正式名称は「藤白鈴木会」といい、鈴木さんのふるさとの藤白神社が中心となっています。</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>本日は関東藤白鈴木会について、インタビューしたいと思います！<br>よろしくお願いします。</p></div>
      </div>
      <div class="dialog_box both30">
        <div class="icon"><%= image_tag 'interview4/icon_president.png' %></div>
        <div class="comment"><p>よろしくお願いします。</p></div>
      </div>
      <p>まずは、MISS-SUZUKIの近況報告！</p>
      <div class="big_image top50"><%= image_tag 'interview4/talking.jpg' %></div>
      <p>参加者の鈴木さんたちに興味深々のお二人。</p>
      <div class="big_image top50"><%= image_tag 'interview4/poster.jpg' %></div>
      <p>いよいよファイナリストも出揃いました！<br><span class="bold red">ファイナルは2月10日(水)、麻布十番ivyで開催されます！</p>

      <div class="dialog_box both30">
        <div class="icon"><%= image_tag 'interview4/icon_visepresident.png' %></div>
        <div class="comment"><p>いやー、みなさんとてもかわいらしいですね。</p></div>
      </div>
      <p>盛り上がってきたところで、</p>
      <h2>インタビュー開始！</h2>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>関東藤白鈴木会の設立の経緯について教えてください！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_president.png' %></div>
        <div class="comment"><p><span class="bold">関東藤白鈴木会は2014年10月に発足されました。</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>意外と新しいんですね！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_president.png' %></div>
        <div class="comment"><p> 2年ほど前に自宅で家系図や古文書が見つかりまして、その家系図を調べてもらったら、どうやらご先祖様は和歌山から来たということがわかりました。</p><p>そして和歌山県に問い合わせたらすぐに連絡がきて。<br><span class="bold">「とても由緒正しい家系です」</span>と教えていただきました。</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'interview4/history2.jpg' %></div>
      <p>こちらがその家系図の一部！(コピーしたもの)</p>
      <p class="both30"><span class="bold blue">鈴木三郎重家(すずきさぶろうしげいえ)</span>から続く、約800年分の歴史が記されています！</p>
      <div class="big_image top50"><%= image_tag 'interview4/komonjo.jpg' %></div>
      <p>こちらは家系図と一緒に見つかった古文書！</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>すごい！ これを発見したことが鈴木会のきっかけですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_president.png' %></div>
        <div class="comment"><p>その時に電話で全国藤白鈴木会を紹介されて、鈴木さんの集まりがあると知りました。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>なるほど。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_president.png' %></div>
        <div class="comment"><p>そのうちに藤白神社の宮司さんから直々にお願いがありまして、ぜひ関東でも鈴木会を作ってほしいと。<br><span class="bold">そこで鈴木さんの600名くらいの名簿を見せてもらって。</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p><span class="bold bigger">鈴木さんだらけの名簿！！</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_president.png' %></div>
        <div class="comment"><p>その鈴木さんみんなに招待状を出して、ぜひ鈴木会をやりましょうと連絡しました。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>じゃあもしかして、それまでの人生ではそんなに鈴木さんのことを考えていなかったんですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_president.png' %></div>
        <div class="comment"><p>いえ、小さい頃からずっと鈴木さんへの誇りは持っていましたよ。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_visepresident.png' %></div>
        <div class="comment"><p>鈴木さんだけの第６感みたいなものがあるんですよね(笑)</p></div>
      </div>
      <div class="dialog_box top50">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>副会長の貞雄さんのルーツはどちらなんでしょうか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_visepresident.png' %></div>
        <div class="comment"><p>私の先祖は熊野から藤白には行かずに、熊野信仰を広めるために全国を渡り歩いた家系と言われています。</p></div>
      </div>
      <p>※鈴木さん一族は熊野(現在の三重県の南部)で誕生し、和歌山県の藤白に移住したと伝えられています。<br>詳しくは、<a href="/contents/history">鈴木さんの歴史</a>をご覧ください！</p>
      <div class="dialog_box top50">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>え！じゃあ藤白に行く前の鈴木さんということですか！？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_visepresident.png' %></div>
        <div class="comment"><p>そういうことになりますね。<br>西暦400〜500年頃に熊野から出発して千葉の方まで来て、千葉からまたずっと移動して。</p><p>1399年に福島の私の実家のある町に辿り着いたと伝えられています。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>それが2016年まで伝わってるってかなりすごいことですよね・・・</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_visepresident.png' %></div>
        <div class="comment"><p> まあ、熊野から千葉までの記録は残念ながら見つからないので、どういうルートで来たかは不明なんですが、千葉から福島までの記録は色々とあるみたいなんですね。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>その古文書、<span class="bold blue">「なんでも鑑定団」</span>に出したらすごいんじゃないんですか(笑)？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_visepresident.png' %></div>
        <div class="comment"><p><span class="bold">それが、昔問い合わせたら全然ダメでした。</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>(問い合わせてたんかい！)</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'interview4/mikan1.jpg' %></div>
      <p>みかんを食べながらインタビュー。終始アットホームな取材でした！</p>
      <h2 class="top50">鈴木さんの話から戦争の話へ・・・</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>偶然にもお二人とも福島のご出身なんですね。共通の思い出は何かありますか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_visepresident.png' %></div>
        <div class="comment"><p><span class="bold">やっぱり戦争ですね。</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_president.png' %></div>
        <div class="comment"><p>地元の郡山はかなり空襲を受けた地域でね。空襲の爆風で気を失ったこともあります。<span class="bold">そのまま走って山奥まで逃げて三日三晩、野宿しましたよ。</span>当時は小学生だったのでかなり大変でしたね。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>本当に「はだしのゲン」の世界じゃないですか・・・8月15日はどんな感じでしたか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_president.png' %></div>
        <div class="comment"><p>「玉音放送があるから来い」ってみんな朝に学校に呼ばれました。<br>負けたと聞いた時はみんな悔しかったと思いますよ。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>嬉しくはなかったんですか！？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_president.png' %></div>
        <div class="comment"><p>みんな勝つと思ってましたからね。当時は。</p></div>
      </div>
      <p>ちなみに、その戦争を終わらせたのも実は鈴木さんなんです！<br>当時の内閣総理大臣だった<span class="bold blue">鈴木貫太郎</span>さんは、ポツダム宣言の受諾を決断した人物として知られています。</p>
      <div class="half_image_box">
        <div class="half_image"><%= image_tag 'interview4/suzuki_kantaro.jpg' %></div>
      </div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>貞雄さんはどうでしたか？ </p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_visepresident.png' %></div>
        <div class="comment"><p>私は当時中学1年生だったんですが、<span class="bold">先生が軍人なんですよ。</span> <br>午前中は普通の授業なんですけれども<span class="bold">ずっと軍刀をぶら下げてて。</span><br><span class="bold super_bigger">恐かったですねー(笑)</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>いや、笑いごとじゃないですよ！ </p></div>
      </div>
      <p class="bigger bold both50">戦争の話がすごすぎてインタビューの趣旨がブレそうになったのでここで終了！</p>
      <h2>ところで、普段のお仕事は？ </h2>
      <div class="dialog_box top50">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>ちなみに、お二人は普段はどんなお仕事をされているんでしょうか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_president.png' %></div>
        <div class="comment"><p>私は<span class="bold blue">「ヒサモト産業」</span>という会社を経営しています。学校のグラウンドで使うラインパウダーを製造販売したり、プールの掃除機を輸入販売したりしています。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>ラインパウダーってこれですか？</p></div>
      </div>
      <div class="big_image"><%= image_tag 'interview4/marker.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview4/icon_president.png' %></div>
        <div class="comment"><p>そうです。ちなみにウチは<span class="bold red">東日本のラインパウダーのシェアNo1</span>です。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>すごい！どうやってシェアを拡大したんでしょうか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_president.png' %></div>
        <div class="comment"><p>文部科学省の要請で、安全なラインパウダーを開発しました。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>ラインパウダーって危険なんですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_president.png' %></div>
        <div class="comment"><p><span class="bold">それまでのラインパウダーは消石灰という材料で出来ていて、目に入ると失明の恐れがあったんですよ。<br>うちのラインパウダーは目や口に入っても大丈夫な石灰カルシウムという素材で作っています。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>それでこんなに表彰されているんですね！</p></div>
      </div>
      <div class="big_image"><%= image_tag 'interview4/awards.jpg' %></div>
      <p>壁には表彰状がずらり！</p>
      <div class="big_image top50"><%= image_tag 'interview4/president.jpg' %></div>
      <p>インタビュー終盤、久元会長の長男の<span class="bold blue">鈴木貴久</span>さんも登場！<br>ヒサモト産業の社長です！</p>
      <div class="big_image top50"><%= image_tag 'interview4/picture2.jpg' %></div>
      <p>鈴木さんだらけの集合写真！<br>鈴木久元会長、鈴木貴久社長ありがとうございました！</p>
      <div class="dialog_box top50">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>副会長は普段どんなお仕事をされているんですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_visepresident.png' %></div>
        <div class="comment"><p class="bold super_bigger">私は河童連邦共和国の活動をしています。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview4/icon_ono.png' %></div>
        <div class="comment"><p>！？</p></div>
      </div>
      <p class="super_bigger bold both30">完</p>

      <div class="cityinfo">
        <h3>ヒサモト産業</h3>
        <div class="big_image"><%= image_tag 'interview4/picture2.jpg' %></div>
        <table>
          <tr class="odd">
            <td>ラインパウダーの製造販売</td>
          </tr>
          <tr class="even">
            <td>プールの掃除機の輸入販売</td></tr>
          <tr class="odd">
            <td>寒冷時にコンクリートが凍結するという問題点を解決した｢ベルワンP｣の販売など</td>
          </tr>
          <tr class="even">
            <td>さまざまな新製品の開発・販売で多数の表彰をされています。</td>
          </tr>
          <tr class="odd">
            <td>創業47年目という老舗企業です！</td>
          </tr>
        </table>
      </div>
      <p class="bold city_link">さらに詳しい情報はこちら！<br>
        <a href="http://www.hisamotosangyo.co.jp/" target="_blank">ヒサモト産業ホームページ</a></p>

    </div>

<!-- twitterスクリプト [head]内や、[body]の終了直前などに配置 -->
<script>
  window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
<!-- facebookスクリプト [head]内や、[body]の終了直前などに配置 -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '529248367239781',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=529229320575019";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
