<div id="interview1">

  <div id="mainimage">
    <%= image_tag 'mainimages/interview_mainimage.jpg' %>
  </div>
  <div id="to_top">
    <a href="#mainimage"><%= image_tag 'to_top.png', :width=> '50px' %></a>
  </div>

    <div id="content">
      <div class="share">
        <!-- twitterシェアボタンに変換される -->
        <a class="twitter-share-button" href="https://twitter.com/share" data-text="日本一「鈴木さん」の多い街の「鈴木市長」にお会いしました！" data-related="2015MissSuzuki:最新情報をお届けします！フォローよろしくお願いします！" data-count="horizontal" data-hashtags="ミス鈴木" data-dnt="true" data-lang="ja">Tweet</a>

        <!-- FBシェアボタンに変換される -->
        <div class="fb-like" expr:data-href="https://miss-suzuki.com/contents/erai_suzukisan1" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"/>facebook</div>
      <a class='hatena-bookmark-button' data-hatena-bookmark-layout='standard-balloon' data-hatena-bookmark-lang='ja' expr:data-hatena-bookmark-title='data:post.title' expr:href='"https://b.hatena.ne.jp/entry/" + data:post.canonicalUrl' title='このエントリーをはてなブックマークに追加'><img src='https://b.st-hatena.com/images/entry-button/button-only@2x.png' alt='このエントリーをはてなブックマークに追加' width='20' height='20' style='border: none;' /></a><script type='text/javascript' src='https://b.st-hatena.com/js/bookmark_button.js' charset='utf-8' async='async'></script>

      </div>

      <h2 class="both30"><span>日本で一番鈴木さんが多い街は？</span></h2>
      <p>どうも、MISS-SUZUKIを運営しています、青山学院大学 PIXEL代表のビジュアル系プログラマーこと小野祥吾です。</p>
      <p>突然ですが、日本で一番鈴木さんが多いといわれている街をご存知でしょうか？</p>
      <p class="both50">それは、<span class="blue bold super_bigger">静岡県浜松市！</span><br>調べてみると、<span class="bold bigger">なんと市長のお名前も「鈴木さん」！</span>Σ(ﾟДﾟ)恐るべし浜松！</p>

      <p class="bottom50">これは行くしかない！ということで浜松市役所に恐る恐る電話をかけてみました。</p>
      <p class="bold bigger">「あのー、市長にお会いしたいんですが・・・」</p>
      <div class="big_image"><%= image_tag 'interview1/phone.jpg' %></div>
      <p>市役所の方は電話の向こうにいるのがこんなヤツだとは夢にも思っていないでしょう。</p>
      <p class="both50">この電話から数日後・・・</p>
      <p class="bold super_bigger bottom50">なんと取材OK!! </p>
      <p>というわけで…</p>

      <h2 class="both50"><span>浜松市にやってきました！</span></h2><p>(´Д⊂夜行バス。。眠い。。</p>
      <div class="half_image_box">
        <div class="half_image"><%= image_tag 'interview1/station1.jpg' %></div>
        <div class="half_image"><%= image_tag 'interview1/station2.jpg' %></div>
      </div>
      <p>東京から250km。静岡県浜松市に到着！</p>
      <p class="top50">街を散策してみると、至るところに<span class="blue bold bigger">「出世大名 家康くん」</span>が！(@_@)ﾅﾆｺﾚ</p>
      <div class="big_image"><%= image_tag 'interview1/ieyasukun1.jpg' %></div>
      <p>以前<a href="/contents/history">「鈴木さんの歴史」</a>のページでもご紹介しましたが、静岡県は徳川家康のゆかりの地として知られています。<br>その中でも浜松は特につながりの深い街なんですね！</p>
      <p>最近では「餃子の街」としても有名になりました。（食べたい！！）</p>

      <h2 class="both50"><span>いよいよ鈴木市長登場！</span></h2>
      <div class="big_image"><%= image_tag 'interview1/yakusho.jpg' %></div>
      <p class="bottom30">浜松駅から徒歩15分ほどで市役所に到着。すぐ隣には浜松城！</p>
      <div class="big_image"><%= image_tag 'interview1/styling.jpg' %></div>
      <p>失礼がないように、髪の毛をセット！<br>
        私、ビジュアル系プログラマー小野祥吾がこれから鈴木市長にお会いします！</p>
      <p class="bold super_bigger both50">万全の状態でいざ、市長室へ！！</p>
      <div class="big_image"><%= image_tag 'interview1/mayor.jpg' %></div>
      <p class="bold super_bigger">浜松市長 <span class="blue super_bigger">鈴木康友（やすとも）</span>さん、登場！</p>
      <p class="bottom50">こちらが、鈴木さんのまち浜松市のトップに立つ鈴木さんです！</p>
      <div class="big_image"><%= image_tag 'interview1/interview1.jpg' %></div>
      <p>まずはお土産をプレゼント！</p>
      <div class="big_image"><%= image_tag 'interview1/present.jpg' %></div>
      <p>株式会社ラナ様にいただいた鈴木さんグッズと、藤白神社からいただいた<span class="bold bigger">「鈴木さん専用のお守り」</span>をプレゼントしました！</p>
      <p class="top50">喜んでいただいたところで、鈴木市長にインタビュー開始！<br>鈴木市長から語られるエピソードの数々は必見です！</p>
      <p class="go_next_page"><a href="erai_suzukisan1_2">後半へ続く！</a></p>
      <div class="big_image"><%= image_tag 'interview1/interview2.jpg' %></div>

    </div>


<!-- twitterスクリプト [head]内や、[body]の終了直前などに配置 -->
<script>
  window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
<!-- facebookスクリプト [head]内や、[body]の終了直前などに配置 -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '529248367239781',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=529229320575019";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
