<div id="interview1">

  <div id="mainimage">
    <%= image_tag 'mainimages/interview2_mainimage2.jpg' %>
  </div>
  <div id="to_top">
    <a href="#mainimage"><%= image_tag 'to_top.png', :width=> '50px' %></a>
  </div>

    <div id="content">
      <div class="share">
        <!-- twitterシェアボタンに変換される -->
        <a class="twitter-share-button" href="https://twitter.com/share" data-text="スズキ株式会社社長 鈴木俊宏さんにインタビュー！！【後編】" data-related="2015MissSuzuki:最新情報をお届けします！フォローよろしくお願いします！" data-count="horizontal" data-hashtags="ミス鈴木" data-dnt="true" data-lang="ja">Tweet</a>

        <!-- FBシェアボタンに変換される -->
        <div class="fb-like" expr:data-href="https://miss-suzuki.com/contents/erai_suzukisan2_2" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"/>facebook</div>

      </div>

      <p><span class="bold">【<a href="/contents/erai_suzukisan2_1">前回</a>のおさらい】</span></p>
      <p>ついにスズキの鈴木社長へのインタビューに成功したMISS-SUZUKI！<br>
        無事取材終了！かと思ったら、なんと社長に<span class="bold blue">スズキ歴史館</span>をご案内していただけることに！！</p>

        <p>ちなみにスズキ歴史館は、<span class="bold bigger">全国の社会科見学の中でも非常に高い満足度</span>で知られています！<br>そんな場所をなんと社長自らがご案内！</p>
        <h2 class="top50">豪華すぎる社会科見学、スタート！</h2>

      <div class="big_image top50"><%= image_tag 'interview2/2ndfloor.jpg' %></div>
      <p>まずは2階へ！このフロアでは車の製造工程と浜松市の情報が展示されています！ </p>

      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>この展示なんか面白いですよ。</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'interview2/robot1.jpg' %></div>

      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>これはなんですか？？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>ちょっとボタンを押してみてください。</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'interview2/robot2.jpg' %></div>

      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p class="bigger bold">うわ！！動いたーーーー！！Σ(ﾟДﾟ)ｽｹﾞｪ!!</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>これは製造ラインで実際に使っているロボットです。スイッチでお客様が操作することができます。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p class="bigger bold">一台ほしいです。（ ＾ω＾ ）</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president2.png' %></div>
        <div class="comment"><p class="bold bigger"> 絶対ダメです！(笑)</p></div>
      </div>
      <h2 class="top50">衝突実験コーナーへ！</h2>
      <div class="big_image top30"><%= image_tag 'interview2/crash.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>これは事故の実験に使われた車ですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>そうです。このコーナーは衝突実験の展示ですね。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>車の後ろの無傷の部分はもちろん再利用するんですよね？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p class="bold bigger">いえ、一台一台新しいもので行っています。<br>安全な車を作るためですから！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>すごい・・・ ( ﾟдﾟ)</p></div>
      </div>
      <h2 class="top50">１番印象的だった展示はこちら！</h2>
      <div class="big_image top30"><%= image_tag 'interview2/splush1.jpg' %></div>
      <p class="bottom30">こちら、一見普通の車ですが・・</p>
      <div class="big_image top50"><%= image_tag 'interview2/splush2.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p class="bold super_bigger">なんですかコレ！？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p class="bold super_bigger">これ、実は粘土なんです。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p><span class="bold super_bigger">ね、粘土！？( ﾟДﾟ)</span><br><span class="bold bigger">でも色がついてる方は本物の車ですよね？</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p class="bold">もちろん両方とも粘土です。塗装をしただけですね。<br>デザインの最終段階では、このように<span class="bigger">粘土で実物大の車を作って確認するんです。</span></p></div>
      </div>
      <div class="big_image top30"><%= image_tag 'interview2/splush1.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>これが粘土で出来ているなんて・・・<br>ちなみに、この段階まで来た車はほとんど販売されるんですよね？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p class="bold bigger">ボツになることもたくさんありますよ。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>ここまで作ったのに！(ﾟДﾟ )</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p class="bold bigger">いい製品を作るためですから妥協はできません。</p></div>
      </div>
      <div class="big_image top30"><%= image_tag 'interview2/splush3.jpg' %></div>
      <p class="bottom30 bold">スズキの車は開発チームのこだわりがたくさん詰まっています！</p>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>ちなみにこの<span class="blue bold">スプラッシュ</span>は私が開発に関わった車なので、とくに思い入れの強い一台です。</p></div>
      </div>
      <div class="big_image top30"><%= image_tag 'interview2/splush4.jpg' %></div>
      <p class="bottom30 bold">鈴木社長の思い出の一台「<span class="blue bold">スプラッシュ</span>」！</p>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>では、 3階へ行きましょう！<br>3階はスズキという会社そのものの歴史が展示されています。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>いよいよ歴代の車がたくさん見られるんですね！！</p></div>
      </div>
      <h2 class="both50">スズキは車のメーカーじゃなかった！？</h2>
      <div class="big_image"><%= image_tag 'interview2/shokki.jpg' %></div>
      <p>3階につくといきなり目に飛び込んでくるのはこちら！</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>あれ？いきなり車じゃないものが・・・これは一体？？( ・ω・)</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>実はスズキの歴史は、この機械から始まったんです。<br>創業者の<span class="blue bold">鈴木道雄</span>が1909年に作った<span class="blue bold">鈴木式織機製作所</span>(すずきしきしょっきせいさくじょ)という会社がスズキの原点です。</p></div>
      </div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>へえー。最初から自動車を作っていた会社じゃないんですね！</p></div>
      </div>
      <div class="big_image"><%= image_tag 'interview2/michio_suzuki.jpg' %></div>
      <p class="bottom50">創業者の鈴木道雄さん！</p>
      <div class="big_image top50"><%= image_tag 'interview2/bike.jpg' %></div>
      <p>先に進むと電動自転車のようなものが！</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>鈴木式織機で培った技術で、自転車にエンジンを取り付けました。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>ここからバイクへとつながるわけですね！</p></div>
      </div>
      <div class="big_image top30"><%= image_tag 'interview2/bikes.jpg' %></div>
      <p class="bottom50">手前から奥へ。徐々に電動自転車のようなものがバイクに進化していきます！</p>
      <div class="big_image top30"><%= image_tag 'interview2/suzulite.jpg' %></div>
      <p>ついに四輪車が登場！</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p class="bold">これが1955年発売、スズキ初の四輪車「<span class="blue">スズライト</span>」です！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>形はもうすでに今の車とほとんど同じなんですね！</p></div>
      </div>
      <div class="big_image top30"><%= image_tag 'interview2/3rdfloor.jpg' %></div>
      <p>3階には歴代の名車がずらり！</p>
      <h2 class="both50">スズキの名作をいくつかご紹介！</h2>
      <div class="big_image top30"><%= image_tag 'interview2/alt.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>これは1979年発売の<span class="blue bold">初代アルト</span>です。<span class="bold">全国統一価格47万円</span>。<br><span class="bold">全国統一価格が日本で最初に採用され話題になりましたね。もちろん価格も話題になりました。</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p class="bigger">47万円ですか！？</p></div>
      </div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>その頃は車っていうと多くの人が中古車を買っていたんです。<br>でもどうにか<span class="bold bigger">みんなが新車を買えるように</span>ということで、<span class="blue bold">鈴木修社長(現会長)</span>が開発させたのがこのアルトなんですね。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p class="bigger">いい話だなー。（ ＾ω＾ ）</p></div>
      </div>
      <div class="big_image top30"><%= image_tag 'interview2/choinori.jpg' %></div>
      <p>これがバイク？というくらい小さい乗り物が！</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>2003年発売の原付、その名も「<span class="bold blue">チョイノリ</span>」です。<br><span class="bold">59800円で売っていたんですよ。</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p class="super_bigger bold">59800円！？Σ(´Д｀ )</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>当時、中国など日本国外での製造が一般的になりつつあった中で、<span class="bold">あえて国産にこだわって生産した製品です。</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>完全に国内で生産されたのにこの値段ですか！<br>それで日経新聞にも表彰されているんですね！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p> 現在は生産終了となりましたが、<span class="bold bigger">未だに熱狂的なファンが多い一台です。</span></p></div>
      </div>
      <div class="big_image top30"><%= image_tag 'interview2/swift2.jpg' %></div>
      <p>フロアのど真ん中に、ものすごい飾られ方をしている車が！</p>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>これは、2006年に<span class="bold blue">RJCカー・オブ・ザ・イヤー</span>を受賞した「<span class="bold blue">スイフト</span>」です！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>スイフトは有名ですよね！やっぱり近くで見るとカッコイイ！</p></div>
      </div>
      <div class="big_image top30"><%= image_tag 'interview2/engine.jpg' %></div>
      <p class="bold">スズキの代表作は自動車だけじゃないんです！</p>
      <div class="dialog_box top50">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>失礼ですが、これはなんですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p class="bold"><span class="blue">船外機</span>という船のエンジンです。</p></div>
      </div>
     <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>スズキが船外機を作っているっていうのは知りませんでした！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>ちなみにこちら(写真中央)の製品は <span class="bold blue">アメリカマリン工業会</span>の<span class="bold blue">技術革新賞</span>を受賞していますよ。</p></div>
      </div>
     <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>へえー。(あんまり聞いたことない賞だなー・・・)</p></div>
      </div>
      <div class="dialog_box top50">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p class="bold bigger">8回ほど。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p class="super_bigger bold"> 8回！！？(；ﾟДﾟ)</p></div>
      </div>
      <p>※<span class="bold blue">技術革新賞</span>は、マリン産業における新製品のうち、技術的に優れた先進性があり、実用的かつ費用効率が高く、真に消費者の利益となる製品に与えられる<span class="bold">マリン技術界最高の賞</span>です。</p>
     <div class="dialog_box both30">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>これを８回も受賞しているのか・・・</p></div>
      </div>
      <h2 class="both50">実際に乗りたい！</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>いやー。これだけ車やバイクを見てるとなんだか乗りたくなってきましたね！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>乗りますか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p class="bigger">(´･ω｀･)ｴｯ?</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'interview2/hayabusa.jpg' %></div>
      <p>というわけで「<span class="bold blue">隼</span>」に乗っちゃいました！</p>

      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>いかがですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p class="bold super_bigger">最高です！ヽ(・∀・ )ﾉ</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'interview2/hustler.jpg' %></div>
      <p>1階へ移動してきました！ここでは記念撮影用のバイクや車が展示されています！さきほどの「隼」は入り口のすぐ近く！</p>
      <div class="big_image top50"><%= image_tag 'interview2/emblem.jpg' %></div>
      <p>最後にスズキのエンブレムの前で記念撮影！</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>鈴木社長、本日はご案内ありがとうございました！<br>取材ということを忘れて展示に見入ってしまいました！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>楽しんでもらえてよかったです！<br>お越しいただいた方々に、ぜひ<span class="bold">クルマ本来の楽しさ</span>に触れていただきたいですね。</p></div>
      </div>
      <div class="dialog_box bottom50">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>えらい鈴木さんにインタビュー、次の鈴木さんはあなたかもしれません！</p></div>
      </div>
      <h2 class="both50">インタビュー終了後・・・</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>あれ、ミスター鈴木はやらないんですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p class="bold">やります！鈴木社長もどうですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president2.png' %></div>
        <div class="comment"><p class="bold super_bigger">お断りします！(笑)</p></div>
      </div>
      <p class="both30">おしまい。</p>
      <p class="bold top30">今回の取材は浜松市長の鈴木康友さんのご紹介と、鈴木俊宏社長のご厚意のもと実現しました。<br>鈴木康友市長、ご紹介ありがとうございました。<br>鈴木俊宏社長、貴重なお時間を割いていただき、ありがとうございました。<br></p>
      <p class="bold bottom30">そして、このような機会を作るためにご協力してくださったスズキ株式会社、浜松市役所のみなさん、本当にありがとうございました！</p>

      <div class="cityinfo">
        <h3>スズキ歴史館</h3>
        <div class="big_image"><%= image_tag 'interview2/swift.jpg' %></div>
        <table>
          <tr class="odd">
            <td>住所：〒432-8062 静岡県浜松市南区増楽町１３０１</td>
          </tr>
          <tr class="even">
            <td>電話 : 053-440-2020</td></tr>
          <tr class="odd">
            <td>開館時間：9：00～16：30</td>
          </tr>
          <tr class="even">
            <td>休館日：月曜日、年末年始、夏期休暇など</td>
          </tr>
          <tr class="odd">
            <td>入館料：無料</td>
          </tr>
          <tr class="even">
            <td>アクセス：浜松市「高塚」駅から徒歩10分</td>
          </tr>
          <tr class="odd">
            <td>見学は要予約です！</td>
          </tr>
        </table>
      </div>
      <p class="bold city_link">さらに詳しい情報はこちら！<br>
        <a href="https://www.suzuki-rekishikan.jp/" target="_blank">スズキ歴史館ホームページ</a></p>

    </div>
<!-- twitterスクリプト [head]内や、[body]の終了直前などに配置 -->
<script>
  window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
<!-- facebookスクリプト [head]内や、[body]の終了直前などに配置 -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '529248367239781',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=529229320575019";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>



