<div id="interview1">
  <div id="mainimage">
    <%= image_tag 'mainimages/interview_mainimage.jpg' %>
  </div>
  <div id="content">
    <h2><span>日本で一番鈴木さんが多い街は？</span></h2>
    <p>どうも、MISS-SUZUKIを運営しています、青山学院大学 PIXEL代表のビジュアル系プログラマーこと小野祥吾です。</p>
    <p>突然ですが、日本で一番鈴木さんが多いといわれている街をご存知でしょうか？</p>
    <p>それは、<span class="blue bold super_bigger">静岡県浜松市！</span><br>調べてみると、<span class="bold bigger">なんと市長のお名前も「鈴木さん」！</span>恐るべし浜松！</p>

    <p>これは行くしかない！ということで浜松市役所に恐る恐る電話をかけてみました。</p>
    <p class="bold bigger">「あのー、市長にお会いしたいんですが・・・」</p>
    <div class="big_image"><%= image_tag 'interview1/phone.jpg' %></div>
    <p>市役所の方は電話の向こうにいるのがこんなヤツだとは夢にも思っていないでしょう。</p>
    <p>この電話から数日後・・・</p>
    <p><p class="bold super_bigger">なんと取材OK!! </p>
    <p>というわけで…</p>
    <h2><span>浜松市にやってきました！</span></h2>
    <div class="half_image_box">
      <div class="half_image"><%= image_tag 'interview1/station1.jpg' %></div>
      <div class="half_image"><%= image_tag 'interview1/station2.jpg' %></div>
    </div>
    <p>東京から250km。静岡県浜松市に到着！</p>
    <p>街を散策してみると、至るところに<span class="blue bold bigger">「出世大名 家康くん」</span>が！</p>
    <div class="big_image"><%= image_tag 'interview1/ieyasukun1.jpg' %></div>
    <p>以前<a href="/history">「鈴木さんの歴史」</a>のページでもご紹介しましたが、静岡県は徳川家康のゆかりの地として知られています。<br>その中でも浜松は特につながりの深い街なんですね！</p>
    <p>最近では「餃子の街」としても有名になりました。(食べたい！！)</p>

    <h2><span>いよいよ鈴木市長登場！</span></h2>
    <div class="big_image"><%= image_tag 'interview1/yakusho.jpg' %></div>
    <p>浜松駅から徒歩15分ほどで市役所に到着。すぐ隣には浜松城！</p>
    <div class="big_image"><%= image_tag 'interview1/styling.jpg' %></div>
    <p>失礼がないように、髪の毛をセット！<br>
      私、ビジュアル系プログラマー小野祥吾がこれから鈴木市長にお会いします！</p>
    <p class="bold">万全の状態でいざ、市長室へ！！</p>
    <div class="big_image"><%= image_tag 'interview1/mayor.jpg' %></div>
    <p class="bold super_bigger">浜松市長 <span class="blue super_bigger">鈴木康友(やすとも)</span>さん、登場！</p>
    <p>こちらが、鈴木さんのまち浜松市のトップに立つ鈴木さんです！</p>
    <div class="big_image"><%= image_tag 'interview1/interview1.jpg' %></div>
    <p>まずはお土産をプレゼント！</p>
    <div class="big_image"><%= image_tag 'interview1/present.jpg' %></div>
    <p>株式会社ラナ様にいただいた鈴木さんグッズと、藤白神社からいただいた<span class="bold bigger">「鈴木さん専用のお守り」</span>をプレゼントしました！</p>
    <p>喜んでいただいたところで、鈴木市長にインタビュー開始！</p>
    <div class="big_image"><%= image_tag 'interview1/interview2.jpg' %></div>

    <h2><span>鈴木さん一問一答！</span></h2>

    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p>本日は鈴木市長に、鈴木さんとしてお答えいただきたい質問をご用意してまいりました。<br>よろしくお願いします！</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
      <div class="comment"><p>よろしくお願いします！</p></div>
    </div>

    <h2><span>Q1</span></h2>

    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p>最初にこの企画のことを聞いたときの感想を教えてください！</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
      <div class="comment"><p>面白い企画だなあと思いました。</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p>ありがとうございます！</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
      <div class="comment"><p>最近はこういう企画が非常に増えていますよね。以前もテレビで鈴木さん特集をやっていたりして私も出演しました。</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p>鈴木さん特集！すごい番組ですね・・・</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
      <div class="comment"><p><span class="bold bigger">田中さん特集のときになぜか私がインタビューされたこともありますね(笑)</span></p></div>
    </div>

    <h2><span>Q2</span></h2>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p>日本で一番鈴木さんが多い街が浜松市ですが、普段どのような時にそれを実感しますか？</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
      <div class="comment"><p class="bold bigger">市の外に出ると「鈴木市長」と呼ばれます。</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p>それが普通じゃないんですか？(笑)</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
      <div class="comment"><p class="bold">浜松ではだいたい「康友市長」とか「康友さん」と呼ばれていますから。</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p>なるほど！浜松ならではですね！</p></div>
    </div>

    <h2><span>Q3</span></h2>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p>鈴木市長も浜松市のご出身ですが、昔から鈴木さんは多かったですか？</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
      <div class="comment"><p>はい。18歳で大学に入るまではずっと浜松に住んでいましたが、<span class="bold bigger">クラスに5人くらいは鈴木さんというのが当たり前</span>でしたね。<br>だから<span class="bold bigger">出席番号で並ぶと周りは鈴木さんだらけになりました。</span></p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p>すごい光景ですね(笑)</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
      <div class="comment"><p>中学校の時に一度市内で転校したのですが、転校した先で最初に仲良くなったのが、のちに「リング」などを書いた作家の<span class="bold bigger blue">鈴木光司</span>さんでした。</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p class="bold">え！？ あの「リング」を書いたのも鈴木さんなんですか？</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
      <div class="comment"><p>そうそう！彼とはもう50年近い付き合いになるなあ。</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p class="bold">じゃあ貞子ももしかすると本名は鈴木貞子なのかもしれませんね！<br><span class="bold">(編集部注：違います！)</span></p></div>
    </div>

    <h2><span>Q4</span></h2>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p>鈴木さんならではのエピソード、「鈴木さんあるある」を教えてください！</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
      <div class="comment"><p>浜松でずっと下の名前で呼ばれて育ってきたので、<span class="bold">大学で東京に出て初めて「おい、鈴木！」と呼ばれた時は正直カルチャーショックでしたね(笑)</span></p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p>鈴木さんなのに！(笑)</p></div>
    </div>
    <h2><span>Q5</span></h2>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p>尊敬する鈴木さんは誰ですか？</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
      <div class="comment"><p>いっぱいいるなあ(笑)<br>最初に思い浮かぶのは
        <span class="bold blue">SUZUKI</span>の <span class="bold blue bigger">鈴木修</span>会長です。
</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p>これまた凄い鈴木さんが・・・</p></div>
    </div>
    <div class="big_image"><%= image_tag 'interview1/interview3.jpg' %></div>
    <p>ひたすら「鈴木」という言葉が飛び交う市長室。<br>もちろん普段は真面目な仕事に使われています！</p>

    <h2><span>Q6</span></h2>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p>もし鈴木じゃなかったらどんな苗字がよかったですか？</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
      <div class="comment"><p>鈴木に満足しているのであまり願望はないかなあ。</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p><span class="bold">「五十嵐」さん</span>とかはどうでしょう？</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
      <div class="comment"><p>いやいや、どうせならもっと珍しい苗字がいいよ！</p></div>
    </div>

    <h2><span>Q7</span></h2>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p>日本全体では鈴木さんが佐藤さんよりも若干少ないですが、それについてはどうお考えでしょうか？</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
      <div class="comment"><p>(しばらく爆笑)<br>
        <span class="bold super_bigger">正直、なんとも思っていません(笑)</span></p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p>なんとも思っていないんですか！？</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
      <div class="comment"><p><span class="bold">鈴木は鈴木ですので、特に焦りなどはありませんね。</span></p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p>でも追い越したらやっぱり嬉しいですよね？</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
      <div class="comment"><p>それはもちろん嬉しいです！何事も1番になるのはいいことですから。</p></div>
    </div>
    <h2><span>Q8</span></h2>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p>鈴木に生まれてきてよかったですか？その理由も教えてください！</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
      <div class="comment"><p>これは考えたこともない質問ですね(笑)<br>でも不便に思ったことはないので、鈴木に生まれてきてよかったんだと思います！
</p></div>
    <h2><span>Q9</span></h2>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
      <div class="comment"><p>浜松市にお住まいの鈴木さんたちに一言お願いします！</p></div>
    </div>
    <div class="dialog_box">
      <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
      <div class="comment"><p><span class="super_bigger bold">「鈴木に誇りを持って頑張れ！」</span></p></div>
    </div>
    <p class="bigger bold">一同：「おおー！！」</p>
    <h2><span>Q10</span></h2>
    <div class="big_image"><%= image_tag 'interview1/interview4.jpg' %></div>

  </div>
</div>