<div id="interview1">

  <div id="mainimage">
    <%= image_tag 'mainimages/interview2_mainimage1.jpg' %>
  </div>
  <div id="to_top">
    <a href="#mainimage"><%= image_tag 'to_top.png', :width=> '50px' %></a>
  </div>

    <div id="content">
      <div class="share">
        <!-- twitterシェアボタンに変換される -->
        <a class="twitter-share-button" href="https://twitter.com/share" data-text="スズキ株式会社社長 鈴木俊宏さんにインタビュー！！【前編】" data-related="2015MissSuzuki:最新情報をお届けします！フォローよろしくお願いします！" data-count="horizontal" data-hashtags="ミス鈴木" data-dnt="true" data-lang="ja">Tweet</a>

        <!-- FBシェアボタンに変換される -->
        <div class="fb-like" expr:data-href="https://miss-suzuki.com/contents/erai_suzukisan2_1" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"/>facebook</div>
      <a class='hatena-bookmark-button' data-hatena-bookmark-layout='standard-balloon' data-hatena-bookmark-lang='ja' expr:data-hatena-bookmark-title='data:post.title' expr:href='"https://b.hatena.ne.jp/entry/" + data:post.canonicalUrl' title='このエントリーをはてなブックマークに追加'><img src='https://b.st-hatena.com/images/entry-button/button-only@2x.png' alt='このエントリーをはてなブックマークに追加' width='20' height='20' style='border: none;' /></a><script type='text/javascript' src='https://b.st-hatena.com/js/bookmark_button.js' charset='utf-8' async='async'></script>

      </div>

      <p class="top50">どうも！ご無沙汰してます！ビジュアル系プログラマーの小野祥吾です！</p>
      <div class="big_image"><%= image_tag 'interview2/introduction1.jpg' %></div>
      <p>本日は、静岡県浜松駅の隣の<span class="bold blue">「高塚駅」</span>に来ています！<br>この駅には<span class="bold">とある企業</span>の本社があるんです。</p>

      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>これから、とてつもない鈴木さんが登場しますよ！<br>その鈴木さんとは一体・・・？</p></div>
      </div>

      <div class="big_image top50"><%= image_tag 'interview2/hairstyle.jpg' %></div>
      <p>おっとその前に、失礼がないように髪型をセット！(｀・ｖ・´)<br>気合を入れて、いつもより多めにワックスを使っています！
</p>

      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>それでは・・・、行きましょー！！</p></div>
      </div>
      <p class="both50">どこへ、、？って</p>
      <div class="big_image top50"><%= image_tag 'interview2/introduction2.jpg' %></div>
      <p class="bold super_bigger">あの<span class="blue">スズキ株式会社</span>です！</p>
      <p>前回の訪問から約1ヶ月、再び浜松へやってきたのは、ここへ来るためでした！</p>
      <div class="big_image top50"><%= image_tag 'interview2/stone.jpg' %></div>
      <p>スズキの理念「価値ある製品を」の石碑の前で記念撮影！</p>
      <p class="both50 bold super_bigger">そしてついに・・・</p>
      <div class="big_image top50"><%= image_tag 'interview2/president1.jpg' %></div>
      <p class="bold bigger"><span class="blue bigger">スズキ株式会社 代表取締役社長</span><br><span class="blue super_bigger">鈴木俊宏(としひろ)</span>さん登場！</p>
      <p class="bold">スズキの鈴木社長です！「スズキ オブ スズキ」です！</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>どうもこんにちは。鈴木です。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>うわー！本当に鈴木さんだー！∩(´∀｀)∩ (←興奮しすぎ)<br>
          はじめまして！よろしくお願いします！！</p><p>あの・・自分で言うのもなんですが、
<span class="bold bigger">なんでこんなヤツに会っていただけるんですか？</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>実は、市長からお話があって、それで引き受けさせていただきました。</p></div>
      </div>
      <p class="bold">______________________________________</p>
      <p>市長とは、以前インタビューさせていただいた浜松市長の<span class="bold blue">鈴木康友</span>さん！<br>
鈴木さんとしてのエピソードから、ゆるキャラ®グランプリにかける想いを熱く語っていただきました！
</p>
      <div class="big_image"><%= image_tag 'interview1/mayor.jpg' %></div>
      <p>鈴木市長へのインタビューの様子は<a href="/contents/erai_suzukisan1">こちら！</a></p>
      <p class="bold">______________________________________</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>まさか、市長がご紹介してくださっていたなんて・・・。<br>鈴木市長、本当にありがとうございます！</p></div>
      </div>
      <h2 class="both50"><span>そしてインタビュー開始！</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>それでは鈴木俊宏社長、よろしくお願いします！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>よろしくお願いします！</p></div>
      </div>
      <p class="top50">まずは恒例のおみやげタイム！</p>
      <div class="big_image"><%= image_tag 'interview2/gift1.jpg' %></div>
      <p>鈴木さんのふるさと、藤白神社からいただいた「鈴木さん専用のお守り」と、<br>株式会社ラナ様からいただいた鈴木さんグッズ一式をプレゼント！</p>
      <div class="big_image"><%= image_tag 'interview2/gift2.jpg' %></div>
      <p>これには鈴木社長も笑顔！ <br>温まってきたところでいよいよ本題へ！</p>
      <h2 class="top50"><span>鈴木さん一問一答！</span></h2>
      <p>鈴木社長にスズキの社長としてだけではなく、１人の鈴木さんとしての質問もぶつける名物コーナー！</p>
      <h2 class="top50"><span>Q1</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>代表取締役社長へのご就任おめでとうございます！<br>今後はどのようなことに力を入れていくのでしょうか？
</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>当社は<span class="bold">軽自動車、四輪車、二輪車、船外機(船のエンジン)</span>などを手がけています。</p>
          <p>引き続きそこを中心に攻めていきますが、何よりお客様に<span class="blue bold bigger">「走る喜び」、「使う楽しみ」、「持つ幸せ」</span>を感じてもらえる商品作りを徹底していきたいですね。</p></div>
      </div>
      <h2 class="top50"><span>Q2</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>社長に就任されたとき、親戚など周りの鈴木さんの反応はいかがでしたか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p class="bold">・・・そんなに反応はなかったかな(笑)</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>えー！？スズキの社長になったのに！？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p class="bold">まあ、タイミングが急だったのでそこに対する驚きはあったと思いますが、特別なにかがあったわけじゃなかったなぁ。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>これは意外な答えですね。</p></div>
      </div>
      <h2 class="top50"><span>Q3</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>初めてこの企画を聞いたときの感想をお願いします！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>テレビ番組などで佐藤さんとか鈴木さんを取り上げた企画は結構見てきましたが、そんな中でミスコンという形をとったのは面白いなと思います。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>ありがとうございます！o(≧∇≦o)(o≧∇≦)o</p></div>
      </div>
      <h2 class="top50"><span>Q4</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>尊敬する鈴木さんは誰ですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>これは<span class="bold bigger">「最初に鈴木という姓を名乗った人」</span>です！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>一番最初の鈴木さんですか！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p class="bold bigger">「よくぞ鈴木を名乗ってくれた！」と感謝したいですね。</p></div>
      </div>

      <h2 class="top50"><span>Q5</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>今回の企画はミスコンということで、若い女性が中心のサイトになっています。<br>スズキの製品の中で<span class="bold">若い女性のみなさんにおすすめの車を教えてください！</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>若い女性に人気の車では<span class="blue bold">「ラパン」</span>がありますが、<br><span class="bold super_bigger">私はあえて<span class="blue">「ハスラー」</span>をおすすめしたいですね！</span></p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'interview2/hustler1.jpg' %><br><a target="blank_" href="http://www.suzuki.co.jp/car/hustler/">http://www.suzuki.co.jp/car/hustler/</a></div>
      <p>こちらがハスラー！CMで見たことがある方も多いのではないでしょうか！</p>
      <div class="big_image top50"><%= image_tag 'interview2/lapin1.jpg' %><br><a target="blank_" href="http://www.suzuki.co.jp/car/lapin/">http://www.suzuki.co.jp/car/lapin/</a></div>
      <p>これはラパン。確かに女性に人気がありそうな色と形！</p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p class="bold">参加者のみなさんが非常に元気な印象を受けたので、ハスラーが似合うと思いました。<br>「遊べる軽」とうたっているように、行動範囲がきっと広がりますよ。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>デザインもカラフルでおしゃれですね！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p class="bold bigger">みなさんにはぜひこのハスラーを乗りこなして、遊び尽くしてもらいたいです！</p></div>
      </div>

      <h2 class="top50"><span>Q6</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>日本で一番鈴木さんが多い街が浜松市ですが、普段それを実感することはありますか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>康友さんもお話ししていましたが、<span class="bold">やっぱり浜松では下の名前でしか呼ばれません。</span><br>スズキの社内だけでも本当にたくさんの鈴木さんがいますしね。
</p></div>
      </div>

      <h2 class="top50"><span>Q7</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>鈴木社長はお生まれも浜松ですが、昔から鈴木さんは多かったですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>これも康友さんと被っちゃうなぁ(笑)<br>高校の時の私のクラスは約<span class="bold super_bigger">45人の中で8人くらい鈴木さん</span>がいましたね。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>8人！康友市長のクラス(5人)より多いですね！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>東京の大学に入ったら、1クラスに2人くらいしかいなくなってしまいました、、、。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>(ちょっと寂しそう。) </p></div>
      </div>

      <h2 class="top50"><span>Q8</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>日本全体では鈴木さんが佐藤さんよりも若干少ないですが、それについてどう思われますか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president2.png' %></div>
        <div class="comment"><p><span class="bold super_bigger">これも被るんだよなぁ(笑)</span><br>まあ、あんまり気にしてないというか。。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>鈴木は鈴木だと？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>そうですね。ベスト3には入ってるんだなぁというくらいの印象ですかね。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>本当に気にしてないのかな？？(ﾟｰﾟ*?) </p></div>
      </div>
      <h2 class="top50"><span>Q9</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>では、社内で<span class="bold bigger">「優秀な鈴木さん」</span>と<span class="bold bigger">「優秀な佐藤さん」</span>がいたら、どちらを出世させますか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president2.png' %></div>
        <div class="comment"><p class="bold super_bigger">そりゃあ名前では決めませんよ！(笑)</p></div>
      </div>
      <div class="big_image"><%= image_tag 'interview2/talking.jpg' %><br>「鈴木」という言葉だけで、こんなに盛り上がれるんです！</div>
      <h2 class="top50"><span>Q10</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>鈴木に生まれてきてよかったですか？その理由も教えてください！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>よかったです。<span class="bold">「目立たないからいいなー」</span>と思って生活しています。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>目立たないからいいんですか！？Σ(ﾟдﾟ;)</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>そうです。<span class="bold super_bigger">名前で目立つことがないから楽</span>ですよね。
</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p class="bold">スズキの社長が「目立たないから楽」というのは面白いですね！</p></div>
      </div>
      <h2 class="top50"><span>Q11</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>鈴木に生まれてきていなかったらどんな名前がよかったですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>これといって思い浮かばないので、<br><span class="super_bigger bold">やっぱり生まれ変わっても鈴木がいいかな。(･`ω･)</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>おっと！これはかなり感動的な回答じゃないですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president2.png' %></div>
        <div class="comment"><p>そうでもないと思うけど(笑)</p></div>
      </div>

      <h2 class="top50"><span>Q12</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>鈴木さんの代表として、日本中の鈴木さんに一言お願いします！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>代表としてというよりは、鈴木の一員として答えてもいいですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>もちろんです！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p class="bold">お互いに、「鈴木」の名に恥じないよう頑張りましょう！私も頑張ります！</p></div>
      </div>
      <h2 class="top50"><span>Q13</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>一番大切な鈴木さんに一言お願いします！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p class="blue bold super_bigger">「Create a Wow！」お客様の期待を超える価値を作ろう！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>これはどなたに向けた一言ですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p class="bold">スズキ株式会社への一言です。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>つまり、一番大切な鈴木さんは・・</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p class="bold super_bigger">スズキで働く世界中のみなさんです！</p></div>
      </div>
      <p class="bold super_bigger top30">一同：おおー！！</p>
      <h2 class="top50"><span>Q14</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>最後に、すべてのスズキファンに一言お願いします！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p class="bold">皆様の期待を超える製品を作りつづけますので、ぜひ応援してください。<br><span class="bigger">そして、期待してください！</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>鈴木社長、たくさんの素晴らしい回答ありがとうございました！スズキファンのみなさんはきっと感動していると思います！<br>鈴木さん一問一答、終了です！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>ありがとうございました！</p></div>
      </div>
      <h2 class="top50"><span>最後に記念撮影！のはずが・・・</span></h2>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>あの、何枚か写真を撮らせていただいてもよろしいでしょうか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p>せっかくだから<span class="blue bold">歴史館</span>で撮った方がいいんじゃないかな？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p>え、、(‥ )？<span class="blue bold">スズキ歴史館</span>ですか？</p></div>
      </div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_president1.png' %></div>
        <div class="comment"><p class="bold bigger">案内しますよ。</p></div>
      </div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview2/icon_ono1.png' %></div>
        <div class="comment"><p class="bold super_bigger">ええーーーーΣ(･ω･ﾉ)ﾉ！！？</p></div>
      </div>
      <p class="bold top50">、、、というわけで、社長にスズキ歴史館をご案内していただけることに！！<br>その贅沢すぎる社会科見学の様子は後編で！</p>
      <div class="big_image"><%= image_tag 'interview2/3rdfloor.jpg' %></div>
      <p class="go_another_page"><a href="erai_suzukisan1_2">後半へ続く！</a></p>


    </div>


<!-- twitterスクリプト [head]内や、[body]の終了直前などに配置 -->
<script>
  window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
<!-- facebookスクリプト [head]内や、[body]の終了直前などに配置 -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '529248367239781',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=529229320575019";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
