<div id="interview1">

  <div id="mainimage">
    <%= image_tag 'interview7/mainimage.jpg' %>
  </div>
  <div id="to_top">
    <a href="#mainimage"><%= image_tag 'to_top.png', :width=> '50px' %></a>
  </div>

    <div id="content">

      <p class="top50 bold">どうも！<br><span class="bold">「彼氏にしたいプログラマー2016」第１位の小野祥吾です！</p>
      <div class="big_image"><%= image_tag 'interview7/scene1.jpg' %></div>
      <p class="top50">本日はコーナー初の女性のえらい鈴木さんに会いにきました！</p>
      <p class="top50 bottom50">その鈴木さんとは・・・・</p>

      <div class="big_image"><%= image_tag 'interview7/scene2.jpg' %></div>
      <p class="top30 bold">こちら！<br><span class="bold blue">株式会社ビューズ</span> 代表の<span class="bold blue">鈴木絢子</span>さんです！
</p>
      <p class="top30 bold">絢子さんは他にも美レンジャーやAll Aboutなどで記事を執筆しているカリスマ美容家の鈴木さんなんです！</p>

      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment"><p>絢子さん、本日はよろしくお願いします！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_suzuki.png' %></div>
        <div class="comment"><p>お願いします！</p></div>
      </div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment"><p>(美人すぎる・・・ミス鈴木に出ていたら優勝していたかも・・・)</p></div>
      </div>

      <p class="top50">恒例のおみやげをプレゼントさせていただいたところで・・・</p>
      <h2 class="top30">鈴木さん一問一答！</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment"><p>カリスマ美容家の鈴木絢子さんに、ひとりの鈴木さんとしてお答えいただきたい質問をご用意してまいりました。よろしくお願いします！</p></div>
      </div>
      <h2 class="top30">Q1</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment"><p>最初にこの企画のことを聞いたときの感想を教えてください！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_suzuki.png' %></div>
        <div class="comment"><p class="bold">「鈴木さんしばり」というのが面白いなと思いました。<br>鈴木さんが大勢揃うことで、何か共通点や鈴木の傾向が見出せたら面白いですね。<br>やっぱり先祖は繋がっていたのか……！と。</p></div>
      </div>

      <h2 class="top30">Q2</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment"><p>尊敬する鈴木さんは誰ですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_suzuki.png' %></div>
        <div class="comment bold"><p>SUZUKI創業者の<span class="bold blue">鈴木道雄</span>さんです。<br>祖母の遠縁の関係もあるようで、とても素晴らしい発明家だったと話にも聞いたことがあります。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment bold bigger"><p>ええ！SUZUKIの創業者の道雄さんと親戚なんですか！？</p></div>
      </div>

     <h2 class="top30">Q3</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment"><p>鈴木さんならではのエピソードや「鈴木さんあるある」を教えてください！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_suzuki.png' %></div>
        <div class="comment"><p class="bold bigger"> 浜松市出身ですが、クラスに4～5人は鈴木でした。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment bold"><p>さすが浜松！安定の鈴木率ですね(笑) </p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_suzuki.png' %></div>
        <div class="comment"><p class="bold">苗字で呼ばれることはほとんどなくて、東京に住んでからも「鈴木さん」と呼ばれても、素直に振り向けません(笑)</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment bold"><p>鈴木さんなのに(笑)</p></div>
      </div>


     <h2 class="top30">Q4</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment"><p>これから期待の鈴木さんはいますか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_suzuki.png' %></div>
        <div class="comment bold"><p>放送作家・<span class="blue">鈴木おさむ</span>さんと<span class="blue">森三中・大島</span>さんの息子さんの「<span class="bold blue">鈴木笑福(えふ)</span>くん」でしょうか。<br>鈴木おさむさんの番組はどれもセンスがあって好きです。大島さんは実際に以前お会いしましたが、気さくでニコニコされていて、とても素敵な方でした。
</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment"><p>両親がすごいですもんね！納得です！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_suzuki.png' %></div>
        <div class="comment"><p class="bold">きっと名前の通り、幸福な笑いを振りまいてくれると思います！</p></div>
      </div>



     <h2 class="top30">Q5</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment"><p>車はもちろんSUZUKIですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_suzuki.png' %></div>
        <div class="comment bold"><p>浜松の実家にはありました！ 親戚は結構SUZUKIに勤めている人が多いのでその人たちもみんなSUZUKIですよ！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment"><p>ちなみに現在は・・・？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_suzuki.png' %></div>
        <div class="comment bold"><span class="bigger">今はBMWに乗っています。</span>（すみません・・・）</p></div>
      </div>

     <h2 class="top30">Q6</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment"><p>鈴木に生まれてきてよかったですか？その理由も教えてください！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_suzuki.png' %></div>
        <div class="comment bold"><p>よかったと思います。まず「読み方が分からない」という問題は発生しないので助かっています！
<br>あと、鈴木は中国語で読むと「りんむぅ」なのでちょっと可愛いなと思います。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment"><p>確かに！かわいいですね！ </p></div>
      </div>

      <div class="big_image"><%= image_tag 'interview7/scene3.jpg' %><br>ひたすら「鈴木」が飛び交う空間。</div>

     <h2 class="top30">Q7</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment"><p>鈴木さんの代表として、すべての鈴木さんに一言お願いします！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_suzuki.png' %></div>
        <div class="comment"><p>代表なんておこがましいですが……。<br><span class="bold">日本中で鈴木姓は2位の人口を誇るということで、「ありきたりだ」と感じている鈴木さんも多くいらっしゃると思います。<br>でも、逆に考えれば、鈴木は日本が誇る代表的な姓として「鈴木=日本」とも捉えることができるのではないでしょうか。</p>
          <p><span class="bold">今、私の会社では海外支援サービスなどを行っていますが、Made in JAPANが高いブランド価値を持っているように、鈴木も日本を代表する苗字として世界に発信できればと思います。</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment bold"><p>熱いメッセージ、ありがとうございます！</p></div>
      </div>

    <h2 class="top30">Q8</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment"><p>最後に一番大切な鈴木さんに一言お願いします！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_suzuki.png' %></div>
        <div class="comment bold bigger"><p> (家族の鈴木さんへ)<br>鈴木という苗字と浜松出身ということに誇りを持って、これからも東京で頑張ります！</p></div>
      </div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment"><p>鈴木さん一問一答は終了です！絢子さん、ありがとうございました！</p></div>
      </div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview7/icon_suzuki.png' %></div>
        <div class="comment bold"><p>ありがとうございました！</p></div>
      </div>


      <h2 class="top50">さつまいもダイエット！？</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment"><p>絢子さんの情報を拝見していると、<span class="bold blue">「さつまいもダイエット」</span>というのが必ず出てくるんですが、絢子さんが考案したダイエット法なんですか？ </p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_suzuki.png' %></div>
        <div class="comment bold"><p>さつまいもダイエットは、考案というよりは高校時代からずっと続けている習慣です。もう10年以上ずっと食べ続けています。<br>きっかけは、高校時代にキャベツダイエットとかりんごダイエットとか、一つの食材だけを食べるようなダイエットを実践していたんですが、肌荒れがひどくて。</p><p>見かねた母が私の弁当箱にさつまいもを入れてくれたんです。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment"><p>どうしてさつまいもだったんでしょうか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_suzuki.png' %></div>
        <div class="comment bold"><p>私の母は戦後の生まれなんですけども、当時食べ物が少なかった時代にさつまいもを食べて生き抜いたという体験があって。<br> やつれていく私を見たときに、とりあえずさつまいもを食べたら元気が出ると思って、それで渡してくれたんだと思います。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment"><p>そしたら効果があったと。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_suzuki.png' %></div>
        <div class="comment bold"><p>食物繊維が豊富なのでお通じがよくなって、そしたら肌荒れも改善しました。<br>後から調べてみたら、さつまいもは<span class="bold blue">「準完全食品」</span>と呼ばれるくらいすごい食材だったんです！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment"><p>そんなすごい食材だったんですか！？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_suzuki.png' %></div>
        <div class="comment bold"><p>なんとNASAもさつまいもに注目していて、宇宙食にも採用が検討されていると聞きました。私も実は屋上でさつまいもを栽培しています！</p></div>
      </div>
      <div class="half_image_box">
        <div class="half_image"><%= image_tag 'interview7/farm1.jpg' %><br>自宅の屋上で水をやる絢子さん。</div>
        <div class="half_image"><%= image_tag 'interview7/farm2.jpg' %>植えた直後のさつまいもの苗</div>
      </div>
     <div class="dialog_box top50">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment bold"><p>栽培までやってしまうとは・・・・本当にさつまいもが大好きなんですね！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_suzuki.png' %></div>
        <div class="comment bold"><p> 栽培してはじめて見えてくることもたくさんありますからね。それに、さつまいもの栽培って意外と簡単なんですよ！</p></div>
      </div>
     <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview7/icon_ono.png' %></div>
        <div class="comment bold"><p>栽培が簡単でダイエットができて準完全食品・・・世の中の女性の一人でも多くの方にさつまいもの良さを知ってほしいですね！<br>鈴木絢子さん、ありがとうございました！</p></div>
      </div>

      <div class="cityinfo">
        <h3>鈴木絢子さん</h3>
        <div class="big_image"><%= image_tag 'interview7/ayako1.jpg', :style=>'padding-bottom:10px' %></div>
        <table>
          <tr class="odd">
            <td>美容家</td>
          </tr>
          <tr class="even">
            <td>有名美容系webメディアに多数寄稿</td></tr>
          <tr class="odd">
            <td>さつまいもダイエットを提唱し、本も多数出版!</td>
          </tr>
          <tr class="even">
            <td>美容系ライターを育成する「ビューズ」の代表です！</td></tr>
        </table>
      </div>
      <p class="bold city_link">ブログはこちら！<br>
        <a href="http://ameblo.jp/ayako810/" target="_blank">美容家・鈴木絢子オフィシャルブログ</a></p>

    </div>
