<div id="interview1">

  <div id="mainimage">
    <%= image_tag 'mainimages/interview_mainimage.jpg' %>
  </div>

    <div id="content">
      <div class="share">
        <!-- twitterシェアボタンに変換される -->
        <a class="twitter-share-button" href="https://twitter.com/share" data-text="日本一「鈴木さん」の多い街の「鈴木市長」にお会いしました！" data-related="2015MissSuzuki:最新情報をお届けします！フォローよろしくお願いします！" data-count="horizontal" data-hashtags="ミス鈴木" data-dnt="true" data-lang="ja">Tweet</a>

        <!-- FBシェアボタンに変換される -->
        <div class="fb-share-button" data-href="https://miss-suzuki.com/contents/erai_suzukisan1" data-layout="button_count"></div>
      </div>
      <h2 class="both30"><span>日本で一番鈴木さんが多い街は？</span></h2>
      <p>どうも、MISS-SUZUKIを運営しています、青山学院大学 PIXEL代表のビジュアル系プログラマーこと小野祥吾です。</p>
      <p>突然ですが、日本で一番鈴木さんが多いといわれている街をご存知でしょうか？</p>
      <p class="both50">それは、<span class="blue bold super_bigger">静岡県浜松市！</span><br>調べてみると、<span class="bold bigger">なんと市長のお名前も「鈴木さん」！</span>Σ(ﾟДﾟ)恐るべし浜松！</p>

      <p class="bottom50">これは行くしかない！ということで浜松市役所に恐る恐る電話をかけてみました。</p>
      <p class="bold bigger">「あのー、市長にお会いしたいんですが・・・」</p>
      <div class="big_image"><%= image_tag 'interview1/phone.jpg' %></div>
      <p>市役所の方は電話の向こうにいるのがこんなヤツだとは夢にも思っていないでしょう。</p>
      <p class="both50">この電話から数日後・・・</p>
      <p class="bold super_bigger bottom50">なんと取材OK!! </p>
      <p>というわけで…</p>

      <h2 class="both50"><span>浜松市にやってきました！</span></h2><p>(´Д⊂夜行バス。。眠い。。</p>
      <div class="half_image_box">
        <div class="half_image"><%= image_tag 'interview1/station1.jpg' %></div>
        <div class="half_image"><%= image_tag 'interview1/station2.jpg' %></div>
      </div>
      <p>東京から250km。静岡県浜松市に到着！</p>
      <p class="top50">街を散策してみると、至るところに<span class="blue bold bigger">「出世大名 家康くん」</span>が！(@_@)ﾅﾆｺﾚ</p>
      <div class="big_image"><%= image_tag 'interview1/ieyasukun1.jpg' %></div>
      <p>以前<a href="/contents/history">「鈴木さんの歴史」</a>のページでもご紹介しましたが、静岡県は徳川家康のゆかりの地として知られています。<br>その中でも浜松は特につながりの深い街なんですね！</p>
      <p>最近では「餃子の街」としても有名になりました。（食べたい！！）</p>

      <h2 class="both50"><span>いよいよ鈴木市長登場！</span></h2>
      <div class="big_image"><%= image_tag 'interview1/yakusho.jpg' %></div>
      <p class="bottom30">浜松駅から徒歩15分ほどで市役所に到着。すぐ隣には浜松城！</p>
      <div class="big_image"><%= image_tag 'interview1/styling.jpg' %></div>
      <p>失礼がないように、髪の毛をセット！<br>
        私、ビジュアル系プログラマー小野祥吾がこれから鈴木市長にお会いします！</p>
      <p class="bold super_bigger both50">万全の状態でいざ、市長室へ！！</p>
      <div class="big_image"><%= image_tag 'interview1/mayor.jpg' %></div>
      <p class="bold super_bigger">浜松市長 <span class="blue super_bigger">鈴木康友（やすとも）</span>さん、登場！</p>
      <p class="bottom50">こちらが、鈴木さんのまち浜松市のトップに立つ鈴木さんです！</p>
      <div class="big_image"><%= image_tag 'interview1/interview1.jpg' %></div>
      <p>まずはお土産をプレゼント！</p>
      <div class="big_image"><%= image_tag 'interview1/present.jpg' %></div>
      <p>株式会社ラナ様にいただいた鈴木さんグッズと、藤白神社からいただいた<span class="bold bigger">「鈴木さん専用のお守り」</span>をプレゼントしました！</p>
      <p class="both50">喜んでいただいたところで、鈴木市長にインタビュー開始！</p>
      <div class="big_image"><%= image_tag 'interview1/interview2.jpg' %></div>

      <h2 class="both30"><span>鈴木さん一問一答！</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>本日は鈴木市長に、鈴木さんとしてお答えいただきたい質問をご用意してまいりました。<br>よろしくお願いします！(ﾍﾟｺｯ
        </p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p>よろしくお願いします！</p></div>
      </div>

      <h2 class="top30"><span>Q1</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>最初にこの企画のことを聞いたときの感想を教えてください！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p>面白い企画だなあと思いました。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>ありがとうございます！(≧▽≦)ﾄﾞﾔﾂ</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p>最近はこういう企画が非常に増えていますよね。以前もテレビで鈴木さん特集をやっていたりして私も出演しました。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>鈴木さん特集！すごい番組ですね・・・</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p><span class="bold bigger">田中さん特集のときになぜか私がインタビューされたこともありますね(笑)</span></p></div>
      </div>

      <h2 class="top30"><span>Q2</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>日本で一番鈴木さんが多い街が浜松市ですが、普段どのような時にそれを実感しますか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p class="bold bigger">市の外に出ると「鈴木市長」と呼ばれます。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>それが普通じゃないんですか？(笑)</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p class="bold">浜松ではだいたい「康友市長」とか「康友さん」と呼ばれていますから。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>なるほど！浜松ならではですね！</p></div>
      </div>

      <h2 class="top30"><span>Q3</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>鈴木市長も浜松市のご出身ですが、昔から鈴木さんは多かったですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p>はい。18歳で大学に入るまではずっと浜松に住んでいましたが、<span class="bold bigger">クラスに5人くらいは鈴木さんというのが当たり前</span>でしたね。<br>だから<span class="bold bigger">出席番号で並ぶと周りは鈴木さんだらけになりました。</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>すごい光景ですね（笑）</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p>中学校の時に一度市内で転校したのですが、転校した先で最初に仲良くなったのが、のちに「リング」などを書いた作家の<span class="bold bigger blue">鈴木光司</span>さんでした。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p class="bold">え！？(´ﾟдﾟ｀) あの「リング」を書いたのも鈴木さんなんですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p>そうそう！彼とはもう50年近い付き合いになるなあ。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p class="bold">じゃあ貞子ももしかすると本名は鈴木貞子なのかもしれませんね！<br><span class="bold">（注：違います！）</span></p></div>
      </div>

      <h2 class="top30"><span>Q4</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>鈴木さんならではのエピソード、「鈴木さんあるある」を教えてください！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p>浜松でずっと下の名前で呼ばれて育ってきたので、<span class="bold">大学で東京に出て初めて「おい、鈴木！」と呼ばれた時は正直カルチャーショックでしたね。（笑）</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>鈴木さんなのに！（笑）</p></div>
      </div>

      <h2 class="top30"><span>Q5</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>尊敬する鈴木さんは誰ですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p>いっぱいいるなあ。（笑）<br>最初に思い浮かぶのは
          <span class="bold blue">SUZUKI</span>の <span class="bold blue bigger">鈴木修</span>会長です。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>これまた凄い鈴木さんが・・・Σ(ﾟ∀ﾟﾉ)ﾉ</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'interview1/interview3.jpg' %></div>
      <p><span class="bold">ひたすら「鈴木」という言葉が飛び交う市長室。</span><br>もちろん普段は真面目な仕事に使われています！</p>

      <h2 class="top30"><span>Q6</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>もし鈴木じゃなかったらどんな苗字がよかったですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p>鈴木に満足しているのであまり願望はないかなあ。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p><span class="bold">「五十嵐」さん</span>とかはどうでしょう？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p>いやいや、どうせならもっと珍しい苗字がいいよ！</p></div>
      </div>

      <h2 class="top30"><span>Q7</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>日本全体では鈴木さんが佐藤さんよりも若干少ないですが、それについてはどうお考えでしょうか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p>(爆笑)<br>
          <span class="bold super_bigger">正直、なんとも思っていません。（笑）</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>なんとも思っていないんですか！？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p><span class="bold">鈴木は鈴木ですので、特に焦りなどはありませんね。</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>でも追い越したらやっぱり嬉しいですよね？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p>それはもちろん嬉しいです！何事も1番になるのはいいことですから。(ﾋﾞｼｯ</p></div>
      </div>

      <h2 class="top30"><span>Q8</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>鈴木に生まれてきてよかったですか？その理由も教えてください！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p>これは考えたこともない質問ですね。（笑）<br>でも不便に思ったことはないので、鈴木に生まれてきてよかったんだと思います！</p></div>
      </div>
      <h2 class="top30"><span>Q9</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>浜松市にお住まいの鈴木さんたちに一言お願いします！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p><span class="super_bigger bold">「鈴木に誇りを持って頑張れ！」(ﾄﾞﾝｯ</span></p></div>
      </div>
      <p class="super_bigger bold">一同：「おおー！！」</p>
      <h2 class="top30"><span>Q10</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>最後に、一番大切な鈴木さんへ一言お願いします！</p></div>
      </div>
      <div class="dialog_box both50">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p><span class="bold bigger">(妻へ)</span><span class="super_bigger bold italic">『三輪から鈴木になってよかっただろ？』(ｷﾘｯ</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>ワイルドなセリフで締めていただきました！ありがとうございます！</p></div>
      </div>

      <p class="bigger bold both50">せっかくなので、</p>

      <h2 class="bottom50"><span>鈴木さん以外のことも聞いてみた</span></h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>浜松市内には<span class="bigger bold blue">「出世大名 家康くん」</span>があちこちにいますね！家康くんについて教えて下さい！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p class="bold">家康くんは浜松市のマスコットキャラクターで、実は<span class="bigger">徳川家康公の生まれ変わり</span>と言われているんです。<br><span class="bigger"><a href="http://www.yurugp.jp/" target="_blank">「ゆるキャラ®グランプリ2015」</a></span>にも参加中ですので応援よろしくお願いします！</p></div>
      </div>
      <div class="dialog_box top50">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>では、「ゆるきゃら®グランプリ2015」への意気込みを聞かせてください！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p><span class="bigger bold">実は2015年は<span class="blue">家康公 顕彰四百年</span>なんです。</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>けんしょうとは、、？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p><span class="bigger bold">亡くなってからちょうど400年という意味ですね。</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>なるほど！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p class="bold">そんな家康公の節目の年ということで、市を挙げて誘致をして<span class="bigger blue">浜松が2015年の開催地に決まったんです！</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p class="bold">すごい！市長の情熱を感じますね！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p class="bold">そんな家康公の節目の年ということで、市を挙げて誘致をして<span class="bigger blue">浜松が2015年の開催地に決まったんです！</span></p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'interview1/ieyasukun2.jpg' %></div>
      <p>浜松駅前のモザイカルチャーの家康くん。<br>ゆるキャラ®グランプリの投票数の伸びに驚きの表情！</p>
      <div class="dialog_box top50">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>ライバルはどのキャラクターでしょうか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p><span class="bold">愛媛県の「みきゃん」が強敵ですね。<span class="blue">11/16</span>までWeb投票ができるのですが、激しい勝負を繰り広げています。</span></p></div>
      </div>
      <p class="bold super_bigger both50"><a href="https://www.city.hamamatsu.shizuoka.jp/miryoku/ieyasukun/tohyo2015.html" target="_blank">投票ページはこちら！</a></p>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>家康くんが優勝した暁にはどんなことをしたいですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p>まずは家康くんで浜松をさらに盛り上げていきます！<span class="blue bold">徳川家康公顕彰四百年記念事業</span>もありますので、もっとPRをしていきたいですね。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>まさに2015年は家康くんが主役の年になりそうですね！</p></div>
      </div>
      <div class="dialog_box top50">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p class="bold">そして実は、2017年には浜松にゆかりの深い<span class="bold super_bigger blue">井伊直虎</span>(いい なおとら)という女性が主人公の、大河ドラマが始まります！</p></div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>浜松が大河ドラマに出るかもしれないんですか！？<br>これまたすごいことになりそうですね！(^o^)</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p class="bold">この直虎を家康くんに続く新しいキャラクターにできたらとても嬉しいです。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono1.png' %></div>
        <div class="comment"><p>市長のゆるキャラ®への情熱が伝わりました！インタビューはこれで終了です。<br>鈴木康友市長、ありがとうございました！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_mayor1.png' %></div>
        <div class="comment"><p>ありがとうございました！</p></div>
      </div>
      <div class="big_image"><%= image_tag 'interview1/interview4.jpg' %></div>
      <p>鈴木市長と夢の2ショット！</p>
      <p class="bold both50">「ゆるキャラ®グランプリ2015」の開催地、そして2017年の大河ドラマの主人公 井伊直虎のふるさと浜松市から今後も目が離せません！<br>
      インタビューにご協力してくださった鈴木市長、市役所の皆様、本当にありがとうございました！</p>

      <h2><span>ゆるキャラ®グランプリ2015 開催中！</span></h2>
      <div class="half_image_box">
        <div class="half_image"><a href="https://www.city.hamamatsu.shizuoka.jp/miryoku/ieyasukun/tohyo2015.html" target="_blank"><%= image_tag 'interview1/banner1.jpg' %></a><p>みんなで家康くんを応援！</p></div>
          <div class="half_image"><a href="http://www.yurugp.jp/" target="_blank"><%= image_tag 'interview1/banner2.jpg' %></a><p>ゆるキャラ®グランプリ公式サイトはこちら！</p></div>
      </div>
      <h2 class="both50"><span>インタビュー終了後・・・</span></h2>
      <div class="big_image"><%= image_tag 'interview1/after_interview.jpg' %></div>
      <p>インタビューを無事に終え、ひと安心の小野祥吾。<br>いや、カッコつけてるだけ？</p>
      <div class="big_image top50"><%= image_tag 'interview1/gyoza.jpg' %></div>
      <p>プレッシャーから解放され、お酒が進む小野。もちろん肴は浜松餃子！</p>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview1/icon_ono2.png' %></div>
        <div class="comment"><p>まさか市長が会ってくれるとは…緊張したなー。<br>えらい鈴木さんの話はやっぱり面白い！</p><p class="bold bigger">「えらい鈴木さんにインタビュー！」、次の鈴木さんはあなたかもしれません！</p></div>
      </div>
      <div class="cityinfo">
        <h3>浜松市</h3>
        <div class="big_image"><%= image_tag 'interview1/sakura.jpg' %></div>
        <table>
          <tr class="odd">
            <td>静岡県の政令指定都市</td>
          </tr>
          <tr class="even">
            <td>人口：およそ80万人</td></tr>
          <tr class="odd">
            <td>有名な観光地：浜名湖、浜松城</td>
          </tr>
          <tr class="even">
            <td>特産品：うなぎパイ、浜松餃子</td>
          </tr>
          <tr class="odd">
            <td>SUZUKIやYAMAHAなど、日本を代表する企業の創業の地でもあります。</td>
          </tr>
          <tr class="even">
            <td>毎年５月開催の「浜松まつり」の凧揚げ合戦は必見！</td></tr>
        </table>
      </div>
      <p class="bold city_link">浜松市のさらに詳しい情報はこちら！<br>
        <a href="#" target="_blank">浜松市ホームページ</a></p>

    </div>

  <div class="share">
        <!-- twitterシェアボタンに変換される -->
        <a class="twitter-share-button" href="https://twitter.com/share" data-text="日本一「鈴木さん」の多い街の「鈴木市長」にお会いしました！" data-related="2015MissSuzuki:最新情報をお届けします！フォローよろしくお願いします！" data-count="horizontal" data-hashtags="ミス鈴木" data-dnt="true" data-lang="ja">Tweet</a>

        <!-- FBシェアボタンに変換される -->
        <div class="fb-share-button" data-href="https://miss-suzuki.com/contents/erai_suzukisan1" data-layout="button_count"></div>
      </div>
  </div>


<!-- twitterスクリプト [head]内や、[body]の終了直前などに配置 -->
<script>
  window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
<!-- facebookスクリプト [head]内や、[body]の終了直前などに配置 -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '529248367239781',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=529229320575019";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
