<div id="interview1">

  <div id="mainimage">
    <%= image_tag 'interview6/mainimage.jpg' %>
  </div>
  <div id="to_top">
    <a href="#mainimage"><%= image_tag 'to_top.png', :width=> '50px' %></a>
  </div>

    <div id="content">

      <p class="top50">どうも！<br><span class="bold">「Forbes誌 2016年期待のプログラマー」第１位の小野祥吾です！</p>
      <p class="top30 bold">今回のインタビューする鈴木さんはこちら！</p>
      <div class="big_image"><%= image_tag 'interview6/reading1.jpg' %></div>
      <p class="top50 bottom50">わかりますか？</p>
      <div class="big_image"><%= image_tag 'interview6/reading2.jpg' %></div>
      <p class="top50 bottom50 bold">こちらです！</p>
      <div class="big_image"><%= image_tag 'interview6/reading3.jpg' %></div>
      <p class="top30"><span class="bold blue">「億万長者になりたければフィリピン不動産を買いなさい」</span>の著者、<span class="bold blue">鈴木廣政</span>さんに会いに行きたいと思います！</p>
      <p class="top50">どんな鈴木さんなんでしょうか・・・・？</p>
      <h2 class="top50">鈴木さん登場！</h2>
      <div class="big_image"><%= image_tag 'interview6/meet1.jpg' %></div>

      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>こちら！<br>先ほどの本の著者であり、<span class="bold blue">「株式会社ハロハロホーム」</span>ファウンダーの<span class="bold blue">鈴木廣政</span>さんです！<br>よろしくお願いします！</p></div>
      </div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment"><p>よろしく！</p></div>
      </div>

      <h2 class="top30">鈴木さん一問一答！</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>数多くの事業を手掛ける鈴木廣政さんに、ひとりの鈴木さんとしてお答えいただきたい質問をご用意してまいりました。よろしくお願いします！</p></div>
      </div>
      <h2 class="top30">Q1</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>初めてこの企画のことを聞いた感想をお願いします！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment"><p class="bold">はじめは・・・なんだコレ？って思いましたね。</p></div>
      </div>
      <p class="bold top30 bottom30">一同：笑</p>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment"><p>でもよくよく話を聞いてみたら、ルーツを勉強してたり、しっかりしたコンテンツだったんで、応援したいなと思いましたよ。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>ありがとうございます！</p></div>
      </div>

      <h2 class="top30">Q2</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>車はもちろんSUZUKIですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment"><p>いえ、TOYOTAです。フィリピンはSUZUKIの車がないんだよね。<br>フィリピンでSUZUKIといえばバイクしかなくて。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>それは初めて聞きました！</p></div>
      </div>

     <h2 class="top30">Q3</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>尊敬する鈴木さんはだれですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment"><p>うーん・・・<span class="bold bigger"> いないね(笑)</span><br> 強いて言うなら歴史で初めて鈴木さんを名乗った人ですね。</p></div>
      </div>


     <h2 class="top30">Q4</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>地元に鈴木さんは多かったですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment bold"><p>実家は愛知の田舎町なんですけども、隣3軒みんな鈴木でした。<br>クラスにも絶対に3人は鈴木さんがいました(笑)
</p></div>
      </div>

     <h2 class="top30">Q5</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>鈴木さんあるあるを教えてください！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment"><p>やっぱり、電話帳の管理がとにかく面倒くさいですね。<br>多すぎて鈴木の前に必ず他の目印を入れないといけないんで。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>そんなに鈴木さんが電話帳の中にいるんですね！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment bold bigger"><p>電話帳の中でしょっちゅう迷子になってます(笑)</p></div>
      </div>

     <h2 class="top30">Q6</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>フィリピンでの鈴木さんあるあるはありますか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment"><p>実はあるんです。<br><span class="bold bigger">フィリピンの飲み屋で「鈴木」って名乗ると、女の子たちから浮気者って言われるんですよ。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>どうしてですか？</p></div>
      </div>
     <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment bold"><p>日本人が遊ぶ時に一番使う偽名が多分「鈴木」なんですね(笑)<br>
そのせいで、鈴木を名乗ると冗談だと思われるっていう状態になっちゃってます。
</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>完全にとばっちりですね(笑)<br>フィリピンに行く鈴木さん、気をつけてください！</p></div>
      </div>

     <h2 class="top30">Q7</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>鈴木に生まれてよかったですか？その理由も教えてください！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment"><p>まあ、よかったと思いますよ。名字が平凡なので、それぞれに合ったニックネームで呼んでもらえるっていうところはいいですね。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>廣政さんはなんて呼ばれているんですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment"><p>僕は<span class="bold">「ズッキ」</span>って呼ばれています。このニックネームも鈴木の中ではありきたりな方だと思うけど、フィリピンではまだそんなにいないですから。 <span class="bold">「Zukky」</span>で通ってます。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>英語にするとかっこいいですね！</p></div>
      </div>

     <h2 class="top30">Q8</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>すべての鈴木さんに一言お願いします！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment"><p><span class="bold">「ワールドワイドになろう！」</span>と言いたいですね。<br>スズキさん、トヨタさん、ホンダさんほど世界で通用する日本人の名前はありません。<br>世界中の人がこの名前を知っていて、日本人だとすぐに認識してもらえる。これってかなりのアドバンテージですから。</p></div>
      </div>

    <h2 class="top30">Q9</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>最後に一番大切な鈴木さんに一言お願いします！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment bold bigger"><p>(妻、子供、家族へ)<br>親がいなかったら自分がいないし、妻がいなかったら子供はいません。<br>自分を五体満足に産んでくれたこと、元気に生まれてきてくれたことに感謝したいです。</p></div>
      </div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>すばらしいコメントありがとうございます！<br>鈴木さん一問一答は終了です！ありがとうございました！
</p></div>
      </div>

      <h2 class="top50">フィリピンでの取り組みについて</h2>
      <p class="bold">鈴木廣政さんがフィリピンで手掛ける事業、そしてその先にあるビジョンについて、深く聞きました！</p>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>フィリピンではどのような事業をされているんでしょうか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment bold"><p>主な事業はフィリピンにおけるインターネットのコンテンツプロバイダー業務とフィリピン最大級の会員サイトの運営を複数の会社で行っています。<br>僕はその不動産部門の責任者です。</p></div>
      </div>


      <h2 class="top30">フィリピンにある可能性</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>発展を遂げている東南アジアの国はいくつかありますが、その中でフィリピンを選んだのはどうしてなのでしょうか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment bold"><p>東南アジアの国の中で、フィリピンほど親日国で人がいい国はないと思います。<br>英語圏なのでグローバルの心配もない。インドネシアも親日で英語圏ですが、宗教的にまだ壁があると感じました。</p>
<p>それにフィリピンは平均年齢が22.5歳で、人口が１億人。これから間違いなく発展します。
  将来の日本を支えられる可能性があるのは、僕はフィリピンしかないと思っています。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>「フィリピンが将来の日本を支える」とは、一体どういうことでしょうか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment bold"><p>日本は今、激動の時代に入りました。グローバル化の波は容赦なく押し寄せてきます。<br>
これは、日本人も世界に飛び出せると同時に世界の企業も日本のマーケットを取りに来るということを意味します。<br>
そんな状況の中で、生産人口はどんどん減っていく。優秀な人材はいなくなっていきます。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>フィリピンに投資することで、それが解決するんですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment bold"><p>先ほども言ったように、今のフィリピンの人口の中心は若い世代です。<br>彼らに日本の技術だったりコンテンツを今から提供しておけば、日本に憧れて「日本に行きたい！」と思う人が増えてくれると思っています。<br>そうすれば、彼らがその頃に少なくなってしまった日本の労働力の穴埋めとなってくれると思います。</p></div>
      </div>
     <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment bold"><p>なるほど！最終的には日本に還元するのが目的なんですね！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment bold"><p>その通りです。<br>日本のコンテンツの気配りや細やかさは世界でも絶対に負けないと思います。<br>
世界を見てみると、ユーザーに対してここまで気配りのあるコンテンツを作る国はまずないですね。これは絶対にフィリピンでも受け入れられると確信しています。</p></div>
      </div>

      <h2 class="top30">フィリピンに街をつくる！</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment bold"><p>最後にもう一つ。僕は将来絶対にフィリピンで街を作ります。</p></div>
      </div>

      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment bold bigger"><p>街を作る！？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment bold"><p>そう。ジャパニーズタウンです。<br>でも日本人がいる街っていう意味ではありません。</p><p>僕は日本の本当の魅力はやっぱり「モノづくり」だと思ってて、  日本の技術を詰め込んだ街をフィリピンに作ります。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment"><p>例えばどういった技術でしょうか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment bold"><p><span class="blue">「スマートハウス」</span>という言葉があります。三菱のエアコンや冷蔵庫など、最新の家電が満載の家をイメージしてください。<br>僕たちはそれを、「街」の単位でやります。<br><span class="blue bigger">「スマートタウン」という概念です。</span></p><p>どうしてハロハロが多角的に事業をやっているかというと、最終的にそれを「家」に集約させるという目的があるからです。<br>フィリピンに街を作るというのはその最終的な姿です。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_ono.png' %></div>
        <div class="comment bold"><p>壮大なビジョンですね！鳥肌が止まりません！<br>鈴木廣政さん、本日は貴重なお時間をありがとうございました！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview6/icon_suzuki.png' %></div>
        <div class="comment bold"><p>ありがとうございました！</p></div>
      </div>

      <p class="both30 bold">鈴木廣政さんの著作も大好評発売中！</p>
      <div class="cityinfo">
        <h3>億万長者になりたければフィリピン不動産を買いなさい</h3>
        <div class="big_image"><%= image_tag 'interview6/book.jpg', :style=>'padding-bottom:10px' %></div>
        <table>
          <tr class="odd">
            <td>著者：鈴木廣政、渡辺頼子</td>
          </tr>
          <tr class="even">
            <td>価格：1,512円</td></tr>
          <tr class="odd">
            <td>不動産投資の基本から物件の選び方まで解説！</td>
          </tr>
        </table>
      </div>
      <p class="bold city_link">購入はこちらからどうぞ！<br>
        <a href="https://www.amazon.co.jp/%E5%84%84%E4%B8%87%E9%95%B7%E8%80%85%E3%81%AB%E3%81%AA%E3%82%8A%E3%81%9F%E3%81%91%E3%82%8C%E3%81%B0%E3%80%81%E3%83%95%E3%82%A3%E3%83%AA%E3%83%94%E3%83%B3%E4%B8%8D%E5%8B%95%E7%94%A3%E3%82%92%E8%B2%B7%E3%81%84%E3%81%AA%E3%81%95%E3%81%84-%E9%88%B4%E6%9C%A8-%E5%BB%A3%E6%94%BF/dp/4344974212" target="_blank">Amazon.com商品ページ</a></p>

    </div>
