<div id="interview1">

  <div id="mainimage">
    <%= image_tag 'mainimages/interview3_mainimage.jpg' %>
  </div>
  <div id="to_top">
    <a href="#mainimage"><%= image_tag 'to_top.png', :width=> '50px' %></a>
  </div>

    <div id="content">
      <div class="share">
        <!-- twitterシェアボタンに変換される -->
        <a class="twitter-share-button" href="https://twitter.com/share" data-text="三重県知事 鈴木英敬さんにインタビュー！！" data-related="2015MissSuzuki:最新情報をお届けします！フォローよろしくお願いします！" data-count="horizontal" data-hashtags="ミス鈴木" data-dnt="true" data-lang="ja">Tweet</a>

        <!-- FBシェアボタンに変換される -->
        <div class="fb-like" expr:data-href="https://miss-suzuki.com/contents/erai_suzukisan3" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"/>facebook</div>

      </div>

      <p class="top50">どうも！「彼氏にしたい金髪」でおなじみ、ビジュアル系プログラマーの小野祥吾です。</p>
      <div class="big_image"><%= image_tag 'interview3/intro1.jpg' %></div>
      <p>本日も、とある街にきています！<br>それは・・・。</p>

      <div class="big_image top50"><%= image_tag 'interview3/intro2.jpg' %></div>
      <p class="biggest bold top50">「つ」です！</p>
      <p class="bold bigger">三重県の「津」に来ています！</p>

      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>これから本日お会いする鈴木さんが待つ建物へ向かいます！</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'interview3/intro3.jpg' %></div>
      <h2 class="top30">到着！</h2>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>ってこの建物、巨大すぎる！！ここは・・・</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'interview3/intro4.jpg' %></div>
      <div class="dialog_box both30">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>そうです！三重県庁です！つまりこれからお会いするのは・・・</p></div>
      </div>
      <div class="big_image top50"><%= image_tag 'interview3/hairstyle.jpg' %></div>
      <p>おっとその前に、失礼がないように髪型をセット！(｀・ｖ・´)<br>今日はいつもより毛先を遊ばせています！</p>
      <div class="big_image top50"><%= image_tag 'interview3/room1.jpg' %></div>
      <p class="bottom50">通されたのはこちらのお部屋。緊張の中、待つ事数分・・・</p>
      <div class="big_image top50"><%= image_tag 'interview3/governor.jpg' %></div>
      <p class="bold bigger"><span class="blue bigger">三重県知事</span><br><span class="blue super_bigger">鈴木英敬(えいけい)</span>さん登場！</p>

      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p class="bold super_bigger">どうも！鈴木です！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>(すごい声量・・・)鈴木知事、本日はよろしくお願いします！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p class="bold super_bigger">よろしく！</p></div>
      </div>
      <p class="bold">文字では伝わりませんが鈴木知事、すごく声が大きくてパワフルです！</p>
      <h2 class="top50">インタビュー開始！</h2>
      <div class="big_image top30"><%= image_tag 'interview3/gift2.jpg' %></div>
      <p>まずは恒例のおみやげタイム！</p>
      <div class="big_image top30"><%= image_tag 'interview3/gift.jpg' %></div>
      <p>本日も株式会社ラナ様からいただいた鈴木さんグッズと藤白神社の鈴木さん専用のお守りをプレゼント！</p>
      <div class="dialog_box top50">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p class="bold super_bigger">これめっちゃカッコええな！</p></div>
      </div>
      <div class="big_image top30"><%= image_tag 'interview3/pen.jpg' %></div>
      <p>鈴木専用ボールペンをかなり気に入っていただけたようです！</p>
      <div class="big_image top30"><%= image_tag 'interview3/talking1.jpg' %></div>
      <p>それでは、いつものコーナーから！</p>
      <h2 class="top50">鈴木さん一問一答！</h2>
      <p>鈴木知事に一人の鈴木さんとしてお答えいただきます！</p>

      <h2 class="top30">Q1</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>初めてこの企画のことを聞いた感想をお願いします！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p>実は、第1 回に登場した浜松市の<span class="blue bold">鈴木康友市長</span>や夕張市の<span class="blue bold">鈴木直道市長</span>とお話ししたときに「オモロいなー」ってみんなで言ってました！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>そんなすごいところで話題にしていただいたのは嬉しいです！ (o≧∇≦)o</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p>あと、「鈴木の首長同士で集まってもオモロいなー！」なんて話したりしましたね。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>浜松市、三重県ときて最後は<span class="blue bold">夕張市の鈴木市長</span>ですか！_φ(･_･ﾒﾓﾒﾓ</p></div>
      </div>
      <h2 class="top30">Q2</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>知事に就任されたとき、親戚など周りの鈴木さんの反応はいかがでしたか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p>メチャメチャ喜んでました！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>やっぱり嬉しいですよね！！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p>あ、でも・・・</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>でも？</p></div>
      </div>
      <div class="dialog_box top50">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p class="bold super_bigger">親戚が増えたかな(笑)</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p class="bold bigger">(爆笑)</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p class="bold bigger">まあ、鈴木に限らず有名になると親戚は増えますね。</p></div>
      </div>

     <h2 class="top30">Q3</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>これから期待の鈴木さんはいますか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p class="bold bigger">やっぱりウチの子供たちですね！<br>先日、妻が第２子を授かったばかりですし、期待が膨らみますね！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>おめでとうございます！お子さんにはこれからの鈴木界を支えてほしいですね！</p></div>
      </div>

     <h2 class="top30">Q4</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>鈴木さんならではのエピソードがあれば教えてください！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p>小学生のころに落語研究会に所属していたんですが、当時の芸名が「<span class="blue bold">すずき屋 丸こげ</span>」でした。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>すごい名前ですね！？( ﾟДﾟ)</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p><span class="blue bold">明石家さんま</span>さんにあやかって、魚のスズキと鈴木をかけました。あと、いつも黒い半ズボンをはいてたんで、そこから「丸こげ」と名付けられました。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>小学生なのにすごく設定が細かい(笑)！！</p></div>
      </div>

     <h2 class="top30">Q5</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>鈴木知事は兵庫県のご出身ですが、地元に鈴木さんは多かったですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p>あんまり多くなかったなー。学年に2、3 人くらいだったと思います。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>やっぱり関西は少ないんですね。</p></div>
      </div>

     <h2 class="top30">Q6</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>お隣の愛知県は日本でも鈴木さんの人口がトップクラスですが、三重県はいかがでしょうか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p>県全体ではそこまで多くないですね。<br>ただ、<span class="blue bold bigger">鈴鹿市</span>にある<span class="blue bold bigger">稲生(いのう)</span>という地区では、すごく鈴木さんが多いそうです！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>それは初耳です！</p></div>
      </div>
     <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p>昔は<span class="bold super_bigger">１クラス50人中36人鈴木さん</span>だったという話もありますね。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p class="biggest bold">鈴木率72%！！Σ(ﾟдﾟ;)</p></div>
      </div>

     <h2 class="top30">Q7</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>日本全体では鈴木さんが佐藤さんよりも若干少ないですが、それについてどう思われますか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p class="bold biggest">悔しいです！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>おお！このシリーズで初めてのリアクションです！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p>家族形成を押し付けるのはもちろんダメですが、結婚や出産を希望される鈴木さんたちにはぜひ頑張っていただきたいです！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p class="bold">少子化対策に取り組む鈴木知事らしいご意見ですね！</p></div>
      </div>

     <h2 class="top30">Q8</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>鈴木に生まれてきてよかったですか？その理由も教えてください！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p>よかったです！<span class="bold">苗字が普通なので、下の名前を見てもらいやすい</span>ですよね！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>なるほど！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p>たとえば僕の名前の鈴木英敬、<span class="bold">本名は「<span class="blue">ひでたか</span>」と読むんですが、小さいころから「えいけい」とみんなに呼ばれてましたから。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>子供の頃からの読み方だったんですね！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p>それが今までずっと浸透してきたのも鈴木のおかげですよね。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p class="bold">鈴木知事は今までのえらい鈴木さんたちと比べて鈴木への愛が強いですね！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p class="biggest bold">僕、鈴木大好きなんで！</p></p></div>
      </div>
    <h2 class="top30">Q9</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>車はもちろんスズキですか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p>トヨタです。</p></div>
      </div>
    <h2 class="top30">Q10</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>鈴木さんの代表として、すべての鈴木さんに一言お願いします！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p class="bold"><span class="super_bigger">ぜひ日本一になりましょう！</span><br>そして、鈴木は平凡ですが、それゆえに個性を見てもらえる素晴らしい名前です。自分の個性を発揮してキャラの立った鈴木さんになってください！</p></div>
      </div>
    <h2 class="top30">Q11</h2>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>最後に、一番大切な鈴木さんに一言お願いします！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p class="bold">(妻と子供達へ)「鈴木さんのところは幸せだなー」と言われるような家庭を築けるように一緒に頑張りましょう！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>素敵な回答ありがとうございます！鈴木さん一問一答、終了です！</p></div>
      </div>

      <p class="bold bigger top50 bottom30">せっかくなので、</p>
      <h2>鈴木さん以外のことも聞いてみた</h2>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>いま、知事が特に力を入れているのはどんな事業でしょうか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p class="bold super_bigger">2016 年に開催される「<span class="blue">伊勢志摩サミット</span>」です！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>サミット！！？（˚Д˚ )<br>沖縄とか洞爺湖で行われたあのサミットですか？？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p class="bold bigger">そうなんです！<br>2016年のサミットが三重県の<span class="blue">伊勢志摩地域</span>で開催されることになりました！</p></div>
      </div>
      <div class="big_image"><%= image_tag 'interview3/summit.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>おめでとうございます！<br>では、サミットへの意気込みをお願いします！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p>これまでのサミットは、政府が主体となって財源の確保や運営をするという形式をとっていました。<br>しかし今回は<span class="bold bigger">三重県が主体</span>となって運営します！<span class="bold bigger blue">地方自治体主導による初のサミット</span>と捉えて、関係者一同頑張っていきます！</p></div>
      </div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment bigger bold"><p>2016年は三重県が熱い！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p>現在はサミットに向けて、様々なイベントを行っています！<br><span class="bold">東京でももうすぐイベントがありますよ！</span></p></div>
      </div>
      <h2 class="both30">12/27(日)、28(月)に日本橋でイベント開催！</h2>
      <div class="big_image"><%= image_tag 'interview3/mieterrace.jpg' %></div>
      <p class="bold bigger">（１）「三重県の誇り！食を欲張り体感！」</p>
      <p>日時：平成２７年１２月２７日（日）１３時～１６時</p>
      <p>場所：三重テラス ２Fスペース（東京都中央区日本橋室町２－４－１）</p>
      <p>内容：三重県産食材を使った振る舞い、試食・試飲会及び物販</p>
      <p>※参加無料、申込不要</p>
      <p class="bold bigger">（２）「伊勢志摩サミット開催１５０日前記念トークセッション」（仮）</p>
      <p>日時：平成２７年１２月２８日（月）１３時～１４時</p>
      <p>場所：同上</p>
      <p>出席者：堀口文宏氏（みえの国観光大使）、外務省職員（予定）、鈴木英敬（伊勢志摩サミット三重県民会議会長（三重県知事））</p>
      <p>司会：大西敬子氏（タレント、三重いちごプロモーションキャラクター）</p>
      <p>内容：テーマ「伊勢志摩サミットとは何か、サミット開催によって三重県がどう変わるのか」<br>
        来場者には、三重県育種品種の「かおり野」いちごをプレゼント。</p>
      <p>※参加無料、事前申込必要（先着60 名程度）</p>
      <p class="bold"><a href="http://www.mieterrace.jp/">詳しくはこちら！</a></p>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p class="bold"><span class="bold blue bigger">三重テラス</span>では三重県の名物がいつでもお買い求めいただけます！</span></p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>すみません、三重県ってどんなものが有名なのでしょうか？</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p class="bold">よくぞ聞いてくれました！<br>たとえば・・・</span></p></div>
      </div>
      <div class="half_image_box">
        <div class="half_image"><%= image_tag 'interview3/beef.jpg' %><br><span class="bold">松阪牛</span></div><div class="half_image"><%= image_tag 'interview3/shrine.jpg' %><span class="bold">伊勢神宮</span></div>
      </div>
      <div class="half_image_box">
        <div class="half_image top30"><%= image_tag 'interview3/suzuka.jpg' %><br><span class="bold">鈴鹿サーキット</span></div><div class="half_image top30"><%= image_tag 'interview3/iseebi.jpg' %><span class="bold">伊勢海老</span></div>
      </div>
      <div class="half_image_box">
        <div class="half_image top30"><%= image_tag 'interview3/ninja.jpg' %><br><span class="bold">伊賀忍者</span></div><div class="half_image top30"><%= image_tag 'interview3/akahuku.jpg' %><span class="bold">赤福</span></div>
      </div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p>とかですね。</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>え！？これ全部三重なんですか！？Σ(ﾟДﾟ)</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p class="bold bigger">そうなんです！</span></p></div>
      </div>
      <div class="half_image_box">
        <div class="half_image"><%= image_tag 'interview3/campaign.jpg' %><br><span class="bold">こんなキャンペーンもやってます！</span><br><a href="https://www.kankomie.or.jp/" class="bold">ホームページはこちら！</a></div>
      </div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p>それぞれはすごく有名なのに、三重県にあるっていうことはあまり知られてないんですよね・・・</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>ごめんなさい、<span class="bold">伊勢神宮が三重にある</span>っていうのも今日初めて知りました・・・(ノд・。)</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p>伊勢神宮は津から電車で30 分ほどで着きますよ！<br>インタビューが終わったらぜひ行ってみてください！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>意外と近いんですね！じゃあこの後行ってきます！<br>鈴木英敬知事、本日はどうもありがとうございました！</p></div>
      </div>
      <div class="dialog_box">
        <div class="icon"><%= image_tag 'interview3/icon_governor.png' %></div>
        <div class="comment"><p>ありがとうございました！</p></div>
      </div>
      <h2 class="both30">インタビュー終了後</h2>
      <div class="big_image"><%= image_tag 'interview3/ise1.jpg' %><br><span class="bold">伊勢神宮(外宮)のある<span class="blue bigger">伊勢市駅</span>に到着！</span></div>
      <div class="big_image top50"><%= image_tag 'interview3/ise2.jpg' %><br><span class="bold">駅前は風情がある街並みです！</span></div>
      <div class="big_image top50"><%= image_tag 'interview3/ise3.jpg' %><br><span class="bold">神宮に到着！</span></div>
      <p class="bold super_bigger both30">しかし</p>
      <div class="big_image"><%= image_tag 'interview3/closed.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p>参拝時間がすでに終了していました・・・</p></div>
      </div>
      <p>※参拝時間は12月は午後5時まで、1月~4月は午後６時までです！</p>
      <p class="bold super_bigger both30">でも、最後に奇跡が！！</p>
      <div class="big_image"><%= image_tag 'interview3/restaurant1.jpg' %><br><span class="bold">伊勢市駅前でこんなお店を発見！</span></div>
      <p class="bold super_bigger both30">鈴木の神が降りた！</p>
      <div class="big_image"><%= image_tag 'interview3/restaurant2.jpg' %></div>
      <div class="dialog_box top30">
        <div class="icon"><%= image_tag 'interview3/icon_ono.png' %></div>
        <div class="comment"><p class="bold">というわけで、最後に鈴木水産で三重県産のカキをいただきました！<br>鈴木水産では伊勢エビ、松阪牛も食べられますよ！</p><p class="bold">えらい鈴木さんにインタビュー、次の鈴木さんはあなたかもしません！</p></div>
      </div>
      <div class="cityinfo">
        <h3>伊勢志摩サミット</h3>
        <div class="big_image"><%= image_tag 'interview3/iseshima.jpg' %></div>
        <table>
          <tr class="odd">
            <td>日時：2016年5月26日・27日</td>
          </tr>
          <tr class="even">
            <td>開催地：三重県志摩市賢島</td></tr>
          <tr class="odd">
            <td>大阪、名古屋から近鉄特急でおよそ2時間半！</td>
          </tr>
          <tr class="even">
            <td>地方自治体主導のサミットとして注目されています！</td>
          </tr>
        </table>
      </div>
      <p class="bold city_link">さらに詳しい情報はこちら！<br>
        <a href="http://www.pref.mie.lg.jp/miesummit/" target="_blank">伊勢志摩サミット公式ホームページ</a></p>
      <h2 class="top30">おまけ</h2>
      <p class="bold city_link">三重県出身のタレントさんを起用したPR動画『<span class="blue">三重Uターンサミット</span>』も大好評放映中！<br><iframe width="300" src="https://www.youtube.com/embed/_TBgVyCYk1c?showinfo=0" frameborder="0" allowfullscreen></iframe><br><a href="http://www.mie30.jp/" class="bold">つづきは三重で！</a></p>


    </div>

<!-- twitterスクリプト [head]内や、[body]の終了直前などに配置 -->
<script>
  window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
<!-- facebookスクリプト [head]内や、[body]の終了直前などに配置 -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '529248367239781',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=529229320575019";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
