<div id="interview1">

  <div id="mainimage">
    <%= image_tag 'mainimages/mainimage_report.jpg' %>
  </div>
  <div id="to_top">
    <a href="#mainimage"><%= image_tag 'to_top.png', :width=> '50px' %></a>
  </div>

    <div id="report">
    <div id="content">

      <p>2月10日(水)、麻布十番ivyにて、「鈴木さん限定のミスコン MISS-SUZUKIファイナル」が開催されました！<br>鈴木史に残る伝説のイベントを余すことなくお届けします！</p>

      <h2 class="both30"><span>鈴木さん全員集合！</span></h2>

      <div class="big_image top50"><iframe width="600" height="338" src="https://www.youtube.com/embed/1dNDilgDXzE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe><br>大会テーマソングももちろん鈴木さん、審査員も全員鈴木さんです！</div>

      <p class="both30">MCも当然 鈴木さんです！</p>

      <div class="big_image"><%= image_tag 'report/yuri1.jpg' %><br>MCの鈴木優梨さん。完璧に司会進行をこなしていただきました！</div>

      <h2 class="both30"><span>まずはミスター鈴木の表彰から！</span></h2>
      <div class="big_image"><%= image_tag 'report/gon1.jpg' %></div>
      <div class="big_image top30"><%= image_tag 'report/gon2.jpg' %><br>「日本一かっこいい鈴木さん」として、鈴木勤さんをご招待！表彰させていただきました！</div>

      <p class="top50">えらい鈴木さんたちからのメッセージもご紹介。</p>
      <div class="big_image"><%= image_tag 'report/president.jpg' %></div>
      <div class="big_image top30"><%= image_tag 'report/mayor.jpg' %></div>
      <div class="big_image top30"><%= image_tag 'report/governor.jpg' %></div>

      <h2 class="both50"><span>いよいよ審査スタート！</span></h2>
      <div class="big_image top30"><%= image_tag 'report/program1.jpg' %><br>最初の審査は自己PRタイム！3分の持ち時間でそれぞれの特技を見せてもらいました！</div>
      <div class="big_image top50"><%= image_tag 'report/marie2.jpg' %><br>自分の持ち歌を披露する鈴木まりえさん。会場のボルテージは最高潮に！</div>
      <div class="big_image top50"><%= image_tag 'report/rikako2.jpg' %><br>最後になんと特技の砲丸投げのフォームで会場にチョコを投げる鈴木理香子さん！</div>


      <h2 class="top50"><span>バレンタイン企画も！</span></h2>
      <div class="big_image"><%= image_tag 'report/program2.jpg' %><br>コンテスト当日はバレンタインの直前。ミス鈴木もバレンタイン企画をご用意。<br>「鈴木家の食卓」の動画を上映後、なんとお客さんにその手料理をプレゼントしました！</div>
      <div class="big_image both50"><%= image_tag 'report/present1.jpg' %></div>
      <p class="bold bigger">鈴木家の食卓、動画は<a href="https://miss-suzuki.com/contestants/suzukike">こちら！</a></p>
      <div class="big_image top50"><%= image_tag 'report/present2.jpg' %><br>プレゼントを準備する鈴木さやかさんと鈴木杏奈さん。</div>
      <div class="big_image top50"><%= image_tag 'report/present3.jpg' %><br>見事当選した幸運なお客さんたち。<br>お客さんにも鈴木さんは多かったようです。</div>

      <h2 class="top50"><span>最後は感動的なコーナー!</span></h2>
      <div class="big_image"><%= image_tag 'report/program3.jpg' %><br>最後は「一番大切な鈴木さんにメッセージ」です。それぞれの一番大切な鈴木さんに向けたお手紙を読んでもらうコーナー。佐藤さんのときは涙ありの感動的な企画でしたが・・・？</div>

      <div class="big_image top50"><%= image_tag 'report/letter1.jpg' %></div>
      <div class="big_image top30"><%= image_tag 'report/letter2.jpg' %></div>
      <p class="both30">家族への感謝の気持ちを伝える鈴木さんたち。会場も感動的なムードに。</p>
      <div class="big_image top30"><%= image_tag 'report/marie3.jpg' %><br>これまでの発想を覆す「手紙」を持ってきてくれた鈴木まりえさん。<br>確かに大きさまでは指定していませんでした・・・(汗)</div>

      <h2 class="top50"><span>いよいよ結果発表！</span></h2>
      <p>投票と集計が終わり、ついにミス鈴木と準ミス鈴木が決定しました。</p>
      <div class="big_image top50"><%= image_tag 'report/asako2.jpg' %><br><span class="bold bigger">準ミス鈴木は鈴木朝子さん！</span><br>人生で初めて出場したというミスコンで見事入賞！就活のときの話のネタにしてください！</div>

      <p class="both50 bold super_bigger">「日本一かわいい鈴木さん」に選ばれたのは・・・・</p>

      <div class="big_image top50"><%= image_tag 'report/rikako3.jpg' %><br><span class="bold bigger">ミス鈴木は鈴木理香子さん！</span><br>「日本一かわいい鈴木さん」の栄冠をつかんだのは愛知県出身の鈴木さんでした！</div>

      <h2 class="top50"><span>スペシャルゲスト登場！</span></h2>
      <div class="big_image"><%= image_tag 'report/wakkii1.jpg' %><br>MISS-SUZUKIの締めくくりはワッキーさんとのコラボ企画！<br>ワッキーさんにプロデュースしていただいた顔はめパネルが登場！<br>藤代神社のために、結婚式をイメージしたパネルをデザインしてくれました！</div>
       <div class="big_image top50"><%= image_tag 'report/wakkii2.jpg' %><br>パネルのこだわりやコンセプトを語るワッキーさん。顔はめパネルに懸ける想いは並大抵ではありません。</div>
      <p class="bold bigger both30">顔はめパネルプロデュースの公式サイトは<a href="http://wacky-kaohame.com/">こちら！</a></p>
      <p class="both50 bold super_bigger">いざ、入顔！！</p>
      <div class="big_image"><%= image_tag 'report/wakkii3.jpg' %><br>「最高です！」とミス鈴木の理香子さん。</div>

      <p>こちらのパネルはスタッフが後日、藤白神社に奉納させていただきます。<br>ミス鈴木はこれにて終了です！みなさまのおかげで大盛況のイベントとなりました！</p>

      <h2 class="top50"><span>イベント終了後</span></h2>
      <div class="big_image"><%= image_tag 'report/after_event1.jpg' %><br>鈴木界の2トップが記念撮影！おめでとうございます！</div>

      <div class="big_image top50"><%= image_tag 'report/after_event2.jpg' %><br>イベント終了後、舞台裏でのひとコマ。<br>ライバル同士ピリピリした雰囲気になるかと思いきや、鈴木さんたちは終始仲良しでした！<br>やっぱり鈴木さんだけの第六感があるんでしょうか？</div>

      <p class="bold both50">以上でイベントレポートは終了です！ミス鈴木に選ばれた鈴木理香子さん、準ミスに選ばれた鈴木朝子さん、本当におめでとうございます！<br>そして、このイベントにご協力してくださった全ての鈴木さん、本当にありがとうございました！</p>

    </div>
    </div>


