<p>
  "鈴木さんだらけのアイドルグループへの応募がありました"
</p>
<div class="idols">
  <ul>
    <li>名前 : <%= @idol.name %></li>
    <li>Email: <%= @idol.email %></li>
    <li>年齢 : <%= @idol.age %></li>
    <li>身長 : <%= @idol.height %></li>
    <li>出身 : <%= @idol.hometown %></li>
    <li>最寄 : <%= @idol.station %></li>
    <li>日時 : <%= @idol.date %></li>
    <li>プロダクション所属 : <%= @idol.production %> </li>
    <li>学校 : <%= @idol.school %></li>
  </ul>
</div>
