<p>
  "鈴木さんだらけのアイドルグループ"
</p>
<div class="idols">
  <%= @idol.name %>
  <%= @idol.email %>
  <%= @idol.age %>
  <%= @idol.school %>
  <%= @idol.height %>
  <%= @idol.hometown %>
  <%= @idol.station %>
  <%= @idol.email %>
  <%= @idol.production %>
  鈴木さんだらけのアイドルグループに申し込みいただきありがとうございます。
  今回のプロジェクトの統括をさせていただきます青山学院大学プログラミングサークル PIXELと申します。
  ここから、アイドルグループの説明会にご参加いただくために必要事項をご連絡いたします。
  【①顔写真の添付】
  →プリクラ以外の形式でお写真の添付を一枚お願い致します。顔が隠れすぎていたり、複数人で写っていてご本人の判別ができないものはご遠慮ください。
  こちらのメールに添付してご返信お願い致します。
  【②日程の調整】
  説明会は皆様のスケジュールに合わせて数回実施予定です。
  場所は「青山学院大学 渋谷キャンパス」17号館の1Fカフェテリアを予定しております。
  以下の日程でご参加できるものを選択してください。もしいずれも参加不可の場合は別途調整いたします。
  ・3/8(火)18:00-19:00
  ・3/8(火)19:00-20:00
  ・3/11(金)18:00-19:00
  ・3/11(金)19:00-20:00
  ・3/15(火)18:00-19:00
  ・3/15(火)19:00-20:00
  ・3/18(金)18:00-19:00
  ・3/18(金)19:00-20:00
</div>
