<div id ="create">
  <h1>マイページ写真削除フォーム</h1>
  <div id="entry_form">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= form_tag('/contestant_image/destroy') do %>
      <div class="form1">
        <table class="table">
          <% @contestant_images.each do |contestant_image| %>
            <tr><td><%= image_tag contestant_image.profile_image.thumb_at_mypage %></td></tr>
            <tr><td>上記の写真を削除<%= check_box_tag 'delete_images[][delete]', false, false, {} %></td></tr>
            <tr><td><%= hidden_field_tag nil, contestant_image.id, name: "delete_images[][id]" %></td></tr>
          <% end %>
        </table>
      </div>
      <p><%= submit_tag("送信する", class: "submit_btn") %></p>
    <% end %>
    </div><!-- /#entry_form -->
  </div><!-- /#create -->
  <div id="banner_big">
    <%= image_tag 'banner/cosmeken.jpg' %>
  </div>
