<div id="rules">
  <div id="mainimage">
    <%= image_tag 'mainimages/mainimage_idolgroup.jpg' %>
  </div>
  <div id="content">
    <div class="menu">
      <ul>
        <li><a href="idols#content">概要</a></li>
        <li><a href="idols/info#content">応募要項</a></li>
        <li>申し込み</li>
      </ul>
    </div>
  </div>

  <h1>お問い合わせ</h1>

<%= form_for @idol, url: {:action => 'thankyou'} do |f| %>

  <div class="form1">
  <table class="table">
    <tr><td>お名前</td></tr>
    <tr><td><%= f.hidden_field :name %><%= @idol.name %></td></tr>
    <tr><td>年齢</td></tr>
    <tr><td><%= f.hidden_field :age %><%= @idol.age %></td></tr>
    <tr><td>(学生の場合は)学校名と学年</td></tr>
    <tr><td><%= f.hidden_field :school %><%= @idol.school %></td></tr>
    <tr><td>身長</td></tr>
    <tr><td><%= f.hidden_field :height %><%= @idol.height %></td></tr>
    <tr><td>出身地</td></tr>
    <tr><td><%= f.hidden_field :hometown %><%= @idol.hometown %></td></tr>
    <tr><td>ご自宅の最寄駅</td></tr>
    <tr><td><%= f.hidden_field :station %><%= @idol.station %></td></tr>
    <tr><td>メールアドレス</td></tr>
    <tr><td><%= f.hidden_field :email %><%= @idol.email %></td></tr>
  </table>
  </div>
  <%= f.submit '送信', :class => 'btn btn-primary' %>
<% end %>


  <div id="banner_big" style="margin-top:10px;">
    <%= ad_img %>
  </div>
</div>
