<div id="rules">
  <div id="mainimage">
    <%= image_tag 'mainimages/mainimage_idolgroup.jpg' %>
  </div>
  <div id="content">
    <div class="menu">
      <ul>
        <li><a href="idols#content">概要</a></li>
        <li><a href="idols/info#content">応募要項</a></li>
        <li>申し込み</li>
      </ul>
    </div>
  </div>

  <h1>お問い合わせ</h1>

<%= form_for @idol, :url => idol_thanks_path do |f| %>
  <table class="table">
    <tr>
      <th>名前</th>
      <td>
        <%= f.hidden_field :name %>
        <%= @idol.name %>
      </td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td>
        <%= f.hidden_field :email %>
        <%= @idol.email %>
      </td>
    </tr>
    <tr>
      <th>お問い合わせ内容</th>
      <td>
        <%= f.hidden_field :message %>
        <%= simple_format(@idol.message) %>
      </td>
    </tr>
  </table>
  <%= f.submit '送信', :class => 'btn btn-primary' %>
<% end %>


  <div id="banner_big" style="margin-top:10px;">
    <%= ad_img %>
  </div>
</div>

