<div id ="login" style="background-image:url(<%= asset_path "regist_background.jpg" %>); background-size:cover;" />
  <div id="login_form">
  <h1>会員登録</h1>
  <% if @voter.errors.any? %>
    <%= render 'users/error_msg', messages: @voter.errors.full_messages %>
  <% end %>
  <%= form_for @voter, url: { action: :create } do |f| %>
    <div class="form1">
      <table class="table">
        <tr><td><%= f.label :email %></td></tr>
        <tr><td><%= f.email_field :email, class: "half" %></td></tr>
        <tr><td><%= f.label :password %>(8文字以上30文字以内の半角英数記号)</td></tr>
        <tr><td><%= f.password_field :password, class: "half" %></td></tr>
        <tr><td><%= recaptcha_tags ssl: true, :width =>'80%' %></td></tr>
      </table>
    </div>
    <p><a href="/terms" target="_blank">利用規約</a>に同意する<%= f.check_box :agreement %></p>
    <p><%= f.submit "登録", class: "submit_btn" %></p>
  <% end %>
  </div>
</div><!-- /#login -->
