<div id ="create">
<h1>会員登録</h1>
  <div id="entry_form">
    <% if @voter.errors.any? %>
      <%= render 'user/error_msg', messages: @voter.errors.full_messages %>
    <% end %>
    <%= form_for @voter, url: { action: :create } do |f| %>
      <div class="form1">
        <table class="table">
          <tr><td>====================Stub=====================</td></tr>
          <tr><td><%= f.label :email %></td></tr>
          <tr><td><%= f.email_field :email, class: "half" %></td></tr>
          <tr><td><%= f.label :password %></td></tr>
          <tr><td><%= f.password_field :password, class: "half" %></td></tr>
        </table>
      </div>
      <p><a href="/terms" target="_blank">利用規約</a>に同意する<%= check_box_tag 'voter[agreement]', true, false, {} %></p>
      <p><%= f.submit "登録", class: "submit_btn" %></p>
    <% end %>
  </div><!-- /#entry_form -->
</div><!-- /#create -->
<div id="banner_big">
  <%= image_tag 'banner/cosmeken.jpg' %>
</div>
