<div id ="create">
  <h1>ログイン</h1>
  <div id="entry_form">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= form_tag user_sessions_path do %>
      <div class="form1">
        <table class="table">
          <tr><%= label_tag "メールアドレス" %><tr><br>
          <tr><%= text_field_tag :email, params[:email] %><tr><br>
          <tr><%= label_tag "パスワード"  %><tr><br>
          <tr><%= password_field_tag :password %><tr><br>
          <tr><%= check_box_tag :remember_me, 1, params[:remember_me] %><tr>
          <tr><%= label_tag "次回から自動でログインする" %><tr><br>
        </table>
      </div>
      <p><%= submit_tag "Log in", class: "submit_btn" %></p>
    <% end %>
  </div>
</div>
